<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <consumers>
    <keys>
      <clear/>
      <add name="googleClientId" value="948651087073.apps.googleusercontent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="googleClientSecret" value="CMiOSaIITBrEwEh_0uXWXQVs" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="googleRedirectUrl" value="https://service.teamlab.com/oauth2.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

      <add name="wll_appid" value="0000000048041A37" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="wll_secret" value="NAhlHK9Pyn4wRVT4tGexXcGZTCbLeFdW" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="wll_returnurl" value="http://service.teamlab.com/import5/live/windowslive.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="wll_policyurl" value="http://service.teamlab.com/import5/live/policy.html" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      
      <add name="liveConsumerKey" value="auth.teamlab.info" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="liveConsumerSecret" value="Vb4PZr05O3Czdyyn0ItMENOj" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

      <add name="yConsumerKey" value="dj0yJmk9eHNZM1d4TWtHTGx0JmQ9WVdrOVVVaDNlamw0TkcwbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD01Ng--" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="yConsumerSecret" value="001b2d235b496c672b65d366b90edf35c00654fc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </keys>
  </consumers>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
