<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="consumers" type="ASC.Thrdparty.Configuration.ConsumerConfigurationSection, ASC.Thrdparty, Version=1.0.0.0, Culture=neutral"/>
  </configSections>

  <appSettings>
    <add key="domain" value=""/>
  </appSettings>

  <consumers>
    <keys>
      <clear/>
      <add name="googleClientId" value="876334666803-uglpl9qigk3596g7p8lo98ifghd3bbl3.apps.googleusercontent.com"/>
      <add name="googleClientSecret" value="cVCvu1Qy-mBz23S8TnNK2mzM"/>
      <add name="googleRedirectUrl" value="https://service.teamlab.info/oauth2.aspx"/>
      <add name="mail.googleUrlTokenEndpoint" value="https://accounts.google.com/o/oauth2/token"/>
      <add name="mail.googleUrlAuthorizationEndpoint" value="https://accounts.google.com/o/oauth2/auth?access_type=offline&amp;approval_prompt=force"/>
      <add name="mail.googleScopes" value="https://mail.google.com/ https://www.googleapis.com/auth/userinfo.email"/>
      <!--windows live-->
      <add name="wll_appid" value="000000004C035607"/>
      <add name="wll_secret" value="wtYt1RbmKPBe1bc8w81ibDebbkkbrxfx"/>
      <add name="wll_returnurl" value="http://auth.teamlab.info/Live/WindowsLive.aspx"/>
      <add name="wll_policyurl" value="http://auth.teamlab.info/Live/policy.html"/>
      <!--windows live OAuth-->
      <add name="liveConsumerKey" value="auth.teamlab.info"/>
      <add name="liveConsumerSecret" value="Vb4PZr05O3Czdyyn0ItMENOj"/>
      <!--yahoo-->
      <add name="yConsumerKey" value="dj0yJmk9WjFvTU9DNTFXVUZ0JmQ9WVdrOU1EZFpZVVV5TXpJbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD0yNg--"/>
      <add name="yConsumerSecret" value="835f4ac439d9a05f49afda10c19842076ef1d2d0"/>
    
  
    </keys>
  </consumers>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="None"/>
    <customErrors mode="RemoteOnly"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="HttpContextDispose"/>
      <add name="HttpContextDispose" type="ASC.Common.Web.DisposableHttpContextHttpModule, ASC.Common" />
    </modules>
  </system.webServer>

</configuration>