<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="consumers" type="ASC.Thrdparty.Configuration.ConsumerConfigurationSection, ASC.Core.Common" />
    <section name="storage" restartOnExternalChanges="true" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage" />
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <clear />
    <add name="default" connectionString="Server=localhost;Database=onlyoffice;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8;AutoEnlist=false" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="core.machinekey" value="1123askdasjklasbnd" />
    <add key="api.virtual-dir" value="" />
    <add key="api.host" value="" />
    <add key="api.port" value="" />
    <add key="api.url" value="~/api/2.0/" />
    <add key="core.base-domain" value="localhost" />
    <add key="web.enable-signalr" value="false" />
  </appSettings>

    <consumers configSource="web.consumers.config" />
  <storage file="..\..\..\..\..\web\studio\ASC.Web.Studio\web.storage.config" />

</configuration>