<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="consumers" type="ASC.Thrdparty.Configuration.ConsumerConfigurationSection, ASC.Thrdparty, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
  <consumers>
    <keys>
      <clear/>
      <add name="zoho" value="078404dafeb6d454060160c4ce22f374"></add>
    </keys>
  </consumers>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
