<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="healthcheck" type="ASC.HealthCheck.Configuration.HealthcheckConfigurationSection, ASC.HealthCheck" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="notify" type="ASC.Notify.Config.NotifyServiceCfgSectionHandler, ASC.Notify"/>
  </configSections>

  <healthcheck>
    <tenant tenantAlias="test-healthcheck" hubUrl="http://localhost:9899/signalr" />
    <user userId="511be1d4-5010-4a7b-974c-b59cc37d1936" />
  </healthcheck>
  
  <notify connectionStringName="default" />
  
  <appSettings>
    <add key="web.client.cache.resetkey" value="20151221023350" />
    <add key="healthcheck.portals-web-config-path" value="..\..\App.config" />
    <add key="healthcheck.portals-web-config-path2" value="..\..\App.config" />
    <add key="phone-numbers" value="000,111" />
    <add key="emails" value="qwerty@qwerty.com,asdfg@asdfg.com" />
    <add key="send-notify" value="true" />
    <add key="send-email" value="true" />
    <add key="send-sms" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <log4net>
    <logger name="ASC">
      <level value="ALL" />
      <appender-ref ref="HealthCheck" />
    </logger>
    <appender name="HealthCheck" type="ASC.Common.Logging.SelfCleaningAppender, ASC.Common">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder" />
          <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
        </converter>
        <conversionPattern value="%folder{SystemLogFolder}onlyoffice\%folder{ParentFolderName}8.0\HealthCheck\OnlyOffice.HealthCheck.log" />
      </file>
	  <encoding value="utf-8"/>
	  <staticLogFileName value="true" />
	  <preserveLogFileNameExtension value="true"/>
	  <rollingStyle value="Composite"/>
	  <datePattern value=".MM-dd"/>
	  <maximumFileSize value="50MB"/>
	  <maxSizeRollBackups value="-1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
