body
{
	margin: 4px;
}

/*
The following rules apply to XML documentation format tags that have the 
"doc" namespace applied in design mode (DocProject adds the namespace
automatically based on the xmlDocumentationFormatTags attribute in the
DaveSexton.DocProject.dll.config file).  The "doc" namespace is not 
required in source mode.
*/
doc\:see
{
	display: inline;
	color: Green;
	text-decoration: underline;
}

doc\:c
{
	display: inline;
	font-family: Courier New;
}

doc\:code
{
	display: block;
	white-space: pre;
	font-family: Courier New;
	background-color: #DFDFDF;
	border: solid 1px Gray;
}

doc\:note
{
	display: block;
	background-color: #DFDFFF;
	border: solid 1px Navy;
}

doc\:para
{
	display: block;
}

doc\:list
{
	display: block;
	border: solid 1px navy;
	margin: 0;
	padding: 0;
}

doc\:item, doc\:listheader
{
	display: block;
	margin: 0;
	padding: 0;
}

doc\:term
{
	display: table-cell;
	border: solid 1px Navy;
}

doc\:description
{
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
}

doc\:paramref
{
	display: inline;
	color: Olive;
	text-decoration: underline;
}

doc\:typeparamref
{
	display: inline;
	color: Maroon;
	text-decoration: underline;
}