/*
(c) Copyright Ascensio System SIA 2010-2014

This program is a free software product.
You can redistribute it and/or modify it under the terms 
of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of 
any third-party rights.

This program is distributed WITHOUT ANY WARRANTY; without even the implied warranty 
of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see 
the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html

You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.

The  interactive user interfaces in modified source and object code versions of the Program must 
display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 
Pursuant to Section 7(b) of the License you must retain the original Product logo when 
distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under 
trademark law for use of our trademarks.
 
All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
*/

/* Styles for validation helpers
-----------------------------------------------------------*/
/*headers*/
/* >> The Magnificent CLEARFIX << */
.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix
{
    display: inline-block;
}
* html .clearfix
{
    height: 1%;
}
/* Hides from IE-mac \*/
.clearfix
{
    display: block;
}

.lab
{
    color: #a1ceed;
}

.toc
{
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

ul code { background-color: #F4F8F9;}
code
{
    background-color: #fff;
}

.treeview a    
{   
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.treeview li  
{    
    color: #666;
    padding: 3px 0 6px 12px;
    font-size:12px;
    }
.treeview li a {
    text-decoration:none;
}    

.treeview .selected
{
    color: #3d4a6b;
    display: inline-block;
    font-weight: bold;
    max-width: 150px;
    text-decoration: none;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;  
}

.treeview li.collapsable {
    background-position:0 10px;
}

.toc-separator
{
    clear: left;
}

.toc-separator span
{
    display: block;
    background: #FFF;
    float: left;
}

.toc-separator .line
{
    float: none;
    height: 1px;
    padding-top: 18px;
    border-bottom: solid 1px #AAA;
}

/*param*/
.parameter
{
    border-bottom: 1px solid #EEE;
    padding: 8px 5px;
}
.parameter:first-child
{
    border-top: 1px solid #EEE;
}
.parameter:hover
{
    background-color: #F8F8F8;
}
.parameter .param
{
    display: block;
    float: left;
    width: 220px;
    color: #333;
    font-weight: bold;
}
.parameter .param span
{
    display: block;
    color: #999;
    font-weight: normal;
}
.parameter p
{
    margin-left: 220px;
}

pre
{
    padding: 0.5em;
    margin: 1em 0;
    border: 1px solid #CCC;
    background-color: #F8F8F8;
    color: #222;
    line-height: 1.3;
}

span.bracket
{
    color: #090;
    font-weight: normal;
}
a.param-name
{
    color: #36C;
}

.auth,.auth a {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-indent: -1000em;
    line-height: 16px;
}

.auth
{
    background-image: url("sprite/sprite.png");
    background-position: -10px -183px;
}

.tip {
    cursor: pointer;
}

.logo
{
    background: url("sprite/sprite.png") no-repeat 0 -10px transparent;
    height:58px;
    width: 190px;
    display:inline-block;
    float:left;
}

.betta
{
    display:inline-block;
    background-image: url("sprite/sprite.png");
    background-position: -10px -88px;
    height:32px;
    width:17px;
    float:left;
    margin-left:5px;
    }

.dashboard .thumbnail
{
    text-align: center;
}
.topbar 
{
    height: 58px;
}

.aside
{
    width: 243px;
    float: left;
    margin-left: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.aside > ul {padding-left:10px;}

.main
{
    width: 677px;
    float: left;
    margin-left: 20px;
}
.first
{
    margin-left: 0;
}

.highlite, .highlite:hover
{
    background-color: #dce7fd;
}

.footer
{
    background-color: #DEDFE1;
    clear: both;
    height: 42px;
    margin-top: -68px;
    min-width: 1022px;
    position: relative;
    padding-top: 26px;
    border-top:none;
    color: #555555;
    font-size: 13px;
    }
    
#container 
{
    margin-bottom: -68px;
    min-height: 100%;
    }    
        
body, html {
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
    font-family:Arial;
    background-color:#fff;
}

.header {    
    background-color:#3d4a6b;
    height:58px;
    }
    
.header .pull-left 
{
    margin-top:10px;
    }    
    
.header .pull-left input 
{
    height:26px;
    background-color:#fff;
    width:656px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    font-size:14px;
    border:1px solid transparent;
    }    
    
.header .pull-left .search    
{
    background-image: url("sprite/sprite.png");
    background-position: -10px -140px;
    background-repeat: no-repeat;
    height: 23px;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 23px;
    }

.topbar .header .pull-left input:-moz-placeholder {color:#9a9a9a;}   

.topbar .header .pull-left input::-webkit-input-placeholder { color:#9a9a9a;}

 /*Internal pages*/
 
 #main 
 {
     margin-top:85px;
     font-size:13px;
     padding-bottom: 100px;
     }   
     
*:first-child+html #main { padding-top:85px;}
  
.toc-separator span 
{
    background-color:transparent;
    }

.alert-message.block-message 
{
    background-color: #fff;
    border-color: #dae5eb;
    margin-left:10px;
    text-shadow:none;
}

.aside .treeview.help li {padding-left:0;}

h1,h2,h3,h4{
    color:#3d4a6b;
    text-transform: uppercase;
}

h1 {font-size: 24px;}
h2{font-size: 20px;}
h3{font-size: 18px;}

pre{background-color:#fff;}

.tabs > li.active > a 
{
    background-color: #fff;
    border-color: #d5d8e0;
    color: #666;
}

.tabs > li > a 
{
    border: 1px solid #dae5eb;
    background-color:#f6f7f9;
    color:#3d4a6b;
}
.tabs > li > a:hover {
    border: 1px solid #dae5eb;
}

.btn.info, .alert-message.info 
{
    background-color: #5a73b0;
    background-image:none !important;
    padding: 12px 16px;
    margin-left:10px;
    text-shadow:none;
    
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.btn.info, .alert-message.warning 
{
    margin-left:10px;
    padding: 12px 16px;
    text-shadow:none;
}

.zebra-striped tbody tr:nth-child(2n) td 
{
    background-color: #fff;
}

thead  
{
    background-color: #fff;
}

table 
{
    border: 1px solid #dae5eb;
}

table a {color:#3d4a6b;}

h2.toc-separator {
    color:#3D4A6B;
    font-size:13px;
    font-weight:bold;
    }

li {color:Black;}
ul.tabs>li>a {text-decoration:none;}
a  {color: #3d4a6b;text-decoration:underline;}
a:hover{color: #3d4a6b;text-decoration:none;}

.expandable>a, .collapsable>a {text-decoration:none;}

a.BackToTop 
{
    background-color: #5a73b0;
    border-color: #3d4a6b;
  
    border-style: solid;
    border-width: 1px;
    border-bottom:none !important;
    bottom: 55px; 
    color:#fff;
    cursor:pointer;
    display:block;
    height:25px;      
    padding-top:6px;
    position:absolute;
    right:0;  
    text-align:center;
    text-decoration:none;
    width:103px;
    
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;   
    }
    
.treeview li.expandable 
{
    background-image: url("sprite/sprite.png");
    background-position: -6px -211px;
}
.treeview li.collapsable {
    background-image: url("sprite/sprite.png");
    background-position: -6px -234px;
}    

.parameter:first-child {
    border-top: 1px solid #dfdfdf;
}
.parameter {
    border-bottom: 1px solid #dfdfdf;
    }

.topbar input,
.topbar input:hover {color:#000;}
