/*
 *
 * (c) Copyright Ascensio System Limited 2010-2015
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


/* Styles for validation helpers
-----------------------------------------------------------*/

/*clearfix*/
.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix
{
    height: 1%;
}

.clearfix
{
    display: block;
}

/*global*/
h1, h2, h3, p, pre, a, code, em, img, strong, dd, dl, dt, li, ul, ol, form, label, button, table, tbody, tfoot, thead, tr, th, td
{
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
}

ul
{
    list-style: disc outside none;
    margin: 8px 0 8px 24px;
}

li
{
    margin: 0 0 10px;
}

ol
{
    margin: 8px 0 8px 20px;
}

ol li {
    margin-bottom: 18px;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

b
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

/*logo*/
.logo
{
    background: url("img/sprite.png") no-repeat 0 -16px transparent;
    height: 50px;
    width: 261px;
    display: inline-block;
    float: left;
}

/*layout*/
body, html
{
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 14px;
    color: #333;
    background: #fff;
}

.layout-table
{
    border: medium none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

    .layout-table tr,
    .layout-table td
    {
        border: medium none;
        vertical-align: top;
    }

.layout-table-header
{
    background-color: #3d4a6b;
    height: 50px;
    margin: 0;
    padding: 0 24px;
}

.layout-header
{
    width: 100%;
}

.layout-table-side
{
    height: 100%;
    margin: 0;
    padding: 30px 0 30px 24px;
    width: 261px;
}

.layout-side
{
    border-right: 1px solid #ccc;
    height: 100%;
    overflow: hidden;
    padding: 0 24px 0 0;
    text-overflow: ellipsis;
    width: 236px;
}

.layout-table-content
{
    margin: 0;
    padding: 30px 24px;
}

.layout-content
{
    margin-top: 20px;
    max-width: 947px;
    min-width: 691px;
    width: 100%;
}
    .layout-content.center
    {
        margin: 20px auto 0;
    }

/*table*/
.table
{
    border: medium none;
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
}

    .table td
    {
        border: medium none;
        vertical-align: middle;
        padding: 15px 16px 22px;
        font-size: 12px;
    }

        .table td:first-child
        {
            padding-left: 8px;
        }

        .table td:last-child
        {
            padding-right: 8px;
        }

    .table .tablerow
    {
        border-bottom: 1px solid #d7d8dc;
    }

    .table thead td
    {
        font-weight: bold;
        padding-top: 0;
        padding-bottom: 4px;
    }

    .table.hover tbody .tablerow:hover
    {
        background-color: #e5e5e5;
    }

    .table .infotext
    {
        color: #999;
    }

/*links*/
a, a:hover, a:visited
{
    color: #333;
    text-decoration: none;
}

.dotted
{
    border-bottom: 1px dotted;
}

    .dotted:hover
    {
        border-bottom: medium none;
    }

.underline, .fakelink
{
    text-decoration: underline;
}

    .underline:hover
    {
        text-decoration: none;
    }

    .fakelink:hover
    {
        text-decoration: underline;
    }

.uppercase
{
    text-transform: uppercase;
}

/*headers*/
h1
{
    color: #333333;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    position: relative;
}

    h1 .up, h1 .up:hover
    {
        background-color: #dedede;
        background-image: linear-gradient(to bottom, #f3f3f3 0, #dedede 100%);
        background-repeat: repeat-x;
        border: 1px solid #bfbfbf;
        border-radius: 2px;
        float: left;
        margin: 0 8px 0 0;
        padding: 4px;
        text-decoration: none;
    }

        h1 .up:after
        {
            background: url("img/sprite.png") no-repeat scroll -6px -180px transparent;
            content: "";
            display: block;
            height: 12px;
            width: 12px;
        }

    h1 .hdr
    {
        text-transform: uppercase;
    }

    h1 .auth
    {
        color: #666;
        font-size: 12px;
        left: 32px;
        line-height: 12px;
        position: absolute;
        text-transform: none;
        top: 28px;
    }

h2
{
    color: #3d4a6b;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;
    margin-top: 30px;
}

.header-gray
{
    background-color: #ebebeb;
    font-size: 14px;
    margin-top: 32px;
    padding: 6px 8px;
}

#clipLink
{
    background: url("img/sprite.png") no-repeat scroll 0 -132px transparent;
    float: right;
    font-size: 12px;
    line-height: 20px;
    padding-left: 24px;
}

.list-header
{
    margin: 32px 0 16px;
}

.dscr {
}

/*paragrath*/
p
{
    font-size: 14px;
    margin: 9px 0 18px;
}

/*top navigation*/
.top-nav
{
    float: left;
    height: 50px;
    margin: 0;
}

    .top-nav li
    {
        display: block;
        float: left;
        padding: 0 20px;
    }

        .top-nav li.active
        {
            background-color: #333f5b;
        }

    .top-nav a
    {
        color: #cbcbcc;
        font-size: 14px;
        line-height: 50px;
        text-decoration: none;
    }

        .top-nav a:hover
        {
            color: #999999;
        }

/*search form*/
.search-box
{
    display: block;
    height: 24px;
    margin-bottom: 18px;
    white-space: nowrap;
    width: 236px;
}

.search-input
{
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 2px;
    float: left;
    width: 186px;
    height: 18px;
    line-height: 18px;
    position: relative;
}

.search-box input,
.search-box input:focus
{
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #666;
    display: inline-block;
    font-size: 13px;
    outline: none;
    width: 166px;
    padding: 0;
    top: 2px;
    height: 18px;
    line-height: 18px;
    position: absolute;
}

.search-clear
{
    display: inline-block;
    background: url("img/sprite.png") no-repeat scroll -4px -204px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 4px;
    display: none;
}

    .search-clear:hover
    {
        background: url("img/sprite.png") no-repeat scroll -4px -220px;
    }

.search-box .btn
{
    background: url("img/sprite.png") no-repeat scroll 8px -152px, #1a76a6;
    background: url("img/sprite.png") no-repeat scroll 8px -152px, linear-gradient(to bottom, #59b1e2, #1a76a6);
    border: medium none;
    border-radius: 2px;
    height: 24px;
    margin-left: 4px;
    padding: 0;
    width: 40px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
}

    .search-box .btn:hover
    {
        background: url("img/sprite.png") no-repeat scroll 8px -152px, #3f96c3;
        background: url("img/sprite.png") no-repeat scroll 8px -152px, linear-gradient(to bottom, #78bfe8, #3f96c3);
    }

/*start page*/
.products
{
    margin: 140px auto 0;
    text-align: center;
}

.products-info
{
    padding: 0 10px;
}

.product-list .product:last-child
{
    margin-right: 0;
}

.product
{
    display: inline-block;
    font-size: 18px;
    width: 160px;
    margin-right: 75px;
    text-align: center;
}

/*code example*/
pre
{
    border: 1px solid #CCC;
    background-color: #fff;
    border-radius: 3px;
    display: block;
    font-family: Monaco,Andale Mono,Courier New,monospace;
    font-size: 12px;
    line-height: 18px;
    margin: 18px 0 24px;
    padding: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre.hljs {
    padding-left: 35px;
}

/*note block*/
.note
{
    color: #808080;
    padding: 10px 30px 10px 50px;
    text-align: justify;
    display: block;
    background: #f4f4f4;
    margin: 16px 0;
    line-height: 1.3em;
    background: #F4F4F4;
    min-height: 22px;
    position: relative;
    font-size: 12px;
}

    .note:before
    {
        content: 'N';
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        left: 15px;
        color: #808080;
        top: 10px;
    }

    .note:after
    {
        content: 'B:';
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        left: 22px;
        color: #808080;
        top: 10px;
    }

/*Highliter*/
.bracket
{
    color: #090;
}

.param-name
{
    color: #36C;
}

.search-result
{
    color: #e34603;
}

/*treeview*/
.treeview .collapsable-hitarea
{
    background: url("img/sprite.png") no-repeat -4px -92px transparent;
}

.treeview .expandable-hitarea
{
    background: url("img/sprite.png") no-repeat -4px -72px transparent;
}

.forum, .forum:visited
{
    background: url("img/sprite.png") no-repeat scroll -4px -113px;
    padding-left: 20px;
}

    .forum:hover
    {
        text-decoration: underline;
    }

#embeddedEditor
{
    min-height: 550px;
    background: #f1f1f1;
    border: 1px solid #cccccc;
}

.button:hover
{
    background-color: #ebebeb;
    background-image: linear-gradient(to bottom, #f3f3f3 0, #ebebeb 100%);
    border-color: #bfbfbf;
    color: #666666;
}

.button, .button:visited, .button:active
{
    background-color: #dedede;
    background-image: linear-gradient(to bottom, #f3f3f3, #dedede);
    background-repeat: repeat-x;
    border-color: #bfbfbf;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-right: 8px;
    margin-top: 8px;
    padding: 2px 12px;
}

.demo-tab-panel {
    margin-bottom: -1px;
    width: 100%;
}
.demo-tab-panel td {
    height: 48px;
    width: 30%;
}
.demo-tab-center {
    margin: 0 -1px;
}
.demo-tab-panel a {
    background: #f5f5f5;
    border: 1px solid #ccc;
    display: block;
    font-size: 13px;
    font-weight: 700;
    height: 34px;
    outline: none;
    padding-top: 13px;
    text-align: center;
    text-decoration: none;
}
.demo-tab-panel a:hover {
    background: #fcfcfc;
}
.demo-tab-panel a.active {
    background: #fff;
    border-bottom: 1px solid #FFF;
}

.demo-block {
    border: 1px solid #ccc;
    border-top: none;
    padding: 20px 9px 9px;
}

.demo-info-buttons
{
    margin-bottom: 30px;
}

.required {
    color: #C00;
}

.required-descr {
    display: block;
    font-size: 12px;
}

.table-name {
    width: 115px;
}

.table-type {
    width: 90px;
}

.table-example {
    width: 200px;
}
