<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="consumers" type="ASC.Core.Common.Configuration.ConsumerConfigurationSection, ASC.Core.Common" />
    <section name="storage" restartOnExternalChanges="true" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="autofac" type="ASC.Common.DependencyInjection.AutofacConfigurationSection, ASC.Common" />
  </configSections>
  <log4net configSource="mail.agg.log4net.config" />
  <nlog configSource="mail.agg.nlog.config" />
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="default" connectionString="Server=localhost;Database=onlyoffice;User ID=root;Password=;Pooling=True;Character Set=utf8;AutoEnlist=false;SSL Mode=none;Connection Timeout=30;Maximum Pool Size=300;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="core.machinekey" value="Vskoproizvolny Salt par Chivreski" />
    <add key="core.enable-quota-cache" value="false" />
    <add key="api.virtual-dir" value="" />
    <add key="api.host" value="" />
    <add key="api.port" value="" />
    <add key="api.url" value="~/api/2.0/" />
    <add key="core.base-domain" value="localhost" />
    <add key="mail.tcp-timeout" value="30000" />
    <add key="mail.quota-rest" value="26214400" />
    <add key="mail.certificate-permit" value="true" />
    <add key="mail.one-user-mode" value="" />
    <add key="mail.auth-error-warning-in-minutes" value="5" />
    <add key="mail.auth-error-disable-mailbox-in-minutes" value="30" />
    <add key="mail.save-original-message" value="false" />
    <add key="mail.aggregate-mode" value="all" />
    <add key="mail.check-pop3-uidl-chunk" value="100" />
    <add key="mail.queue-lifetime-seconds" value="30" />
    <add key="mail.show-mail-engine-logs" value="false" />
    <add key="mail.task-check-state-seconds" value="30" />
    <add key="mail.default-api-scheme" value="http" />
    <add key="mail.task-process-lifetime-seconds" value="300" />
    <add key="mail.check-work-timer-seconds" value="10" />
    <add key="mail.max-tasks-count" value="10" />
    <add key="mail.max-messages-per-mailbox" value="10" />
    <add key="mail.inactive-mailboxes-ratio" value="25" />
    <add key="mail.activity-timeout-seconds" value="90" />
    <add key="mail.overdue-account-delay-seconds" value="600" />
    <add key="mail.quota-ended-delay-seconds" value="600" />
    <add key="mail.tenant-cache-lifetime-seconds" value="86400" />
    <add key="mail.tenant-overdue-days" value="10" />
    <add key="mail.tenant-min-quota-balance" value="26214400" />
    <add key="mail.protocol-log-path" value="" />
    <add key="mail.collect-statistics" value="false" />
    <add key="web.enable-signalr" value="true" />
    <add key="web.hub.internal" value="http://localhost:9899/" />
    <add key="core.host" value="localhost" />
    <add key="core.port" value="80" />
    <add key="mail.use-damp" value="false" />
  </appSettings>
  <consumers configSource="web.consumers.config" />
  <autofac configSource="web.autofac.config" />
  <storage file="..\..\WebStudio\web.storage.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>