/*
 *
 * (c) Copyright Ascensio System Limited 2010-2018
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


body
{
	margin: 0;
	padding: 0;
}


.wikiCaption
{
	color: #111;
	font-size: 24px;
	padding: 24px 0px 0px 8px;
}

.wikiBody
{
	padding: 0px 0px 36px;
	overflow-x: auto;
}

.wikiCredits
{
	border-top: solid 1px #D1D1D1;
	margin: 6px 24px 16px 32px;
	padding-top: 6px;
}

.wikiEditButton
{
	color: #36393E !important;
	padding:0 0 0 4px;
}

.wikiVersionInfo, .wikiVersionInfo a
{
	
}

.wikiLabelStatus
{
	color: #36393E;
	font-size: 12px;
	font-weight: normal;
}

.errorColor
{
	color: Red !important;
}

.listGrid
{
    width: 100%;
    border-style: none; 
    table-layout: fixed;
    padding-bottom:12px;
}

.pageHelpPanel
{
	background-color:White;
	border:1px solid #C7C7C7;
	position:absolute;
	width:154px;
	z-index:10;
	overflow-x:hidden;
}

div.wikiMaxFileSizeBlock
{
	color:#656668;
	display:inline-block;
	position:relative;
	text-align:center;
	width:100%;
	*clear:both;
	*margin-bottom:0px;
}

div.seachHelpItem
{
	cursor:pointer;
	padding:2px 0px 2px 10px;
}

div.seachHelpSelected, div.seachHelpItem:hover
{
	
}

/* header column rules */
.listGrid th
{
 
    color: #82878D;
    height: 24px; 
    padding: 19px 0px 10px 0px;
    vertical-align: middle; 
    font-size: 12px;
    font-weight:normal;
    border-top: solid 1px #ffffff;
    border-left-style: none;
    border-right-style: none;
    border-bottom: solid 1px #D7D8DC;
}


/* data cell and data row rules */
.listGrid td
{
    padding: 10px 0px 10px 0px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: solid 1px #D7D8DC;
}

tr.alter, tr.alter td
{
	
}

.listGrid td table td
{
	border:none; 
}
 

.row:hover
{
    background-color: #E6E6E6;
}

.row:hover .linkMedium,
.row:hover .linkHeaderMedium
{
    text-decoration: underline;
}

.wikiDiff ol li
{
	padding-left:5px;
	word-wrap:break-word;
	padding:1px 0px 1px 5px;
	vertical-align:top;
}

.wikiDiff span.d
{
	background-color: Orange;
}

.wikiDiff span.i
{
	background-color: Lime;
}

.wikiDiff ol
{
	width:98%;
}


.PrintHeader
{
	color:#111111;
	font-size:32px;
	font-weight:bold;
	padding-bottom:20px;
	display: none;
}

.catDict
{
	width:100%;
}

.catDict .catLetter
{
	width:33%;
	vertical-align:top;
	padding-bottom:26px;
}

.catDict .catLetter .block
{
	padding-bottom:15px;
}

.catDict .catLetter .letter
{
	color:#666666;
	font-size:24px;
	padding:5px;
}

.catDict .catLetter .catList
{
	max-width: 220px;
    padding: 5px;
    word-wrap: break-word;
}

.catDict .catLetter .catList .category
{
	padding: 2px 0px;	
}

.catDict .catLetter .catList .category a
{
	
}

.editCommandPanel
{
	padding: 0 0 15px;
}

.lblNotExists
{
	display:block;
	text-align:center;
	width:100%;
}

.wikiDiffRadion, .wikiDiffRadion input[type=radio]
{
	padding-left: 0px;
	padding-right: 3px;
	margin-left: 0px;
	margin-right: 0px;
}

.wikiEmptyPage
{
	font-size: 12px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	color:#000;
	padding: 14px 0px 20px;
	
}

.wikiEmptyPage .caption
{
	font-size:24px;
	color:#277BA4;
}

.wikiEmptyPage .secondaryCaption
{
	font-size:18px;
	color:#277BA4;
	padding-bottom:4px;
}

.wikiEmptyPage a, .wikiEmptyPage a:visited
{
	font-size: 12px;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#000;
}

.wikiEmptyPage a:hover
{
	text-decoration:none;
	color:#000;
}

.wikiVersionLeft
{
	width:12px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	.wikiVersionLeft
	{
		width:46px;
	}
}

.wikiLeftSideTable
{
	padding-left: 15px !important;
	padding-right: 19px !important;
}

.wikiLeftSideTableFiles
{
	padding-left: 35px !important;
	padding-right: 19px !important;
}

.wikiRightSideTable
{
	padding-right:15px !important;
}

.wikiDateTime
{
	color:#83888d;
}

.wikiFileSize
{
	color:#83888d;
}

.subHeaderPanel
{
	padding-bottom: 20px;
}

table.homeTable
{
	
	border:none;
	border-bottom: solid 1px #D1D1D1;
	border-top: solid 1px #D1D1D1;
}

table.homeTable td:first-child
{
	width:102px;
}

table.homeTable td
{
	vertical-align:top;
	padding-left:14px;
}


.actionsBar
{
	color:#0061AC;
	float:right;
}

*html .actionsBar
{
	color:#0061AC;
	float: none;
}

.actionsBar a
{
	color:#333333 !important;
}

.wikiBlockOverlay
{
	border: medium none;
    margin: 0pt;
    padding: 0pt;
    z-index: 1000;
    cursor: default;
    width: 100%;
    height: 100%;
    top: 0pt;
    left: 0pt;
    background-color: rgb(170, 170, 170);
    opacity: 0.3;
    filter: alpha(opacity = 30);
    position: fixed;
}

div#wiki_UploadFileBox
{
	border: medium none;
    padding: 0px;
    z-index: 1001;
    position: fixed;
    width: 600px;
    height: 250px;
    cursor: default;
    text-align: left;
    background-color: Transparent;
    margin-left: -300px;
    top: 240px;
}