/*
 *
 * (c) Copyright Ascensio System Limited 2010-2015
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.codestyle,
.codestyle pre {
    font-size: small;
    color: black;
    font-family: Consolas, "Courier New", Courier, Monospace;
    background-color: #ffffff;
    margin: 8px 0;
}
.codestyle ul,
.codestyle pre {
    list-style-type: none;
    margin: 0;
}
.codestyle table {
    border: 1px none Black;
    width: 100%;
}
.codestyle table td {
    padding: 5px 3px;
}
.codestyle table td.lines {
    border-right: 1px none black;
    text-align: right;
}
.codestyle table td.tdcode pre {
    width: 670px;
    overflow-x: auto;
    overflow-y: hidden;
}
.codestyle .rem {
    color: #008000;
}
.codestyle .kwrd {
    color: #0000ff;
}
.codestyle .str {
    color: #006080;
}
.codestyle .op {
    color: #0000c0;
}
.codestyle .preproc {
    color: #cc6633;
}
.codestyle .asp {
    background-color: #ffff00;
}
.codestyle .html {
    color: #800000;
}
.codestyle .attr {
    color: #ff0000;
}
.codestyle .alt {
    background-color: #f4f4f4;
    width: 100%;
    margin: 0;
}
.codestyle .lnum {
    color: #606060;
}
.codestyle ol li,
.codestyle ul li {
    white-space: pre-wrap;
}
