/*
 *
 * (c) Copyright Ascensio System Limited 2010-2016
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.ftFile_21,
.ftFile_32,
.ftFolder_21,
.ftFolder_32 {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
}
.ftFile_32,
.ftFolder_32 {
    background-position: 0 0;
    height: 32px;
    width: 32px;
}
.ftFile_21,
.ftFolder_21,
.compact .ftFile_32,
.compact .ftFolder_32 {
    background-position: 0 -39px;
    height: 21px;
    width: 21px;
}
/*folder default*/
.ftFolder_21,
.ftFolder_32 {
    background-image: url('images/filetype/folder.png');
    background-size: 32px 60px;
}
/*file default*/
.ftFile_21,
.ftFile_32{
    background-image: url('images/filetype/file.png');
    background-size: 32px 60px;
}


/*".zip", ".rar", ".ace", ".arc", ".arj", ".bh", ".cab", ".enc", ".gz", ".ha", ".jar", ".lha", ".lzh", ".pak", ".pk3", ".tar", ".tgz", ".uu", ".uue", ".xxe", ".z", ".zoo"*/
.ft_Archive{background-image:url('images/filetype/file_archive.png');}
/*".avi"*/
.ft_Avi{background-image:url('images/filetype/file_avi.png');}
/*".csv"*/
.ft_Csv{background-image:url('images/filetype/file_csv.png');}
/*".djvu"*/
.ft_Djvu{background-image:url('images/filetype/file_djvu.png');}
/*".doc"*/
.ft_Doc{background-image:url('images/filetype/file_doc.png');}
/*".docx"*/
.ft_Docx{background-image:url('images/filetype/file_docx.png');}
/*".doct"*/
.ft_Doct{background-image:url('images/filetype/file_doct.png');}
/*".epub", ".fb2"*/
.ft_Ebook{background-image:url('images/filetype/file_ebook.png');}
/*".flv", ".fla"*/
.ft_Flv{background-image:url('images/filetype/file_flv.png');}
/*".html", ".htm", ".mht"*/
.ft_Html{background-image:url('images/filetype/file_html.png');}
/*".iaf"*/
.ft_Iaf{background-image:url('images/filetype/file_iaf.png');}
/*".bmp", ".cod", ".gif", ".ief", ".jpe", ".jpeg", ".jpg", ".jfif", ".tiff", ".tif", ".cmx", ".ico", ".png", ".pnm", ".pbm", ".ppm", ".rgb", ".xbm", ".xpm", ".xwd"*/
.ft_Image{background-image:url('images/filetype/file_image.png');}
/*".m2ts"*/
.ft_M2ts{background-image:url('images/filetype/file_m2ts.png');}
/*".mkv"*/
.ft_Mkv{background-image:url('images/filetype/file_mkv.png');}
/*".mov"*/
.ft_Mov{background-image:url('images/filetype/file_mov.png');}
/*".mp4"*/
.ft_Mp4{background-image:url('images/filetype/file_mp4.png');}
/*".mpg"*/
.ft_Mpg{background-image:url('images/filetype/file_mpg.png');}
/*".odp"*/
.ft_Odp{background-image:url('images/filetype/file_odp.png');}
/*".ods"*/
.ft_Ods{background-image:url('images/filetype/file_ods.png');}
/*".odt"*/
.ft_Odt{background-image:url('images/filetype/file_odt.png');}
/*".pdf"*/
.ft_Pdf{background-image:url('images/filetype/file_pdf.png');}
/*".pps"*/
.ft_Pps{background-image:url('images/filetype/file_pps.png');}
/*".ppsx"*/
.ft_Ppsx{background-image:url('images/filetype/file_ppsx.png');}
/*".ppt"*/
.ft_Ppt{background-image:url('images/filetype/file_ppt.png');}
/*".pptx"*/
.ft_Pptx{background-image:url('images/filetype/file_pptx.png');}
/*".pptt"*/
.ft_Pptt{background-image:url('images/filetype/file_pptt.png');}
/*".rtf"*/
.ft_Rtf{background-image:url('images/filetype/file_rtf.png');}
/*".mp3", ".wav", ".pcm", ".aiff", ".3gp", ".flac", ".fla", ".cda"*/
.ft_Sound{background-image:url('images/filetype/file_sound.png');}
/*".svg"*/
.ft_Svg{background-image:url('images/filetype/file_svg.png');}
/*".txt"*/
.ft_Txt{background-image:url('images/filetype/file_txt.png');}
/*".vob"*/
.ft_Dvd{background-image:url('images/filetype/file_dvd.png');}
/*".xls"*/
.ft_Xls{background-image:url('images/filetype/file_xls.png');}
/*".xlsx"*/
.ft_Xlsx{background-image:url('images/filetype/file_xlsx.png');}
/*".xlst"*/
.ft_Xlst{background-image:url('images/filetype/file_xlst.png');}
/*".xml"*/
.ft_Xml{background-image:url('images/filetype/file_xml.png');}
/*".xml"*/
.ft_Xps{background-image:url('images/filetype/file_xps.png');}
/*".gdoc"*/
.ft_Gdoc{background-image:url('images/filetype/file_gdoc.png');}
/*".gsheet"*/
.ft_Gsheet{background-image:url('images/filetype/file_gsheet.png');}
/*".gslides"*/
.ft_Gslides{background-image:url('images/filetype/file_gslides.png');}

.ft_Cal{background-image:url('images/filetype/file_cal.png');}


/*******************************************************************************
   For Retina
*******************************************************************************/
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
.ftFolder_21,
.ftFolder_32 {
    background-image: url('images/filetype/retina/folder.png');
}
.ftFile_21,
.ftFile_32 {
    background-image:url('images/filetype/retina/file.png');
}
.ft_Archive{background-image:url('images/filetype/retina/file_archive.png');}
.ft_Avi{background-image:url('images/filetype/retina/file_avi.png');}
.ft_Csv{background-image:url('images/filetype/retina/file_csv.png');}
.ft_Djvu{background-image:url('images/filetype/retina/file_djvu.png');}
.ft_Doc{background-image:url('images/filetype/retina/file_doc.png');}
.ft_Docx{background-image:url('images/filetype/retina/file_docx.png');}
.ft_Ebook{background-image:url('images/filetype/retina/file_ebook.png');}
.ft_Flv{background-image:url('images/filetype/retina/file_flv.png');}
.ft_Html{background-image:url('images/filetype/retina/file_html.png');}
.ft_Iaf{background-image:url('images/filetype/retina/file_iaf.png');}
.ft_Image{background-image:url('images/filetype/retina/file_image.png');}
.ft_M2ts{background-image:url('images/filetype/retina/file_m2ts.png');}
.ft_Mkv{background-image:url('images/filetype/retina/file_mkv.png');}
.ft_Mov{background-image:url('images/filetype/retina/file_mov.png');}
.ft_Mp4{background-image:url('images/filetype/retina/file_mp4.png');}
.ft_Mpg{background-image:url('images/filetype/retina/file_mpg.png');}
.ft_Odp{background-image:url('images/filetype/retina/file_odp.png');}
.ft_Ods{background-image:url('images/filetype/retina/file_ods.png');}
.ft_Odt{background-image:url('images/filetype/retina/file_odt.png');}
.ft_Pdf{background-image:url('images/filetype/retina/file_pdf.png');}
.ft_Pps{background-image:url('images/filetype/retina/file_pps.png');}
.ft_Ppsx{background-image:url('images/filetype/retina/file_ppsx.png');}
.ft_Ppt{background-image:url('images/filetype/retina/file_ppt.png');}
.ft_Pptx{background-image:url('images/filetype/retina/file_pptx.png');}
.ft_Rtf{background-image:url('images/filetype/retina/file_rtf.png');}
.ft_Sound{background-image:url('images/filetype/retina/file_sound.png');}
.ft_Svg{background-image:url('images/filetype/retina/file_svg.png');}
.ft_Txt{background-image:url('images/filetype/retina/file_txt.png');}
.ft_Dvd{background-image:url('images/filetype/retina/file_dvd.png');}
.ft_Xls{background-image:url('images/filetype/retina/file_xls.png');}
.ft_Xlsx{background-image:url('images/filetype/retina/file_xlsx.png');}
.ft_Xml{background-image:url('images/filetype/retina/file_xml.png');}
.ft_Xps{background-image:url('images/filetype/retina/file_xps.png');}
}