<script id="userActionMenuTemplate" type="text/x-jquery-tmpl">
        <ul class="dropdown-content">
            {{if ($data.canEdit === "true") && ($data.isAdmin === true || $data.isMe === true ) && (user.status !== "blocked")}}
              <li><a class="edit-profile dropdown-item">${ASC.People.Resources.PeopleResource.LblEdit}</a></li>
            {{/if}}
            {{if ($data.canDel === "true") && ($data.isAdmin === true) && (user.status === "blocked")}}
              <li><a class="enable-profile dropdown-item">${ASC.People.Resources.PeopleResource.EnableUserButton}</a></li>
            {{/if}}
            {{if ($data.canEdit === "true") && ($data.isAdmin === true || $data.isMe === true) && (user.status !== "blocked") && (user.status !== "waited") && (user.isLDAP === "false") && (user.isSSO === "false")}}
              <li><a class="change-password dropdown-item">${ASC.People.Resources.PeopleResource.LblChangePassword}</a></li>
            {{/if}}
            {{if ($data.isAdmin === true || $data.isMe === true) && (user.status !== "blocked") && (user.status !== "waited") && (user.isLDAP === "false") && (user.isSSO === "false")}}
              <li><a class="change-email dropdown-item">${ASC.People.Resources.PeopleResource.LblChangeEmail}</a></li>
            {{/if}}
            {{if ($data.isAdmin === true || $data.isMe === true) && (user.status === "waited")}}
              <li><a class="email-activation dropdown-item">${ASC.People.Resources.PeopleResource.LblSendActivation}</a></li>
            {{/if}}
            {{if ($data.canDel === "true") && ($data.isAdmin === true) && ($data.isMe !== true) && (user.status !== "blocked") && (user.isLDAP === "false")}}
              <li><a class="block-profile dropdown-item">${ASC.People.Resources.PeopleResource.DisableUserButton}</a></li>
            {{/if}}
            {{if (user.isOwner !== "true") && ((($data.canDel === "true") && ($data.isAdmin === true) && (user.status === "blocked") && (user.isLDAP === "false")) || ($data.isMe === true) && (user.isLDAP === "false"))}}
              <li><a class="delete-profile dropdown-item">${ASC.People.Resources.PeopleResource.LblDeleteProfile}</a></li>
            {{/if}}

        </ul>
</script>

<script id="userListTemplate" type="text/x-jquery-tmpl">
    {{each(i, user) users}}
    <tr id="user_${user.id}" class="item profile {{if ($data.isAdmin === true || user.isMe === true) && (user.isMe === true || user.isPortalOwner !== true)}} with-entity-menu {{/if}} {{if user.isTerminated}} blocked{{else user.isActivated === false}} waited{{/if}} {{if user.isChecked == true}} selected{{/if}}"
        data-id="${user.id}"
        data-username="${user.userName}"
        data-email="${user.email}"
        data-displayname="${user.displayName}"
        data-status="{{if user.isTerminated}}blocked{{else user.isActivated === false}}waited{{/if}}"
        data-isAdmin="${user.isAdmin}"
        data-isOwner="${user.isPortalOwner}"
        data-isVisitor="${user.isVisitor}"
        data-isLDAP="${user.isLDAP}"
        data-isSSO="${user.isSSO}">

        {{if ($data.isAdmin === true)}}
        <td class="check-list" id="checkRow_${user.id}">
            <input type="checkbox" id="checkUser_${user.id}" class="checkbox-user"
                   {{if user.isChecked== true}}checked="checked"{{/if}}/>
        </td>
        {{/if}}
        <td class="icon-list">
            <a class="ava" href="${user.link}">
                <img src="${user.avatarSmall}" title="${user.displayName}"/>

                {{if (user.isVisitor)}}<span class="role collaborator" title="${ASC.Resources.Master.Guest}"></span>{{/if}}
                {{if (user.isAdmin || listAdminModules.length) && (!user.isPortalOwner)}}<span class="role admin" title="${ASC.Resources.Master.TemplateResource.Administrator}"></span>{{/if}}
                {{if (user.isPortalOwner)}}<span class="role owner" title="${ASC.Resources.Master.TemplateResource.Owner}"></span>{{/if}}

                {{if (user.isTerminated || user.isActivated === false)}}<span class="status"></span> {{/if}}
            </a>
        </td>
        <td class="name">
            <a class="link bold" href="${user.link}">${user.displayName}</a>
            {{if ($data.isAdmin === true)}}
                {{if (user.isLDAP === true)}}
                    <span class="ldap-lock" title="${ASC.Resources.Master.LdapUsersListLockTitle}"></span>
                {{else}}
                    {{if (user.isSSO === true)}}
                    <span class="sso-lock" title="${ASC.Resources.Master.SsoUsersListLockTitle}"></span>
                    {{/if}}
                {{/if}}
            {{/if}}

            {{if user.bithdayDaysLeft != null}}
        <div class="birthday">
        {{if user.bithdayDaysLeft == 0}}${ASC.Resources.Master.TemplateResource.DrnToday}
        {{else user.bithdayDaysLeft==1}}${ASC.Resources.Master.TemplateResource.DrnTomorrow}
        {{else user.bithdayDaysLeft==2}}${ASC.Resources.Master.TemplateResource.In} ${ASC.Resources.Master.TemplateResource.Yet2}
        {{else user.bithdayDaysLeft==3}}${ASC.Resources.Master.TemplateResource.In} ${ASC.Resources.Master.TemplateResource.Yet3}
        {{/if}}
        </div>
      {{/if}}
        <div class="title">
            {{if user.isGroupManager && user.title.length}}
            <span class="inner-text manager">${Encoder.htmlEncode(user.title, true)}</span>
            {{else}}
            <span class="inner-text">${Encoder.htmlEncode(user.title, true)}</span>
            {{/if}}
        </div>
    </td>
    <td class="group">
        {{if user.groups.length === 1 && user.group != null}}
        <a class="link dotted text-overflow" title="${user.group.name}" href="#group=${user.group.id}">
            ${user.group.name}
        </a>
        {{else user.groups.length > 1}}
            <span id="peopleGroupsSwitcher_${user.id}" class="withHoverArrowDown">
                <span class="link dotted">${user.groups.length} ${ASC.Resources.Master.Departments}</span>
            </span>
            <div id="peopleGroups_${user.id}" class="studio-action-panel">
                <ul class="dropdown-content">
                    {{each(i, gr) user.groups}}
                    <li><a class="dropdown-item" href="#group=${gr.id}">${gr.name}</a></li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </td>
    <td class="location">
        <span class="inner-text">${Encoder.htmlEncode(user.location, true)}</span>
    </td>
    <td class="info">
    {{if user.isTerminated}}
        <span class="red-text">
            ${ASC.People.Resources.PeopleResource.BlockedMessage}
        </span>
     {{else}}
          {{if user.isActivated === false && user.email}}
            <span class="email gray-text">${ASC.People.Resources.PeopleResource.WaitingForConfirmation}</span>
          {{/if}}
       {{/if}}
      {{if user.isActivated && !user.isTerminated && user.email}}
        <div id="peopleEmail_${id}" class="btn email">
            <span class="link dotted">${user.email}</span>
        </div>
        <div id="peopleEmailSwitcher_${id}" class="studio-action-panel">
            <ul class="dropdown-content">
                <li>
                    <a class="send-email dropdown-item">${ASC.People.Resources.PeopleResource.LblSendEmail}</a>
                </li>
                {{if !user.isMe && !user.isTerminated}}
         <li>
             <a class="open-dialog dropdown-item">${ASC.People.Resources.PeopleResource.LblSendMessage}</a>
         </li>
                {{/if}}
            </ul>
        </div>

      {{else}}
        &nbsp;
      {{/if}}
    </td>
    <td class="menu-action-list">
        {{if ($data.isAdmin === true || user.isMe === true) && (user.isMe === true || user.isPortalOwner !== true)}}
        <div id="peopleMenu_${id}" class="entity-menu" title="${ASC.People.Resources.PeopleResource.Actions}"></div>
        {{/if}}
    </td>
  </tr>
{{/each}}
</script>


<script id="depAddPopupBodyTemplate" type="text/x-jquery-tmpl">
     <div class="clearFix block-cnt-splitter requiredField" >
        <span class="requiredErrorText">${ASC.People.Resources.PeopleResource.ErrorEmptyName}</span>
        <div class="headerPanelSmall header-base-small">
            ${ASC.People.Resources.PeopleResource.Title}:
        </div>
        <input type="text" id="studio_newDepName" class="textEdit" style="width: 99%;" maxlength="100" />
    </div>
    <div class="clearFix block-cnt-splitter">
        <div class="headerPanelSmall header-base-small">
            ${ASC.People.Resources.DepartmentMaster}:
        </div>
        <span id="headAdvancedSelector" class="link dotline plus">
            ${ASC.Resources.Master.ChooseUser}
        </span>
        <div id="departmentManager" class="advanced-selector-select-result display-none">
            <span class="result-name" data-id=""></span>
            <span class="reset-icon"></span>
        </div>

    </div>
    <div class="clearFix">
        <div class="headerPanelSmall header-base-small" >
            ${ASC.People.Resources.PeopleResource.Members}:
        </div>
        <span id="membersAdvancedSelector" class="link dotline plus"> ${ASC.People.Resources.PeopleResource.AddMembers}
        </span>
        <div class="members-dep-list">
            <ul id="membersDepartmentList" class="advanced-selector-list-results"></ul>
        </div>
    </div>
    <div id="depActionBtn" class="middle-button-container">
        <a class="button blue middle">${ASC.People.Resources.PeopleResource.AddButton}</a>
        <span class="splitter-buttons"></span>
        <a class="button gray middle">${ASC.People.Resources.PeopleResource.CancelButton}</a>
    </div>
</script>
