/*
 *
 * (c) Copyright Ascensio System Limited 2010-2016
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


/* Birthdays page */
.birthday-content-splitter {
    margin-bottom: 16px;
}
.birthday-header {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}
.birthday-date {
    text-align: center;
}
.user-card-list {
    border-left: 1px dotted #D1D1D1;
    display: inline-block;
    padding-left: 8px;
}
.user-card,
.small-user-card {
    float: left;
    margin: 4px;
    width: 330px;
}
.user-card .user-avatar {
    padding: 4px;
    float: left;
}
.user-card .user-info {
    float: left;
    margin: 8px 0 0 16px;
    width: 200px;
    overflow: hidden;
}
.user-card .user-info-title {
    margin: 8px 0;
}
.small-user-card .user-avatar {
    float: left;
}
.small-user-card .user-info {
    float: left;
    margin: 4px 0 0 16px;
    width: 260px;
    overflow: hidden;
}
.small-user-card .user-info-title {
    margin-top: 6px;
}
.birthday-remind {
    display: inline-block;
    padding-top: 2px;
    visibility: hidden;
}
.birthday-remind-active {
    background-color: #F7E3AC;
    color: #DA9038;
    padding: 2px 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: none;
}
.birthday-remind-active a {
    background: url("images/white_cross.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin-left: 4px;
    width: 8px;
}
.tableBase tr:hover .small-user-card:not(.active) .birthday-remind {
    visibility: visible;
}
.small-user-card.active .birthday-remind-active {
    display: inline-block;
}