/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2014
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

#settingCommon,
#settingThirdPartyPanel {
    display: none;
}
/*******************************************************************************
    header
*******************************************************************************/
.stick-panel .menu-action-on-top {
    display: list-item;
}
.stick-panel #switchViewFolder {
    margin-left: 12px;
}

/*************************************************************
    Info Panel
*************************************************************/
.files-info-panel {
    background: url("images/info_16.png") no-repeat 10px 10px #EEF6FD;
    color: #666668;
    display: none;
    font-size: 13px;
    left: 50%;
    margin: 0;
    max-width: 900px;
    overflow: hidden;
    padding: 10px 10px 10px 35px;
    position: fixed;
    top: 0;
    vertical-align: middle;
    z-index: 700;
}
.files-info-panel.warn {
    background: url("images/expl_16.png") no-repeat 10px 13px #FBFAD5;
}
/*******************************************************************************
    switchViewFolder
*******************************************************************************/
#switchViewFolder {
    float: right;
}
#switchToNormal,
#switchToCompact {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("images/switch_view.png");
    display: inline-block;
    height: 21px;
    width: 24px;
}
#switchToNormal {
    margin-right: -3px;
}
#switchViewFolder.compact #switchToNormal {
    background-position: 0 -26px;
    cursor: pointer;
}
#switchViewFolder.compact #switchToNormal:hover {
    background-position: 0 -52px;
}
#switchToCompact {
    background-position: -29px -26px;
    cursor: pointer;
}
#switchToCompact:hover {
    background-position: -29px -52px;
}
#switchViewFolder.compact #switchToCompact {
    background-position: -29px 0;
    cursor: default;
}
/*******************************************************************************
    Content Menu
*******************************************************************************/
/*content border 1px for dragdrop*/
ul.contentMenu {
    margin-right: 1px;
    margin-left: 1px;
}
/*******************************************************************************
     Dialog window
*******************************************************************************/

div.files-remove-list {
    border: 1px solid #D1D1D1;
    line-height: 20px;
    margin: 15px 0 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px 10px;
}
.files-remove-list > dl {
    margin: 0;
}
dd.confirm-remove-folders,
dd.confirm-remove-files {
    padding: 0;
    margin-left: 0;
}
dd.confirm-remove-folders label,
dd.confirm-remove-files label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
dt.confirm-remove-folders,
dt.confirm-remove-files {
    font-weight: bold;
    margin-top: 10px;
}
#confirmRemoveTextDescription,
#confirmRemoveSharpBoxTextDescription {
    padding: 10px 0 0;
}
#overwriteMessage {
    overflow: hidden;
}
#overwriteList {
    border: 1px solid #D1D1D1;
    line-height: 20px;
    list-style-type: none;
    margin: 15px 0 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
}
#overwriteList li {
    width: 330px;
    overflow: hidden;
    white-space: nowrap;
}

/*******************************************************************************
     Progress
*******************************************************************************/
.files-progress-box {
    overflow: hidden;
    white-space: nowrap;
}
.files-progress-box.progress-dialog-body {
    padding: 16px 24px;
}
.files-progress-box progress,
.files-progress-box .asc-progress-wrapper {
    margin: 5px 0;
    width: 90%;
    float: left;
}
.files-progress-box .asc-progress-percent {
    float: left;
    height: 14px;
    margin: 4px 0 4px 4px;
    text-align: right;
    width: 40px;
}

/*******************************************************************************
    progress dialog with actions
*******************************************************************************/
.progress-dialog-container {
    right: 0;
    bottom: 0;
    position: fixed;
    width: 500px;
    z-index: 300;
}
.progress-dialog {
    border: 1px solid #D1D1D1;
    display: none;
    margin-top: 16px;
    width: 500px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.progress-dialog-header {
    background-color: #E2E2E2;
    color: #333333;
    font-size: 18px;
    line-height: 32px;
    padding: 4px 24px;
    cursor: default;
}
.progress-dialog-header .actions-container {
    float: right;
    margin: 10px 4px;
}
.progress-dialog-body {
    background-color: #FFFFFF;
    padding: 0 24px 16px;
}
.progress-dialog .actions-container.maximize {
    display: none;
}
.progress-dialog.min .progress-dialog-body {
    display: none;
}
.progress-dialog.min .actions-container.minimize {
    display: none;
}
.progress-dialog.min .actions-container.maximize {
    display: block;
}

/*******************************************************************************
    Panel with new items
*******************************************************************************/
.files-news-panel {
    margin: 8px 0 0 0;
}
.files-news-panel .file-row:hover {
    background-color: #e5e5e5;
}
.files-news-panel .thumb-file,
.files-news-panel .thumb-folder {
    margin-top: 0;
}
.files-news-panel .entry-info,
.files-news-panel .file-row .entry-title .name,
.files-news-panel .file-row.folder-row .folder-row .entry-title .name {
    max-width: 195px;
}
.files-news-panel .file-row {
    height: 21px;
}
.files-news-panel .file-row .entry-title .name {
    padding-top: 4px;
}
.files-news-panel .file-row .entry-title .name a {
    font-size: 12px;
}
.files-news-panel .file-row .entry-title .name a .file-extension {
    font-size: 11px;
}
.files-news-panel .entry-title {
    width: auto;
}
#filesNewsList {
    width: 260px;
}

#filesNewsList .file-row {
    margin-bottom: 0;
}
#filesNewsList .thumb-file,
#filesNewsList .thumb-folder {
    margin: 0 12px;
}
#filesNewsMarkRead {
    display: inline-block;
    margin: 8px 0 8px 12px;
}
/*******************************************************************************
    Mobile
*******************************************************************************/
body.mobile #contentVersions .version-preview,
body.mobile #contentVersions .version-comment-edit {
    display: block;
}