**/obj/
**/bin/
/packages/
/redistributable/ICal.Net_v2/packages/
*.suo
*.user
web/studio/Logs/
web/studio/Data/
build/*.log
build/deploy
/module/ASC.Api/Logs
.vs/
.vscode/
/web/services/logs
/web/statistics/logs
/web/studio/ASC.Web.Studio/js/third-party/jquery/jquery.core.js
/web/studio/ASC.Web.Studio/js/third-party/jquery/jquery.blockUI.js
/web/studio/ASC.Web.Studio/js/third-party/jquery/jquery.mousewheel.js
/web/studio/ASC.Web.Studio/js/uploader/jquery.fileupload.js
/module/ASC.Socket.IO/node_modules
/module/ASC.Socket.IO/package-lock.json
/module/ASC.Socket.IO/typings
/module/ASC.Thumbnails/node_modules
/module/ASC.SsoAuth/node_modules
/module/ASC.UrlShortener/node_modules
/module/ASC.UrlShortener/Logs
/module/ASC.WebDav/node_modules
/module/ASC.WebDav/logs
/module/Logs