<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="storage" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="autofac" type="ASC.Common.DependencyInjection.AutofacConfigurationSection, ASC.Common" />
  </configSections>
  <log4net configSource="mail.cln.log4net.config" />
  <nlog configSource="mail.cln.nlog.config" />
  <appSettings>
    <add key="core.machinekey" value="Vskoproizvolny Salt par Chivreski" />
    <add key="core.base-domain" value="localhost" />
    <add key="core.enable-quota-cache" value="false" />
    <add key="api.virtual-dir" value="" />
    <add key="api.host" value="" />
    <add key="api.port" value="" />
    <add key="api.url" value="~/api/2.0/" />
    <add key="cleaner.timer-wait-minutes" value="60" />
    <add key="cleaner.max-tasks-at-once" value="10" />
    <add key="cleaner.tenant-cache-days" value="1" />
    <add key="cleaner.tenant-overdue-days" value="30" />
    <add key="cleaner.mailbox-garbage-overdue-days" value="30" />
    <add key="cleaner.files-remove-limit-at-once" value="100" />
    <add key="mail.default-api-scheme" value="http" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="default" connectionString="Server=localhost;Database=onlyoffice;User ID=root;Password=;Pooling=True;Character Set=utf8;AutoEnlist=false;SSL Mode=none;Connection Timeout=30;Maximum Pool Size=300;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <autofac configSource="web.autofac.config" />
  <storage file="..\..\WebStudio\web.storage.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>