<?xml version="1.0" encoding="utf-8" ?>
<nlog>
  <extensions>
    <add assembly="ASC.Common"/>
  </extensions>
  <variable name="logDirectory" value="..\..\..\..\..\..\web\studio\Logs\"/>
  <conversionPattern value=""/>

  <targets  async="true">
    <default-target-parameters type="SelfCleaning" encoding="utf-8" archiveNumbering="DateAndSequence" archiveEvery="Day" archiveAboveSize="52428800" keepFileOpen="true" archiveDateFormat="MM-dd" enableArchiveFileCompression="true" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true:padding=5} [${threadid:padding=3}] ${logger} - ${message} ${exception:format=ToString}"/>
    <target name="console" type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true:padding=5} [${threadid:padding=3}] ${logger} - ${message}" />
    <target name="file" type="SelfCleaning" fileName="${logDirectory}mail.cln.log" />
    <target name="error" type="SelfCleaning" fileName="${logDirectory}mail.cln.errors.log" />
    <target name="sql" type="SelfCleaning" fileName="${logDirectory}mail.cln.sql.log" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss,fff}|${threadid}|${event-properties:item=duration}|${message}|${event-properties:item=sql}|${event-properties:item=sqlParams}"/>
  </targets>

  <rules>
    <logger name="ASC.SQL" minlevel="Debug" writeTo="sql" final ="true" />
    <logger name="ASC.Mail*" minlevel="Debug" writeTo="file,console" />
    <logger name="ASC*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>