/*
 *
 * (c) Copyright Ascensio System Limited 2010-2015
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.usrLang {
    line-height:24px;
    white-space:nowrap;
    position:relative;
    cursor:pointer;
    background:transparent none 2px center no-repeat;
    margin-top: -4px;
    padding-left:29px;
    padding-right: 15px;
    position: relative;
    &:after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #83888d;
        content: "";
        height: 0;
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        margin-top: -1px;
    }
}
.usrLang .val {
    border-bottom:1px dotted #83888d;
}

.languageMenu .top_language {
    background-image:url('img/menu/arrow.png');
    background-repeat:no-repeat;
    z-index:100;
    position:relative;
    height:9px;
    margin-left:40px;
    margin-top:-39px;
    margin-bottom:10px;
}
.languageMenu.open {z-index:1000;}

.languageMenu ul.options li.option a {
    background:none 0 center no-repeat;
    padding-left:30px;
}


.usrLang.cs-CZ, .languageMenu ul.options li.option.cs-CZ a{background-image:url("images/flags.png"); background-position: left 5px;}
.usrLang.de-DE, .languageMenu ul.options li.option.de-DE a{background-image:url("images/flags.png"); background-position: left -17px;}
.usrLang.el-GR, .languageMenu ul.options li.option.el-GR a{background-image:url("images/flags.png"); background-position: left -39px;}
.usrLang.en-GB, .languageMenu ul.options li.option.en-GB a{background-image:url("images/flags.png"); background-position: left -83px;}
.usrLang.en-US, .languageMenu ul.options li.option.en-US a{background-image:url("images/flags.png"); background-position: left -105px;}
.usrLang.es-ES, .languageMenu ul.options li.option.es-ES a{background-image:url("images/flags.png"); background-position: left -127px;}
.usrLang.fi-FI, .languageMenu ul.options li.option.fi-FI a{background-image:url("images/flags.png"); background-position: left -149px;}
.usrLang.fr-FR, .languageMenu ul.options li.option.fr-FR a{background-image:url("images/flags.png"); background-position: left -171px;}
.usrLang.it-IT, .languageMenu ul.options li.option.it-IT a{background-image:url("images/flags.png"); background-position: left -193px;}
.usrLang.lv-LV, .languageMenu ul.options li.option.lv-LV a{background-image:url("images/flags.png"); background-position: left -215px;}

.usrLang.pl-PL, .languageMenu ul.options li.option.pl-PL a{background-image:url("images/flags.png"); background-position: left -237px;}
.usrLang.pt-BR, .languageMenu ul.options li.option.pt-BR a{background-image:url("images/flags.png"); background-position: left -259px;}
.usrLang.pt-PT, .languageMenu ul.options li.option.pt-PT a{background-image:url("images/flags.png"); background-position: left -391px;}
.usrLang.ru-RU, .languageMenu ul.options li.option.ru-RU a{background-image:url("images/flags.png"); background-position: left -281px;}
.usrLang.tr-TR, .languageMenu ul.options li.option.tr-TR a{background-image:url("images/flags.png"); background-position: left -303px;}
.usrLang.uk-UA, .languageMenu ul.options li.option.uk-UA a{background-image:url("images/flags.png"); background-position: left -325px;}
.usrLang.vi-VN, .languageMenu ul.options li.option.vi-VN a{background-image:url("images/flags.png"); background-position: left -347px;}
.usrLang.zh-CN, .languageMenu ul.options li.option.zh-CN a{background-image:url("images/flags.png"); background-position: left -369px;}
.usrLang.az-Latn-AZ, .languageMenu ul.options li.option.az-Latn-AZ a{background-image:url("images/flags.png"); background-position: left -303px;}
.usrLang.ko-KR, .languageMenu ul.options li.option.ko-KR a{background-image:url("images/flags.png"); background-position: left -435px;}
.usrLang.ja-JP, .languageMenu ul.options li.option.ja-JP a{background-image:url("images/flags.png"); background-position: left -457px;}
.usrLang.sl-SI, .languageMenu ul.options li.option.sl-SI a{background-image:url("images/flags.png"); background-position: left -479px;}

.languageMenu ul.options li.option.selected a{color:#116d9d;}
