<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="test" connectionString="Server=teamlab;Database=Test;UserID=dev;Pwd=dev;pooling=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>