/* 
 * Popup Widgetes Styles
 *
 * Dmitry Sokolov
 * Ascensio System SIA.
 * 2011
 */

.asc-popup {
	position: absolute;
	border: 1px solid #d3d3d3;
	margin: 12px 0 0 0;
	padding: .2em .2em 0;
	background-color: #fff;
}

.asc-popup .arrow {
	position: absolute;
	background-image: url(../img/popup-arrow-big.png);
	background-position: 0px 0px;
	width: 20px;
	height: 11px;
	left: 5px;
	top: -10px;
}

.asc-ui-blocker {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/*background-color: rgba(0, 0, 0, 0.2);*/
	background-color: transparent;
}



.asc-popupmenu {
	position: absolute;
	border: 1px solid #d1d1d1;
	padding: 4px;
	background-color: #fff;
	z-index: 2000;
	 box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
     -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
     border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	
}

.asc-popupmenu .arrow {
	position: absolute;
	background-image: url(../img/popup-arrow.png);
	background-position: 0px 0px;
	width: 8px;
	height: 5px;
	left: 5px;
	top: -4px;
}

.asc-popupmenu .divider {
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: .4em;
}

.asc-popupmenu .item {
	cursor: pointer;
	padding: 0 12px;
    line-height: 24px;
}

.asc-popupmenu .item:hover {
	background-color: #e9e9e9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.asc-colorpicker {
	position: absolute;
	border: 1px solid #d3d3d3;
	margin: 6px 0 0 0;
	padding: .4em .4em;
	background-color: #fff;
	z-index: 2000;
}

.asc-colorpicker .arrow {
	position: absolute;
	background-image: url(../img/popup-arrow.png);
	background-position: 0px 0px;
	width: 8px;
	height: 5px;
	left: 5px;
	top: -4px;
}

.asc-colorpicker td {
	width: 15px;
	height: 15px;
	padding: 3px 3px;
	border: 1px solid transparent;
}

.asc-colorpicker td.selected {
	background-color: #ccc;
	border: 1px solid #999
}

.asc-colorpicker td.highlighted {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

.asc-colorpicker .icon {
	width: 15px;
	height: 15px;
	vertical-align: middle;
	cursor: pointer;
}

.asc-colorpicker .iwrapper {
	text-align: left;
	margin-top: .3em;
	padding-right: 4px;
}

.asc-colorpicker .iwrapper > input {
	width: 99%;
	margin: 0;
	padding: 1px;
	outline: none;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #c7c7c7;
}
.asc-colorpicker .iwrapper > input:focus {
	border-color: #3186af;
}
