/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2014
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/* 
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section
{
	display: block;
}

nav ul
{
	list-style: none;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none;
}

a
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins
{
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark
{
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del
{
	text-decoration: line-through;
}

abbr[title], dfn[title]
{
	border-bottom: 1px dotted #000;
	cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table
{
	border-collapse: collapse;
	border-spacing: 0;
}

hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input, select
{
	vertical-align: middle;
}
/* END RESET CSS */


/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are two custom edits:
 * make the line-height relative and unit-less
 * remove the pre,code styles as we use a recommendation from Eric Meyer instead
*/
body
{
	font: 14px Tahoma,Arial, "Nimbus Sans L" , "Bitstream Vera Sans" , sans-serif; *font-size:small;*font:x-small;line-height:1.22;}

table
{
	font-size: inherit;
	font: 100%;
}

select, input, textarea
{
	font: 99% Tahoma,arial,helvetica, "Nimbus Sans L" , "Bitstream Vera Sans" , sans-serif;
}


/* normalize monospace sizing 
 * meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
 */
code, pre
{
	font-family: "Courier New" , monospace, serif;
	font-size: 1em;
}



/* 
 * minimal base styles 
 */


/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
body, select, input, textarea
{
	color: #444;
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */

/* www.aestheticallyloyal.com/public/optimize-legibility/ */
h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
	text-rendering: optimizeLegibility;
}

/* maxvoltar.com/archive/-webkit-font-smoothing */
html
{
	-webkit-font-smoothing: antialiased;
}
.clearfix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix
{
    display: inline-block;
}
html[xmlns] .clearfix
{
    display: block;
}
* html .clearfix
{
    height: 1%;
}

a:active, a:focus
{
    outline-style: none;
}

/*
div.header
{
    height:37px;
    line-height:37px;
    vertical-align:middle;
    background:#000000 url(img/top_logo.gif) 20px center no-repeat;
    padding-left:150px;
    color:#ffffff;
    font-size:17px;
}

div.line
{
    background-color:#3186AF;
    height:5px;
}

div.menu
{
	width: 250px;	
}
div.menu ul
{
	list-style: none;
	height: 150px;
	height: 150px;
}
div.menu ul li
{
	padding: 0px;
	margin: 0px;
}
div.menu ul li a
{
	display: block;
	width: 250px;
	height: 50px;
	text-indent: -10000px;
}*/
.buttons
{
    height:40px;
    overflow:hidden;
}

.buttons div
{
    border: 1px solid #d7d7d7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
   float:left;
   margin-right:10px;
   width:240px;
   height:37px;
   cursor:pointer;
}


.buttonsPad div
{
    width:372px;
}

.buttons div.google
{
	background:#ffffff url("img/b/google.png") no-repeat center center;
	
}
.buttons div.yahoo
{
	background: #ffffff url("img/b/yahoo.png") no-repeat center center;
}
.buttons div.live
{
	background: #ffffff url("img/b/windows_live.png") no-repeat 10px center;
	font-size:18px;
	color:#000000;
	text-decoration:none;
	width:128px;
	 height:30px;
	vertical-align:middle;
	padding:7px 0 0 50px;
	margin-right:0px;
    display: none;
}
.buttonsPad div.live
{
    background-position:45px center;
    padding-left:80px;
    width:162px;
    float:right;
    margin-right:10px;
    display: none;
}

.oAuthBlock {
	margin-top: 16px;
	cursor: pointer;
}

.oAuthBlock .googleOAuthImage {
	margin-top: 2px;
	margin-right: 8px;
	background: url(img/24x_google.png) no-repeat;
	height: 24px;
	width: 24px;
	display: block;
	float: left;
}

.oAuthBlock .oAuuthLabel {
	font-size: 12px;
	font-weight: bold;
}

.oAuthBlock .oAuuthConnectLabel {
	font-size: 10px;
	color: #83888D;
}

/*a.google:hover
{
	background: url("img/logosmenu.gif") no-repeat scroll -250px 0px white;
}
a.yahoo:hover
{
	background: url("img/logosmenu.gif") no-repeat scroll -250px -50px white;
}
a.live:hover
{
	background: url("img/logosmenu.gif") no-repeat scroll -250px -100px white;
}*/
/*
.getContactsPageTitle
{
	color: #111111;
	font-family: Arial;
	font-size: 24px;
	margin-bottom: 20px;
}


.viewSwitcherItem, .viewSwithcerSelectedItem
{
	padding: 4px 9px 4px 9px;
	height: 17px;
}

.viewSwithcerSelectedItem
{
	background-color: #E8F2FC;
	font-weight: bold;	
}

.viewSwitcherTab, .viewSwitcherTabSelected
{
	text-decoration: none;
	cursor: pointer;
	display: block;
	float: left;
	background-color: #FFFFFF;
	border: solid 1px #D1D1D1;
	padding: 4px 28px 4px 28px;
	height: 15px;
	position:relative;
	bottom:-1px;
	margin-left:-1px;	
	background-color:#F3F3F3;
}

.viewSwitcherTabSelected
{
	font-weight: bold;
	border-bottom: 1px solid White !important;
	background-color:#ffffff;
}

.viewSwitcherTabWithLeftBorder
{
	border-left: solid 1px #D1D1D1;
	height: 25px;
	width: 0px;
	float: left;
}

.viewSwitcherAreaWithBottomBorder
{
	border-bottom: solid 1px #D1D1D1;
	margin-bottom: -1px;
	padding-left: 10px;
}

.viewSwitcherTabContent
{	
	padding: 50px 0px 50px 0px;
	text-align: left;
}

#WebImportTabContent
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 260px;
}

#FileImportTabContent
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;	
	width: 260px;	
}

#ManualImportTabContent
{
	margin-left: auto;
	margin-right: auto;	
	width: 400px;
}

#WebImportTabContent a
{
	display: block;
	width: 250px;
	height: 55px;	
}

#WebImportTabContent img
{
	margin: 10px 0px 0px 233px;
}

#FileImportTabContent div
{
	margin-bottom: 7px;
}

#FileImportTabContent label
{
	margin-left: 10px;
	font-weight: bold;
}

#FileImportTabContent input[type="radio"]
{
	margin-top: -2px;
	margin-left: 0px;
	height: 17px;
}

.contactsImportAreaWithBorder
{
	margin-top: 20px;
	border: solid 1px #D1D1D1;
}

.contactsImportButtonsHolder
{
	margin-top: 14px;
}

.contactsImportButtonsHolder div
{
	display: none;
}

#contactsTabImportControl
{
    padding: 0 0 10px 0;
}

#contactsTabImportControl input
{
    width:200px;
}*/



a.grayLinkButton, a.grayLinkButton:visited, input.grayLinkButton, input.grayLinkButton:visited,a.grayDisabledLinkButton, a.grayDisabledLinkButton:visited, input.grayDisabledLinkButton, input.grayDisabledLinkButton:visited, a.grayDisabledLinkButton:hover, input.grayDisabledLinkButton:hover
{
    display:inline-block;
    background-image:url('img/button_grey_bg.gif');
    background-repeat:repeat-x;
    background-position:top;
    text-decoration:none;  
    background-color:#ececec;    
    border:solid 1px #cccccc;   
    color:#333333;
    font-weight:normal;
    cursor:pointer;    
    font-size:11px;
    vertical-align:middle;
    padding:2px 14px;
    text-align:center;
}
a.grayLinkButton:hover, input.grayLinkButton:hover
{ 
	display:inline-block;
    background-image:url('img/button_grey_over_bg.gif');
    background-repeat:repeat-x;
    background-position:top;
    text-decoration:none;  
    background-color:#ececec;    
    border:solid 1px #cccccc;   
    color:#333333;
    font-weight:normal;
    cursor:pointer;    
    font-size:11px;
    vertical-align:middle;
    padding:2px 14px;
    text-align:center;
}
a.grayLinkButton:active
{
	display:inline-block;
    background-image:url('img/button_grey_bg.gif');
    background-repeat:repeat-x;
    background-position:top;
    text-decoration:none;  
    background-color:#ececec;    
    border:solid 1px #cccccc;   
    color:#333333;
    font-weight:normal;
    cursor:pointer;    
    font-size:11px;
    vertical-align:middle;
    padding:2px 14px;
    text-align:center;
}



a.baseLinkButton, a.baseLinkButton:visited, input.baseLinkButton, input.baseLinkButton:visited,a.baseDisabledLinkButton, a.baseDisabledLinkButton:visited, input.baseDisabledLinkButton, input.baseDisabledLinkButton:visited, a.baseDisabledLinkButton:hover, input.baseDisabledLinkButton:hover
{
    display:inline-block;
    background-image:url('img/button_bg.png');
    background-repeat:repeat-x;
    background-position:top;
    text-decoration:none;  
    background-color:#0e4969;    
    border:solid 1px #105777;   
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;    
    font-size:11px;
    vertical-align:middle;
    padding:2px 14px;
    text-align:center;
}
a.baseLinkButton:hover, input.baseLinkButton:hover
{ 
	display:inline-block;
    background-image:url('img/button_over_bg.png');
    background-repeat:repeat-x;
    background-position:top;
    text-decoration:none;  
    background-color:#0e4969;    
    border:solid 1px #105777; 
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;    
    font-size:11px;
    vertical-align:middle;
    padding:2px 14px;
    text-align:center;
}
a.baseLinkButton:active
{
	display:inline-block;
    background-image:url('img/button_bg.png');
    background-repeat:repeat-x;
    background-position:top;
    text-decoration:none;  
    background-color:#0e4969;    
    border:solid 1px #105777;   
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;    
    font-size:11px;
    vertical-align:middle;
    padding:2px 14px;
    text-align:center;
}
.viewSwitcherTabContent textarea {width:400px; height:124px;overflow-x:none;border:1px solid #c7c7c7;padding:5px;margin-top:22px;margin-bottom:19px;
color:#83888d;}
.viewSwitcherTabContent i, .viewSwitcherTabContent b {color:#000;}
.viewSwitcherTabContent i {font-size:12px;line-height:18px;}
.viewSwitcherTabContent i.r {padding-left:15px;}
.viewSwitcherTabContent b {font-size:14px;line-height:18px;}
#Label1, #Label2 {color:red;margin-left:15px;}