<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

<extensions>
	<add assembly="NLog.Web.AspNetCore"/>
</extensions>

<targets>
	<default-target-parameters encoding="utf-8" 
							   archiveNumbering="DateAndSequence" 
							   archiveEvery="Day" 
							   enableArchiveFileCompression="true" 
							   archiveAboveSize="52428800"  
							   keepFileOpen="true" 
							   archiveDateFormat="MM-dd"
							   maxArchiveDays="30"
							   layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} [${threadid}] ${logger} - ${message} ${exception:format=ToString}"/>
	
	<target xsi:type="File" name="all" fileName="${aspnet-appbasepath}\..\Logs\reversy-proxy.log" />
</targets>

<rules>
	<logger name="*" minlevel="Warn" writeTo="all" />
</rules>

</nlog>