<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ASC.ReversyProxy.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	  <security>
        <requestFiltering>
          <!-- This will handle requests up to 1 TB -->
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="RedirectFromWWW" stopProcessing="true" enabled="false">
					<match url="(.*)" />
					<conditions>
						<add input="{CACHE_URL}" pattern="^(https?://)www\.(.*)" />
					</conditions>
					<action type="Redirect" url="{C:1}{C:2}" appendQueryString="false" />
				</rule>
				<rule name="HTTP to HTTPS" stopProcessing="true" enabled="false">
					<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
						<add input="{HTTP_HOST}" pattern=".onlyoffice.com$" />
						<add input="{REQUEST_URI}" pattern="^/api/1.0/" negate="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Temporary" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
<!--ProjectGuid: 476B8843-762E-46C5-8A6B-C3A69EE616EB-->