/*
 *
 * (c) Copyright Ascensio System Limited 2010-2015
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


h1
{
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
h2
{
    color: #333333;
	font-size: 16px;
	font-weight: bold;	
}

h3
{
    color: #333333;
	font-size: 14px;
	font-weight: bold;	
}

h4
{
    color: #83888d;
	font-size: 16px;
	font-weight: normal;	
}

p
{
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
    word-wrap: break-word !important;
}
ol li, ul li {
    font-size: 14px;
    line-height: 18px;
}

a, p a
{
    color: #0078BD !important;
    word-wrap: break-word !important;
}

strong
{
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;    
}

img {
     max-width: 560px;
     width: auto;
     height: auto;
     min-height: 1px;
}

.footer
{
    margin-top: 40px;
    color: #a3a3a3;
    font-size: 11px;
}

td
{
	padding: 6px;
	margin: 0;
}

.edit_request
{
	border-collapse: collapse; 
	width: 100%;
}

.edit_request_column
{
	color: rgb(130, 135, 141); 
	font-size: 12px;
	text-align: left;
}

.edit_request_title
{
	text-align: right; 
	font-weight: bold;
}

.edit_request_data
{
	border: 1px solid #D1D1D1;
}

a:-webkit-any-link {
    color: #0078BD;
    word-wrap: break-word !important;
}