<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="storage" restartOnExternalChanges="true" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" internalLogFile="${basedir}/logs/Nlog.txt" internalLogLevel="Warn" internalLogToConsoleError="true">
    <targets>
      <target name="file" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
        <target xsi:type="File" layout="${longdate} ${threadid:padding=3} ${level:padding=5} ${logger:padding=18} ${message} ${exception:format=tostring}" fileName="${basedir}/logs/ASC.Mail.EMLDownloader.log.txt" archiveFileName="${basedir}/logs/archives/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2"/>
      </target>
      <target name="errors" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
        <target xsi:type="File" layout="${longdate} ${threadid:padding=3} ${level:padding=5} ${logger:padding=18} ${message} ${exception:format=tostring}" fileName="${basedir}/logs/errors/${shortdate}.errors.log.txt"/>
      </target>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${threadid:padding=3} ${logger:padding=18} ${message}">
        <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="Green"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file, console"/>
      <logger name="*" minLevel="Error" writeTo="errors"/>
    </rules>
  </nlog>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <clear/>
    <add name="mail" connectionString="Server=teamlab;Database=Test;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="core.machinekey" value="1123askdasjklasbnd"/>
    <add key="core.virtual-dir" value=""/>
    <add key="core.host" value="localhost"/>
    <add key="core.port" value="80"/>
    <add key="api.url" value="~/api/2.0/"/>
    <add key="core.base-domain" value=""/>
    <add key="googleClientId" value=""/>
    <add key="googleClientSecret" value=""/>
  </appSettings>

  <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
  </runtime>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>