/*
 *
 * (c) Copyright Ascensio System Limited 2010-2020
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.popup-modal {
    display: none;
}

#fileSelectorTree {
    max-height: 500px;
    width: 240px;
}

.hide-thirdparty .third-party-entry {
    display: none;
}

.only-folder #fileSelectorTree {
    width: 370px;
}

.only-folder .file-selector-files {
    display: none;
}

.file-selector-tree {
    padding-right: 24px;
}

.file-selector-files {
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 24px;
}

.file-selector-tree,
.file-selector-files {
    vertical-align: top;
}

#fileSelectorDialog .pencil,
#fileSelectorDialog .menu-small,
#fileSelectorDialog .file-lock,
#fileSelectorDialog .version {
    display: none !important;
}

.file-selector-files #filesMainContent.compact .file-row .entry-title,
.file-selector-files #filesMainContent.compact .file-row .entry-title .name{
    max-width: 400px;
    width: 400px;
}

.file-selector-files #filesMainContent.compact .file-row .is-new {
    display: none;
}

.file-selector-single .file-row .checkbox input[type=checkbox] {
    display: none;
}
.file-selector-single .file-row .checkbox input[type=radio] {
    display: inline;
}

.file-selector-compact .mainPageTable {
    height: 450px;
}
.file-selector-compact .mainPageTable .mainPageContent {
    padding-bottom: 0;
}
.file-selector-compact #fileSelectorTree {
    height: 400px;
}
.file-selector-compact #mainContent {
    height: 400px;
    min-height: 400px;
}
