/*
 *
 * (c) Copyright Ascensio System Limited 2010-2015
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.gant-chart-link, .gant-chart-link:hover {
    float: right;
    margin-left: 6px;
    margin-top: 3px;
}
.vertical-align-middle {
    vertical-align: middle;
}

/*----old styles, but used----*/


.dottedLink {  /*---used in create task/milestone popup---*/
  cursor: pointer;
  border-bottom: #333 1px dotted;
  text-decoration:none;
  color: #333;
  line-height:16px;  
  white-space: nowrap;
  text-overflow: ellipsis;
}

.headerPanelSmall           /*---remove this style carefully---*/
{
    color: #3C4046;
    font-weight: bold;
}


/*---popap paragraph---*/
.popupContainerClass p:first-child {
	margin-top: 11px;
}
.popupContainerClass p {
	margin: 4px 0;
}

/*----//old styles, but used----*/

/************ projects action panels **************/
#taskActionPanel,
#subtaskActionPanel,
#timeActionPanel {
    width: 125px;
}

/*----popup description panel---*/

.studio-action-panel .param,
.studio-action-panel .value {
    display: inline-block;
    min-height: 16px;
    vertical-align: top;
    white-space: nowrap;
    padding: 4px 0;
}
.studio-action-panel .value {
    max-width: 250px;
    white-space:nowrap;
    overflow: hidden;
    margin-right: 12px;
}
.studio-action-panel .param {
    color: #83888d;
    width: 100px;
    padding-left: 12px;
}
.studio-action-panel .descrValue {
  max-height: 52px;
  max-width:185px;
  overflow:hidden;
  text-overflow: ellipsis;
}
.studio-action-panel .value a.readMore{
    color: #83888d;
    text-decoration: underline;
}
.studio-action-panel .value a.readMore:hover {
    text-decoration: none;
}

/*--- timer ---*/
#timerTime {
  padding: 8px;
  position: absolute;
  max-width: 288px;
  overflow: hidden;
}
#timerTime select, #timerTime textarea {
  width:230px;
  max-width: 230px;
}
    #timerTime select option  {
        max-width: 228px;
    }
#timerTime #firstViewStyle {
  width: 231px;
  height: 112px;
  background:#e4e4e4;
  padding:16px 20px 24px 21px;
  margin-bottom:22px;  
}
#timerTime .block-cnt-splitter {
    padding-left: 16px;
    width: 240px;
}
#timerTime #firstViewStyle .h, #timerTime #firstViewStyle .m, #timerTime #firstViewStyle .s {
  display:inline-block;
  width: 72px;
  height: 72px;
  background:url("../images/timer-icons.png") no-repeat;
  text-align:center;
  font-size: 48px;
  color:#fff;
  line-height:72px;
}
#timerTime #firstViewStyle .h, #timerTime #firstViewStyle .m {margin-right:4px;}

#timerTime #firstViewStyle .start {
  margin-top:7px;
  margin-right:5px;
  padding:13px 68px;
}

#timerTime #firstViewStyle .start div {
  height: 15px;
  width: 15px;
  background:url("../images/timer-icons.png") no-repeat 0 -80px;
}
#timerTime #firstViewStyle .start.stop div {
  background-position: -21px -80px
}

#timerTime #firstViewStyle .reset {
  margin-top:7px;
  padding: 12px 26px;
}

#timerTime #inputTimeHours, #timerTime #inputTimeMinutes {
  width:40px;
  text-align:center;
}
#timerTime #inputTimeHours.error, #timerTime #inputTimeMinutes.error {
  border-color:rgb(204,0,0);
}
#timerTime .time-fields-container {
    margin-bottom: 8px;
}
#timerTime #timeTrakingErrorPanel {
	padding: 5px 0;
    width: 260px;
    overflow: hidden;
    height: 10px;
}
#timerTime #timeTrakingErrorPanel.error{
	color: #cc3300;
}
#timerTime #timeTrakingErrorPanel.success{
	color: #74AF00;
}
/*----no tasks for track screen---*/

#timerTime .timer-img {
    margin-top: 130px; 
    height: 150px;
    width: 100%;
    background: url("../images/empty_screen_time_tracking.png") no-repeat center;
}
#timerTime .message-for-empty-timer {
    color: #333;
    font-size: 18px;
    margin-top: 24px;
    padding: 0 16px;
}
/*--- ///timer ---*/

/*--- styles for good table---*/
table.listContainer {
    width: 100%;
}
table.listContainer tr {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #D1D1D1;
}
table.listContainer td {
    white-space: nowrap;
}
table.listContainer td.stretch {
    white-space: normal;
    width: auto;
}
/*---projects left navigation additional style--*/
.page-menu #myProjectsConteiner {
    padding: 0; 
}
.page-menu #myProjectsConteiner div {
      padding: 4px 0;
      overflow: hidden;  
}
.page-menu #myProjectsConteiner .expander {
    background-position: 0 3px;
    margin-left: 37px;
}
.page-menu #myProjectsConteiner.open .expander {
    background-position: 0 -7px;
}
.page-menu #myProjectsConteiner .menu-sub-list {
    display: none;
    max-width: 210px;
    overflow: hidden;
    margin-left: 50px;
}
.page-menu #myProjectsConteiner.open .menu-sub-list {
    display: block;
}
.page-menu #myProjectsConteiner .menu-sub-list .menu-sub-item {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 8px;
}
.page-menu #myProjectsConteiner .menu-sub-list .menu-sub-item a {
    color: #333;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    max-width: 185px;
    text-overflow: ellipsis;
}
.page-menu #myProjectsConteiner .menu-sub-list .menu-sub-item a:hover {
    text-decoration: underline;
}
.page-menu .menu-list .menu-sub-list.documentTreeNavigation {
    display: block;
}
#treeViewContainer {
    display: none;
}
.open #treeViewContainer {
    display: block;
}
/*-----pagination-----*/

.simplePageNavigator
{
    padding-top: 5px;
    text-align: right;
}

.simplePageNavigator a,
.simplePageNavigator a:visited,
.simplePageNavigator a:hover
{
	font-size: 11px;	
}

#tableForNavigation {
    margin-top: 10px;
    width: 100%;
	display: none;
}
#tableForNavigation .tl-combobox .combobox-container {
    padding: 8px;
    width: 50px;
}
#tableForNavigation .tl-combobox .combobox-container .combobox-options {
    line-height: 22px;
}
#tableForNavigation .tl-combobox .combobox-title .inner-text {
    border-bottom: 1px dotted #666666;
    color: #666666;
}
#tableForNavigation .tl-combobox {
    margin-bottom: 1px;
    vertical-align: middle;
}
.divPager
{
	clear: right; 
	display: inline-block;
}
/*--projects info---*/
.project-info-container {
    padding-top: 8px;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
    min-height: 41px;
}
.project-info-container .project-total-info {
    max-height: 30px;
}

.project-info-container .taskClosedStatus {
    color: #999;
}
.project-info-container .project-total-info .additional-info{
    color: #666;
    font-size: 12px;
}
.project-info-container .project-total-info .header-with-menu {
    overflow: visible;
}
.project-info-container .project-total-info .essenceProject {
    margin-top: 8px; 
}
.project-info-container .project-total-info .project-title {
    display: inline-block;
    max-width: 100%;
}
.project-info-container .project-total-info .project-title span.private { 
    background:url("../images/small-icons.png") -1px -36px no-repeat;
    height: 12px;
    left: 12px;
    position:absolute;
    top: 21px;
  	width: 12px;
} 
#essenceTitle.truncated-text {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    max-width: 1000px;
}

@media all and (max-width: 1575px) {
    #essenceTitle.truncated-text {
        max-width: 800px;
    }
}

@media all and (max-width: 1350px) {
    #essenceTitle.truncated-text {
        max-width: 600px;
    }
}

@media all and (max-width: 1150px) {
    #essenceTitle.truncated-text {
        max-width: 400px;
    }
}

/*---popup Project Info----*/
.projectDescriptionPopup {
    display: none;
}
.projectDescriptionPopup .section-name {
    margin-bottom: 18px;
}
.projectDescriptionPopup .section-name:last-child {
    margin-bottom: 0;
}
.projectDescriptionPopup .section-name span {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}
.projectDescriptionPopup .descriptionContainer {
    max-height: 325px;
    overflow: auto;
}
.projectDescriptionPopup .middle-button-container {
    text-align: center;
}
/*--- project navigation-----*/
#projectTabs {
    overflow: hidden;
    margin-top: 16px;
}

/*----page header for discussion/project/templates actions---*/

#pageHeader 
{
    margin-bottom: 23px;
    overflow: auto;
}

#pageHeader .pageTitle 
{
    color: #333;
    float: left;
    font-size: 25px;
}
.addNewButton {
    float: left;    
}


.button.gray.add-new { display: none;}

/*---for contacts page---*/

#contactsForProjectPanel {
    display: none;
    margin-bottom: 14px;
    margin-top: -5px;
    width: 450px;
}

/*----empty screens----*/
#emptyScreenForFilter {
    display: none;
}

/*---combobox status---*/
.studio-action-panel #statusList li.dropdown-item {
    padding-left: 30px;
    background-image: url('../images/projects_entity_statuses.png');
    background-position:2px center;
    background-repeat:no-repeat;
}
.studio-action-panel #statusList li.dropdown-item.open {
    background-position: 10px -57px;
}
.studio-action-panel #statusList li.dropdown-item.closed {
	background-position: 10px -78px;
}
.studio-action-panel #statusList li.dropdown-item.paused {
	background-position: 10px -95px;
}

/*--- projects entityes combobox statuses---*/

/*---for time-traking------*/

.studio-action-panel #statusList li.dropdown-item.not-chargeable {
	background-position: 10px 5px;
}
.studio-action-panel #statusList li.dropdown-item.not-billed {
	background-position: 10px -16px;
}
.studio-action-panel #statusList li.dropdown-item.billed {
	background-position: 10px -37px;
}

/*-----add milestone popup-----*/
#milestoneActionPanel
{
	display: none;
}

#milestoneActionPanel input[type="checkbox"] {
	margin: 2px 0 0 0;
	float: left;
}

#milestoneActionPanel label {
	padding-left: 6px;
}

#milestoneActionPanel .requiredFieldError > input {
    border: 1px solid #CC0000;
}


#milestoneResponsibleContainer {
	display: none;
}

#milestoneActionPanel .headerPanelSmall {
	float: left;
	font-weight: bold;
	margin-right: 7px;
	text-align: left;
	width: 120px;
    margin-top: 0;
}

#milestoneActionPanel .tl-combobox .combobox-title .inner-text, 
#milestoneDeadlineContainer .dottedLink {
    color: #333;
    border-bottom: 1px dotted #333;
}
#milestoneActionPanel .full-width {
	padding-top: 3px;
}

#milestoneResponsibleContainer .notifyResponsibleContainer {
	display: inline-block;
	padding-top: 3px;
    margin-left: 24px;
    vertical-align: top;
}

#milestoneResponsibleContainer .tl-combobox .combobox-title .inner-text {
	max-width: 240px;
}

#milestoneDeadlineSelectorContainer input {
	margin-right: 13px;
	cursor: pointer;
}

#milestoneDeadlineSelectorContainer span {
	display: inline-block;
	margin-right: 15px;
	line-height: 15px;
}

#milestoneTitleContainer {
	margin-bottom: 10px;
}

#milestoneDescriptionContainer {
	margin-bottom: 16px;
}

#milestoneTitleInputBox {
	width: 100%;
	font-size: 12px;
}

#milestoneDescriptionInputBox {
	width: 100%;
	min-height: 93px;
	max-height: 200px;
	margin: 0px;
    resize: none;
}

#milestoneKeyContainer {
	margin-bottom: 8px;
}

#milestoneActionButtonsContainer {
	margin-bottom: 5px;
}

#milestoneActionButtonsContainer .successMessage {
    display: none;
    margin: -14px 0 8px 0;
    color: #666;
}

#milestoneActionProcessContainer {
	display: none;
}

#milestoneProjectContainer .combobox-container {
    max-width: 300px;
}

#milestoneResponsible {
    max-width: 276px;
    text-overflow: ellipsis;
}
/*------add task popup----*/
#addTaskPanel .red-border {
    border: 1px solid #CC0000;
}

#addTaskPanel .pm-fieldRight input {
  vertical-align:middle;
  margin:1px 0 0;
}

#addTaskPanel .taskProcess {
  height:25px;
  padding-left:25px;
  background: url('../images/loader16.gif') no-repeat 2px 7px;
}
#addTaskPanel label.priority.high {
  line-height: 14px;
  margin-left: 8px;
  cursor: pointer;
  vertical-align:top;
  background: url('../images/projects_entity_statuses.png') no-repeat 0 -116px;
  padding-left:16px;
}

#addTaskPanel #fullFormUserList {
  display:none;
  margin-bottom:5px;
  overflow:hidden;
  width: 370px;
}
#addTaskPanel #fullFormUserList .user {
    background: url("../images/small-icons.png") no-repeat 0 3px transparent;
    display: inline-block;
    float: left;
    line-height: 20px;
    overflow: hidden;
    padding: 0 0 0 17px;
    white-space: nowrap;
    margin: 0 12px 0 0;
}
#addTaskPanel #fullFormUserList .user:hover {
    background: url("../images/small-icons.png") no-repeat 0 -14px transparent;
    cursor:pointer;
    text-decoration:underline;
}

#addTaskPanel .notify label {
  cursor:pointer;
  padding-left:5px;
}
#addTaskPanel .infoPanel {
    display:none;
    padding: 10px 0 10px 30px;
}

#addTaskPanel .requiredFieldError input {
    border: 1px solid #cc0000;
}
#addTaskPanel .pm-headerLeft .requiredField .headerPanelSmall{
    margin-bottom: 0px;
}
#addTaskPanel .pm-headerLeft .requiredField {margin-top:-4px;}

#addTaskPanel .pm-headerLeft {
    float: left;
    text-align: left;
    width: 110px;
    margin-right: 12px;
    margin-bottom: 15px;
    font-weight: bold;
}
#addTaskPanel .pm-fieldRight {
  margin-bottom:15px;
}
#pm-projectBlock .pm-fieldRight {
    margin-top: 2px;
}
#addTaskPanel .pm-fieldRight .combobox-container {max-width: 300px;}

#addTaskPanel .pm-fieldRight .tl-combobox .combobox-title .inner-text,
#addTaskPanel .pm-fieldRight .dottedLink  {
    color: #333;
    border-bottom: 1px dotted #333;
}
#addtask_description {
    min-height: 60px;
    max-height: 400px;
}
#addTaskPanel #addtask_title {
    font-size: 12px;
    width: 99%;
}
#taskProject, #taskProject option{
	max-width: 250px;
}
#taskMilestone, #taskMilestone option{
	max-width: 300px;
}
.pm-action-block .successMessage {
    display: none;
    margin: -14px 0 8px 0;
    color: #666;
}

#addTaskPanel #taskLink {
	float: right;
	color: #666666;
}
#addTaskPanel select
{
    max-width: 200px;
}
.textEdit {
    padding-right: 0;
}
/*---add comments button---*/
.addcomment-button {
    display: inline-block;
    height:100%;
}

.addcomment-button #add_comment_btn {
    color: #333333 !important;
    margin-bottom:0;
}

/*---Banner for mobile app---*/

#studio_sidePanel .page-menu .menu-list{
    padding-bottom: 30px;
}
.mobileApp-banner {
    text-align: center;
    width: 240px;
}
.mobileApp-banner_text {    
    color: #83888D;        
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 8px;
}

.mobileApp-banner_text_i:last-child {
    font-weight:400;
}

.mobileApp-banner_btns{
}

.mobileApp-banner_btn {
    background:url("../images/mobile_app_btns.png") no-repeat;
    display:inline-block;
    height: 47px;
    width: 118px;
}

.mobileApp-banner_btn.app-store {
    background-position: 0 0;
}

.mobileApp-banner_btn.app-store:hover {
    background-position: 0 -47px;
}

.mobileApp-banner_btn.google-play {
    background-position: -118px 0;
}
.mobileApp-banner_btn.google-play:hover {
    background-position: -118px -47px;
    }

.advansed-select-container {
    display: inline-block;
    max-width: 550px;
    overflow: hidden;
    white-space: nowrap;
}
#CommonListContainer {
    display: none;
}
