/*
 *
 * (c) Copyright Ascensio System Limited 2010-2015
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


#emptyListDiscussion {
    display: none;
}

#discussionsList {
	display: none;
}

#discussionsList .discussionContainer {
	min-height: 82px;
	border-top: 1px solid #C5C5C5;
}

#discussionsList .discussionContainer:hover .discussionMainTitle,
#discussionsList .discussionContainer:hover .discussionComments a,
#discussionsList .discussionContainer:hover .discussionProjectTitle {
  text-decoration:underline;
}

.discussionComments
.discussionContainer.odd {
	background-color: #EFF0F0;
}

.discussionHeaderBlock {
    border-bottom: 1px dotted #D1D1D1;
    display: block;
    padding: 8px 8px 16px;
}

.discussionAuthorAvatar {
	float: left;
	text-align: center;
}

.discussionAuthorAvatar img {
	font-weight: bold;
	color: blue;
	width: 82px;
	height: 82px;
}

#discussionsList .discussionDescriptionContainer {
	overflow: hidden;
    max-width: 70%;
}

.discussionTitle {
    margin: 0px 0px 8px;
    overflow: hidden;
}

.discussionTitle .discussionMainTitle {
	font-size: 16px;
	font-weight: bold;
	color: #333;
    max-width: 95%;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
}

.discussionTitle .discussionMainTitle:hover {
    text-decoration: underline;
}

.discussionslist-author, .discussionProject {
	overflow: auto;
}

.discussionAuthorCaption, .discussionProjectCaption {
    color: #83888D;
    width: 55px;
    max-width: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-right: 3px;
}

.discussionAuthorName, .discussionProjectName {
    font-size: 12px;
	color: #333333 !important;
    border-bottom: 1px solid transparent;
	max-width: 800px;
	overflow: hidden;
	display: block;
	float: left;
	margin-right: 5px;
}

.discussionContainer:hover .discussionAuthorName, .discussionContainer:hover .discussionProjectName {
    border-bottom: 1px dotted #333;
    color: #333;
    cursor: pointer;
}
.discussionContainer:hover .discussionAuthorName.not-action {
    border-bottom: 1px solid transparent;
    cursor: default;
}
.discussionText 
{
	overflow: hidden;
	padding: 8px 8px 16px;
	word-wrap: break-word;	
}

.discussionCommentsLink, .discussionWriteCommentLink {
    display: inline-block;
    color: #83888D !important;
    text-decoration: none;
}

.discussionContainer:hover .discussionCommentsLink, .discussionContainer:hover .discussionWriteCommentLink {
    color: #83888D;
    text-decoration: underline;
}

#showNextDiscussionsButton {
	color: #9CA0A4;
    cursor: pointer;
    display: none;
    font-weight: bold;
    margin: 0 0 0 31px;
    text-decoration: underline;
}

#showNextDiscussionsButton:hover {
	color: #1A6DB3;
}

/*----discussion action-----*/

#discussionProjectContainer {
	margin-bottom: 20px;
    margin-right: 190px;
}

#discussionTitleContainer
{
	margin-bottom: 20px;	
}

#discussionTextContainer
{
	margin-bottom: 20px;	
}

#discussionButtonsContainer
{ 
	margin-bottom: 20px;
}

#discussionTabsContent
{
    clear: left;
    padding-top: 20px;
    width: 100%
}

#discussionParticipantsContainer .userLink {
    padding-left: 18px;
}

#discussionFilesContainer .noContentBlock.emptyScrCtrl
{
	border-bottom: 1px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#discussionParticipantsContainer .inviteMessage
{
	font-size: 12px;
	margin-bottom: 15px;
}


#discussionPreviewContainer
{
	display: none;
	padding-left: 15px;
}

.discussionHeaderContainer
{
	padding-bottom: 20px;
}

.discussionHeader
{
	color: #111111;
    font-size: 24px;
}

.discussionMark
{
	display: inline-block;
	background-color: #E4BC00;
	font-weight: bold;
	color: white;
	padding: 0px 5px;
	float: left;
	height: 18px;
	line-height: 18px;
	text-align: center;
	margin-right: 10px;
	margin-top: 6px;
}

.discussionAuthorAvatar
{
	text-align: center;
	float: left;
}

.discussionDescriptionContainer
{
	margin-left: 98px;
}

.discussionCreatedDate
{
	color: #787878;
    font-size: 12px;
	padding-left: 5px;
}

.discussionAuthorTitle
{
	color: #787878;
    font-size: 12px;
}

/*----discussion details-----*/
#emptyCommentsContainer
{
	display: none;
}

#discussionCommentsContainer #commentsTitle,
#discussionCommentsContainer #noComments{
	display: none !important;
}

#discussionCommentsContainer #mainContainer
{
	width: 100% !important;
}

#currentLink
{
	display: none;
}

.discussiondetails-avatar {
    width: 82px;
    height: 82px;
}

.discussiondetails-author-caption, .discussiondetails-project-caption {
    display: inline-block;
    float: left;
    width: 65px;
    margin-right: 3px;
    max-width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #83888D;
}

.discussiondetails-author, .discussiondetails-project {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #333333 !important;
}

.discussiondetails-author:hover, .discussiondetails-project:hover {
    text-decoration: underline;
    color: #333333 !important;
}

.items-display-list_i.gray .item-name{
    color: #83888D;
}

#discussionParticipantsTable, #discussionParticipants {
    margin-top: 10px;
}

#discussionsList .title-list {
    display: inline;
}

#discussionsList .status {
    background-color: #e6e6e6;
    color: #83888d;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    padding: 2px 5px;
    margin: 2px 0 0 8px;
    max-width: 60px;
    overflow: hidden;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}