/*
 *
 * (c) Copyright Ascensio System Limited 2010-2016
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


#importTools .field-container {
    width: 400px;
}
#importTools .field-container .textEdit {
    width: 400px;
    height: 20px;
}
#importTools .big-margin-top {
    margin-top: 32px;
}
#importTools .middle-margin-top {
    margin-top: 16px;
}
#importTools .min-margin-top {
    margin-top: 8px;
}
#importTools .checkbox-container {
    margin-bottom: 14px;
}
#importTools .checkbox-container input {
    margin: 3px 3px 0 0;
    vertical-align: text-top;
}
#import_info_popup .import-statuses-container {
    margin-top: 16px;
    height: 100px;
    max-height: 100px;
    overflow:auto;
    border: solid 1px #DCDCDC;
}
#import_info_popup .importStatusClosed{
	background: url("../images/common-icons.png") no-repeat 0 -40px;
	padding-left: 16px;
}
#import_info_popup .importStatus{
	padding-left: 10px;
}

#chooseProjectsPopup .basecamp-projects-container {
    max-height: 150px;
    overflow:auto;
    border-bottom: solid 1px #DCDCDC;
    list-style-type: none;
    margin: 0;
    margin-top: 16px;
    padding: 0;
}

#chooseProjectsPopup .basecamp-projects-container li {
    display: block;
    padding: 8px 10px;
    background-color: #f3f3f3;
    border-top: solid 1px #DCDCDC;
}
#chooseProjectsPopup .basecamp-projects-container li.unchecked {
    background-color: #fff;
}
#chooseProjectsPopup .basecamp-projects-container li input,
#chooseProjectsPopup .archived-proj-note input,
#chooseProjectsPopup .active-proj-note input {
    margin-right: 12px;
    padding: 0;
}
#chooseProjectsPopup .basecamp-projects-container li label,
#chooseProjectsPopup .archived-proj-note label,
#chooseProjectsPopup .active-proj-note label {
    margin-top: 3px;
    vertical-align: top;
    display: inline-block;
    max-width: 380px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#chooseProjectsPopup .archived-proj-note {
    margin-top: 16px;
}
#chooseProjectsPopup .active-proj-note {
    margin-top: 10px;
}

#popupImportErrorContainer .popup-header {
	 color: #333333;
    font-size: 18px;
    font-weight: normal;
}
