/*
 *
 * (c) Copyright Ascensio System Limited 2010-2015
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


#milestonesListContainer
{
	height: auto;
	margin-top: 50px;
}

#milestonesList
{
    border-bottom: 1px solid #D1D1D1;
    border-collapse: collapse;
    color: #333333;
    font-size: 12px;
	table-layout: fixed;	
	width: 100%;	
}

#milestonesList tbody tr:hover, #milestonesList tbody tr.menuopen
{
	background-color: #F2F2F2;
}

#milestonesList td
{
	border-top: 1px solid #D1D1D1;
	height: 40px;
	padding: 0px;
	margin: 0px;
}

#milestonesList td.status
{
	width: 60px;
}

#milestonesList td.status .changeStatusCombobox
{
	width: 38px;
	height: 22px;
	margin: 3px 0px 3px 10px;
	text-align: center;  
}

#milestonesList td.status .changeStatusCombobox.canEdit
{
	border: 1px solid  #d1d1d1;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}
#milestonesList td.status .changeStatusCombobox.canEdit span.arrow
{
    background: url('../images/small-icons.png') no-repeat -4px -74px #fff;
    height: 7px;
    width: 7px;
    display: inline-block;
    margin: 0 4px 4px 1px;
    *inline:inline;
    *zoom: 1;
}

#milestonesList tr:hover .changeStatusCombobox.canEdit, 
#milestonesList td.status .changeStatusCombobox.canEdit.selected
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#cecece');
	background: -moz-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
    background: -webkit-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	background:  -webkit-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	background:  -o-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	border-color: #a8a8a8;
}
#milestonesList tr:hover .changeStatusCombobox.canEdit span.arrow, 
#milestonesList td.status .changeStatusCombobox.canEdit.selected span.arrow {
    background-color: transparent;
    background-position: -4px -58px;
}

#milestonesList td.status .changeStatusCombobox.noEdit
{
	background-image: none;
	background-color: transparent;
	border: 1px solid transparent;
}

#milestonesList td.status .changeStatusCombobox span
{
	display: inline-block;
    margin: 3px 0 0 2px;
	width: 16px;
	height: 16px;
	*inline:inline;
    *zoom: 1;
}

#milestonesList td.status .changeStatusCombobox .active,
#milestonesList td.status .changeStatusCombobox .overdue,
#milestonesList td.status .changeStatusCombobox .closed 
{
	background: url('../images/projects_entity_statuses.png') no-repeat;
    background-position: 0 -60px;
}

#milestonesList td.status .changeStatusCombobox .closed 
{
	background-position: 0 -80px;
}

#milestonesList td.title{
    padding-left: 10px;
}

#milestonesList td.title div
{
	width: 99%;
	margin-left: 3px;
}
    #milestonesList td.title .key
    {
        background: url("../images/common-icons.png") no-repeat -3px -96px;
        float: left;
	    margin-right: 5px;
	    display: block;
        width: 16px;
        height: 16px;
    }
#milestonesList td.title a,
#milestonesList td.title a:hover
{ 
	font-weight: bold;
    overflow: hidden;
	color: #333333;
	width: 93%;
	text-decoration: none;
	cursor: default;
}

#milestonesList tr.closed td.title a
{
	color: #83888D;
}


#milestonesList td.activeTasksCount
{
	width: 32px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: right;
}

#milestonesList td.closedTasksCount
{
	width: 32px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: left;
}

#milestonesList td.closedTasksCount a, #milestonesList tr.closed td.closedTasksCount a,
#milestonesList tr.closed td.activeTasksCount a,
#milestonesList tr.closed td.slash
{
	color: #83888D;
}

#milestonesList .activeTasksCount a
{
	color: #333333;
}

#milestonesList a {
	text-decoration: none;
}

#milestonesList .closedTasksCount a {
    color: #83888D;
}

#milestonesList td.slash
{
	width: 6px;
	text-align: center;
}

#milestonesList td.responsible
{
	width: 160px;
	padding-left: 20px;
}

#milestonesList td.responsible div
{
	width: 160px;
}

#milestonesList td.responsible span
{
	display: inline-block;
	max-width: 160px;
	overflow: hidden;
	white-space: nowrap;
	height: 16px;
	border-bottom: 1px dotted transparent;
}
#milestonesList tr:hover td.responsible span,
#milestonesList td.responsible span:hover
{
	border-bottom: 1px dotted #000000;
	cursor: pointer;
}

#milestonesList tr:hover td.responsible span.not-action,
#milestonesList td.responsible span.not-action:hover
{
	border-bottom: 1px dotted transparent;
	cursor: default;
}

#milestonesList tr.closed td.responsible span
{
	color: #83888D;
	border-bottom-color: #83888D;
}

#milestonesList td.deadline
{
	width: 65px;
	text-align: center;
}

#milestonesList tr.closed td.deadline
{
	color: #83888D;
    font-size: 11px;
}

#milestonesList td.deadline .overdue
{
	color: #E34603;
}

#milestonesList td.actions
{
	width: 45px;
}

#milestonesList td.actions .entity-menu
{	
	margin: 0px 10px 0px 14px;
}

#milestonesList tr .entity-menu.selected {
    background-position: center bottom;
}

#milestonesList td.process
{
	height: 37px;
	background: url('../images/loader16.gif') no-repeat 18px 11px;
}

/*------description panel-----*/

#descriptionPanel 
{
	font-size: 12px;
	color: #333333;
	min-width: 150px;
	max-width: 420px;
	line-height: 20px;
	z-index: 10;
}
#descriptionPanel .value .project {
    height: 20px;
}
#descriptionPanel .value .project a {
    border-bottom: 1px dotted #333333;
    color: #333;
    cursor: pointer;
    max-width: 170px;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    display: inline;
}

#descriptionPanel .value .createdby
{
	text-decoration: none;
	margin-right: 15px;
	white-space: nowrap;
}

#descriptionPanel .value .date
{
	height: 20px;
}

.noContentBlock,
#EmptyListForFilter,
#EmptyListMilestone
{
    display: none;
}
