/*
 *
 * (c) Copyright Ascensio System Limited 2010-2018
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.mainContainerClass > .containerHeaderBlock table td > div:last-child {
    display: none;
}

#pageHeader #TemplatesComboboxContainer {
    float: right;
    padding-top: 4px;
    margin-right: 5px;
}

#pageHeader #TemplatesComboboxContainer .viewSwitcherItem {
    padding: 0px;
    margin-right: 4px;
}

.dottedHeader .headerPanel {
    display: inline-block;
    border-bottom: 1px dotted #3C4046;
    cursor: pointer;
}

#projectTitleContainer .inputTitleContainer,
#projectTagsContainer .dottedHeaderContent {
    width: 500px;
}

#projectDescriptionContainer textarea {
    resize: vertical;
}

#projectManagerContainer .headerPanelSmall,
#projectTeamContainer .headerPanelSmall,
#projectStatusContainer .headerPanelSmall {
    margin-bottom:15px;
}

#projectManagerContainer .notifyManagerContainer {
    padding-top: 10px;
}

#notifyManagerCheckbox {
    margin: 3px 0px 0px;
    padding: 0px;
    float: left;
}

#projectManagerContainer label {
    padding-left: 5px;
}

#projectStatusContainer {
    margin-top: 28px;
    margin-bottom: 24px;
}

#projectStatusContainer .headerPanel {
    margin-bottom: 7px;
}

#projectTeamContainer {
    margin-bottom: 19px;
}

#projectParticipantsContainer {
    display: none;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#projectContactsContainer {
    margin-bottom: 20px;
}

    #projectContactsContainer.border-bottom {
        border-bottom: 1px solid #D1D1D1;
    }

    #projectContactsContainer .no-linked-contacts {
        display: none;
    }

    #projectContactsContainer .headerPanelSmall {
        margin-bottom: 10px;
    }

    #projectContactsContainer .crm-contact {
        border-top: 1px solid #D1D1D1;
        padding: 9px 20px;
    }

#projectTagsContainer .describe-text {
    margin-bottom: 12px;
}

#projectVisibilityContainer,
#projectFollowContainer,
#projectTagsContainer {
    margin-bottom: 22px;
}

#tagsContainer {
    margin-top: 12px;
    display: block;
}

#projectPrivacyCkeckbox,
#followingProjectCheckbox {
    margin: 3px 0px 0px;
    padding: 0px;
    float: left;
}

#projectVisibilityContainer label,
#projectFollowContainer label {
    padding-left: 5px;
}

#projectActionsContainer #projectDeleteButton {
    margin-right: 0px;
    float: right;
    line-height: 17px;
}

.checkboxPrivateProj {
    margin-top: 15px;
}

.HelpCenterSwitcher {
    margin-left: 5px;
}

#projectManager {
    display: none;
}