/*
 *
 * (c) Copyright Ascensio System Limited 2010-2018
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.generated-report-filter-container #generateNewReport, .generated-report-buttons {
    visibility: hidden;
}
.generated-report-container.borderBase {
    border: none;
}
.generated-report-container a 
{
	color:#000000 !important;
	font-size:12px;
	font-weight:normal;
	text-decoration : none !important;
}

.sortable
{
	border-collapse: collapse;
	width: 100%;
}
.sortable thead th
{
	cursor: pointer;
	color: #000000;
	font-size: 12px;
}
.generated-report-container .sortable tbody td
{
	text-align: left;
	border-left: none;
	border-right: none;
	vertical-align: middle;
}

.generated-report-container .sortable tr:last-child td,
.generated-report-container .pm-tablebase tr:last-child td {
    border-bottom: medium none;
}

.report-tableColumnHeader
{
	border-bottom: none;
	color: #333;
	text-decoration:none;
}

/********heders**********/
a.report-big-header,
a.report-middle-header,
a.report-small-header,
a.report-big-header:visited,
a.report-middle-header:visited,
a.report-small-header:visited, 
a.report-big-header:hover,
a.report-middle-header:hover,
a.report-small-header:hover,
a.report-big-header:active,
a.report-middle-header:active,
a.report-small-header:active   {
    font-weight: bold;
    color: #333;
    text-decoration:none;
}

a.report-big-header:hover,
a.report-middle-header:hover,
a.report-small-header:hover {
    text-decoration: underline;
}

a.report-big-header {
    font-size: 16px;
}
a.report-middle-header {
    font-size: 14px;
}
/*----*/

.borderBase 
{
	border:1px solid #333;
}

.mainContainerClass
{
    border: none !important;
}
.mainPageLayout
{
    margin: 0 !important;
    width: 100% !important;
}
.gray-text, .red-text
{
	color:#333 !important;
}


