/*
(c) Copyright Ascensio System SIA 2010-2014

This program is a free software product.
You can redistribute it and/or modify it under the terms 
of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of 
any third-party rights.

This program is distributed WITHOUT ANY WARRANTY; without even the implied warranty 
of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see 
the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html

You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.

The  interactive user interfaces in modified source and object code versions of the Program must 
display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 
Pursuant to Section 7(b) of the License you must retain the original Product logo when 
distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under 
trademark law for use of our trademarks.
 
All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
*/

/*
    Copyright (c) Ascensio System SIA 2013. All rights reserved.
    http://www.teamlab.com
*/
.taskProcess {
  background: url('../images/loader16.gif') no-repeat;
}

/*******************************************************************************
   Subtasks
*******************************************************************************/

.subtask .dottedLink {
  display:table;
}
.subtask .dottedLink:hover {
  color: #000;
  border-bottom: #000 1px dotted;
}
.subtask.with-entity-menu  .entity-menu 
{
    float: right;
    margin: 4px 10px 0 15px;
}
.subtask:hover .entity-menu.show, .subtask .entity-menu.show,
.subtask.menuopen  .entity-menu, .subtask.menuopen .entity-menu:hover,
.subtask:hover .entity-menu.show, .subtask .entity-menu.show:hover 
{
    background-position: center bottom;
}

.nomenupoint {
	width:16px;
	height:16px;
	float:right;
    margin: 0 15px 0 15px;	
}

.subtasks { 
  position: relative;
  margin:8px 0;
}

.taskList .subtasks { /*---for list tasks---*/
    display: none;
    margin-left: 48px;
}
.subtask {
    line-height: 30px;
    clear: both;
}

.subtask:hover,
.subtask.menuopen  {
  background: #f2f2f2;
}
.subtask.last {
  border-bottom: none;
}
.subtask .check {
  float:left;
  width:13px;
  height:29px; 
  margin-left: 7px; 
}
.subtask .check input {
  margin-top:5px;
  margin-left:0px;
}
*:first-child+html .subtask .check input {
  margin-top:5px;
}
.subtask .check input, #ie#fix {
  margin-top:8px;
}
.subtask .taskName {
  float:left;
  width:66.5%;
  margin-left:10px;
  line-height:29px;
  overflow:hidden;
  padding-bottom: 7px;
}
@media all and (max-width: 1200px) {
    .subtask .taskName {
         width:60.5%;
    }
}
.subtask .taskName span {
	display: block;
	margin-top: 7px;
	line-height:16px;
}
.subtask.done .taskName {
  color:#83888d;
  font-size:12px;
  text-decoration:line-through;
}
.subtask .user {
    white-space:nowrap;
    float:right;
    overflow:hidden;
    line-height:29px;
    width:160px;
    display: inline-block;
}                                       
.subtask .user b {
    color:#666;
}
.subtask.done .user {
    color:#83888d;
    font-size:12px;  
}
.quickAddSubTaskLink {
    margin: 8px 0 6px 6px;
    border: #fff 1px solid;    
}

.subtask-loader {
    margin-top: 10px;
    height:12px;
    width: 12px;
    background: url('../images/loader12.gif') no-repeat 0 0;
}
.add-subtask-field-wrapper .subtask-loader {
    position: absolute;
    top: -2px;
    left: 7px;
}
.subtask.closed .taskName {
    color:#83888d;
    text-decoration:line-through;    
}
.subtask.closed .user{
    color:#83888d;
    font-size: 11px;
    width:160px;
}

/*---subtasks---*/
.add-subtask-field-wrapper {
    position: relative;
    clear:both;
    background-color:#fff;
}
.add-subtask-field-wrapper.absolute {
    position: absolute;
    top: 2px;
}

.title-and-responsible-wrapper {
    padding: 2px;
}
.subtask-name-input, .subtask-name-input:focus {
    border-color: transparent;
    outline: none;
    width: 60%;
}

.add-subtask-field-wrapper {
    clear:both;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
    .add-subtask-field-wrapper td
    {
        padding: 4px;
    }
    .add-subtask-field-wrapper .subtask-name{
        border-right: none;
        padding-left: 24px;
    }

.add-subtask-field-wrapper input.subtask-name-input,
.add-subtask-field-wrapper input.subtask-name-input:focus {
    border: none;
    outline: 0;
    width: 100%;
}
.add-subtask-field-wrapper .subtask-responsible
{
    width: 150px;
    border-left: none;
}

.subtask-responsible .tl-combobox .combobox-container{
    max-width: 256px;
}
@media all and (max-width: 1200px)
{
    .subtask-responsible-selector
    {
        max-width: 136px;
        float: left;
    }
}
.add-subtask-field-wrapper .subtask-add-button {
    width: 40px;
    padding-left: 8px;
}

/*******************************************************************************
   TaskDescriptionView
*******************************************************************************/
#taskTitleContainer{ margin-bottom: 4px;}
#taskTitleContainer .headerTaskTitle
{
	color: #111;
	font-size: 24px;
	float: left;
	line-height: 30px;
	max-width: 95%;
    overflow: hidden;
	text-overflow: ellipsis;
}
.deadlineLate
{
	color: #CC3300;
}
.studio-action-panel .date  /*--fix color--*/
{
    color: #333;
}
/*------common info-----*/

.commonInfoTaskDescription .buttonContainer {
	padding-top: 30px;
}
.colorPriority
{
	float: left;
	height: 16px;
	width: 16px;
	margin-right: 2px;
}

.commonInfoTaskDescription .high {
	background:url('../images/projects_entity_statuses.png') no-repeat 0 -115px;
}

.commonInfoTaskDescription .buttonContainer span .button.blue.big {
	margin-right: 15px;
}
.commonInfoTaskDescription .task-description {
    font-style:normal;
    color: #333;
    margin-bottom: 15px;
}
.commonInfoTaskDescription div.task-desc-block {
	display: block;
	clear: both;
    line-height: 20px;
}
.commonInfoTaskDescription div.task-desc-block span {
	padding-bottom: 5px;
}
.commonInfoTaskDescription div.task-desc-block span .userLink {
	margin-right: 15px;
}
.commonInfoTaskDescription div.task-desc-block span.title {
	margin-right: 5px;
	color: #83888D;
	text-align: left;
    float: left;
}
.commonInfoTaskDescription div.task-desc-block span.value {
	margin-right: 30px;
    float: left;
}
.commonInfoTaskDescription div.task-desc-block span.value a:link,
.commonInfoTaskDescription div.task-desc-block span.value a:hover,
.commonInfoTaskDescription div.task-desc-block span.value a:active,
.commonInfoTaskDescription div.task-desc-block span.value a:visited {
    color: #000;
    float: left;
    max-width: 200px;
    overflow: hidden;
    text-decoration: underline;
    white-space: nowrap;
}
.commonInfoTaskDescription div.task-desc-block span.value a:hover {
	text-decoration: none;
}
.commonInfoTaskDescription div.timeSpend {
	display: none;
}
.commonInfoTaskDescription div.timeInfo span {
	width: auto;
}
/*--------tabs-------*/
.taskTabs {
	padding-top: 20px;
	display:none;	
}

/*-------Comments & subtasks------*/

#commentContainer #commentsTitle,
#commentContainer #add_comment_btn,
#commentsListWrapper{
	display: none;
}
#commentsListWrapper{
    margin-top: 15px
}
.taskTabs .emptyScrBttnPnl {
	padding-left: 20px;
    line-height: 20px;
    margin-top: 8px;
}

/*-----Related tasks-----*/

.related-task-loader{
    width: 48px;
    height: 48px;
    background: url("../images/loader_48.gif") no-repeat scroll center #FFFFFF;
    margin: 0 auto;
    margin-top: 16px;
}

.linked-tasks-buttons .baseLinkAction,
.linked-tasks-buttons .icon-link a {
    color: #333;
}
.linked-tasks-buttons .baseLinkAction.disabled {
    color: #83888D;
    cursor: default;
}

.linked-tasks-buttons .icon-link {
    margin-right: 24px;
}

.task-links {
    margin-top: 16px;
    border-collapse: collapse;
    color: #333333;
    font-size: 12px;
    table-layout: fixed;
    width: 100%;
}
#relatedTasks {
    border-bottom: 1px solid #D1D1D1;
}
#relatedTasks .linked-task:hover {
    background-color: #F2F2F2;
}
#relatedTasks .linked-task.invalid-link,
#relatedTasks .linked-task.invalid-link:hover {
    background-color: #F7E1D9;
}
.attantion {
    display: inline-block;
    line-height: 16px;
    width: 16px;
    margin: 2px 4px 0 0;
    background: url("../images/small-icons.png") no-repeat 0 -104px transparent;
}
.task-links .title .task-name {
    color: #333;
    max-width: 98%;
    line-height:14px;
    text-decoration: none;
    display:inline-block;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.task-links .title .task-name:hover {
    text-decoration: underline;
}

.task-links .invalid-link .title .task-name{
    max-width: 87%;
    margin-top: 2px;
}

.gray-text .title a {
    color: #83888D;
}
.task-links .linked-task td {
    border-top: 1px solid #D1D1D1;
    height:32px;
    vertical-align:middle;
    padding: 0px 8px;
}
.task-links .start-date, .task-links .end-date,
.task-links .duration, .task-links .link-type {
    width:100px;
    text-align: center;
}
.task-links .actions {
    width: 24px;
}
/*---edit task link container --*/
#linkedTasksContainer {
    position:relative;
}
#editTable {
    background-color: #fff;
}
#editTable.border-top .linked-task td {
    border-top: 1px solid #D1D1D1;
}
#editTable.border-bottom .linked-task td {
    border-bottom: 1px solid #D1D1D1;
}
.task-links .edit-link-container .link-type {
    width: 251px;
}
#taskSelector,
#taskSelector option {
    width: 100%;
    max-width: 500px;
}
#linkTypeSelector, #linkTypeSelector option{
    width: 150px;
    max-width: 150px;
}
#editTable .actions {
    width: 64px;
    text-align: right;
}
/*------*/

.taskTabs .taskProcess {
  height: 25px;
  width: 16px;
  background-position: 0 8px;
}

#subtaskContainer, #filesContainer, #commentContainer {
    margin-bottom: 20px;
    clear: both;
}
.tabContent { display: none;}

