/*
 *
 * (c) Copyright Ascensio System Limited 2010-2018
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.smtp-settings-text {
    margin-bottom: 28px;
}

.smtp-settings-item {
    clear: both;
    margin: 0 0 10px 0;
    width: 350px;
}
.smtp-settings-item label {
    margin: 1px 0 0 0;
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
}
.smtp-settings-item input[type="checkbox"] {
    margin-left: 0;
}
.smtp-settings-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.smtp-settings-field {
    width: 345px;
}
.smtp-settings-item .host {
    float: left;
    margin-right: 15px;
}
.smtp-settings-item .host .smtp-settings-field {
    width: 275px;
}
.smtp-settings-item .port .smtp-settings-field{
    width: 50px;
}
#smtpSettingsButtonSave,
#smtpSettingsButtonDefault,
#smtpSettingsButtonTest
 {
    margin-bottom: 15px;
}

#smtpSettingsView .smtp-settings-item label {
    font-weight: normal;
}

#smtpSettingsView .smtp-settings-title {
    margin-bottom: 6px;
}

#smtpSettingsView .smtp-settings-item {
    margin-bottom: 13px;
}

#smtpSettingsView .middle-button-container {
    margin-top: 23px;
}

#settingsSwitch {
    padding-left: 0;
    margin-bottom: 11px;
}

#settingsSwitch #settingsSwitchHeader {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 15px;
}

#noDomainsMsg a {
    text-decoration: underline;
}

#noDomainsMsg a:hover {
    text-decoration: none;
}

#notificationLogin {
    float: left;
    width: 165px;
    margin-bottom: 10px;
}

#notificationHostDomainSplitter {
    float: left;
    width: 11px;
    margin: 0 2px;
}

#notificationDomain {
    width: 165px;
    height: 20px;
}