<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="storage" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage" />
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <clear />
    <add name="default" connectionString="Server=localhost;Database=onlyoffice;User ID=dev;Password=dev;Pooling=true;Character Set=utf8;AutoEnlist=false;SSL Mode=none" providerName="MySql.Data.MySqlClient" />
    <add name="teamlabsite" connectionString="Server=localhost;Database=onlyoffice_site;User ID=dev;Password=dev;Pooling=true;Character Set=utf8;AutoEnlist=false;;SSL Mode=none" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <storage>
    <appender>
      <clear />
      <add name="generic" append="~/" />
    </appender>
    <handler>
      <clear />
      <add name="disc" type="ASC.Data.Storage.DiscStorage.DiscDataStore, ASC.Data.Storage">
        <property name="$STORAGE_ROOT" value="..\Data\"/>
      </add>
    </handler>
    <module>
      <clear />
      <add name="forum" data="853B6EB9-73EE-438d-9B09-8FFEEDF36234" type="disc" path="$STORAGE_ROOT\Products\Community\Modules\Forum\Data\attachments" virtualpath="~/products/community/modules/forum/data/attachments" expires="0:10:0" />
      <add name="bookmarking" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Products\Community\Modules\Bookmarking\Data\images" virtualpath="~/products/community/modules/bookmarking/data/images" />
      <add name="wiki" data="742CF945-CBBC-4a57-82D6-1600A12CF8CA" type="disc" path="$STORAGE_ROOT\Products\Community\Modules\Wiki\Data\files" virtualpath="~/products/community/modules/wiki/data/files" expires="0:10:0">
        <domain>
          <add name="temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Wiki\Data\filestemp" virtualpath="~/products/community/modules/wiki/data/filestemp" />
        </domain>
      </add>

      <add name="files" data="e67be73d-f9ae-4ce1-8fec-1880cb518cb4" type="disc" path="$STORAGE_ROOT\Products\Files" expires="0:16:0">
        <domain>
          <add name="files_temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Files\{0}\temp" expires="0:10:0" />
        </domain>
      </add>
      <add name="files_template" visible="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="Products\Files\DocStore" virtualpath="~/products/files/docstore" appendTenantId="false" public="true" disableMigrate="true" disableEncryption="true"/>

      <add name="crm" data="6743007C-6F95-4d20-8C88-A8601CE5E76D" type="disc" path="$STORAGE_ROOT\Products\CRM\Data" virtualpath="~/products/crm/data">
        <domain>
          <add name="temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\CRM\Data\{0}\temp" />
          <add name="mail_messages" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\CRM\Data\{0}\mail_messages" />
          <add name="voip" visible="true" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\CRM\Data\{0}\voip" virtualpath="~/products/crm/data/{0}/voip" public="true" />
        </domain>
      </add>
      <add name="crm_template" visible="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="Products\CRM\DocStore" disableMigrate="true"  disableEncryption="true"/>

      <add name="fckuploaders" count="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Studio\htmleditorfiles" virtualpath="~/data/shared/htmleditorfiles">
        <domain>
          <add name="mail" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\addons\mail\Data\htmleditorfiles" virtualpath="~/addons/mail/data/htmleditorfiles" />
          <add name="forum" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Forum\Data\htmleditorfiles" virtualpath="~/products/community/modules/forum/data/htmleditorfiles" />
          <add name="news" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\News\Data\htmleditorfiles" virtualpath="~/products/community/modules/news/data/htmleditorfiles" />
          <add name="news_comments" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\News\Data\fckcomments" virtualpath="~/products/community/modules/news/data/fckcomments" />
          <add name="blogs" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Blogs\Data\htmleditorfiles" virtualpath="~/products/community/modules/blogs/data/htmleditorfiles" />
          <add name="blogs_comments" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Blogs\Data\fckcomments" virtualpath="~/products/community/modules/blogs/data/fckcomments" />
          <add name="bookmarking_comments" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Bookmarking\data\fckcomments" virtualpath="~/products/community/modules/bookmarking/data/fckcomments" />
          <add name="wiki_comments" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Wiki\Data\fckcomments" virtualpath="~/products/community/modules/wiki/data/fckcomments" />
          <add name="projects_comments" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Projects\Data\fckcomments" virtualpath="~/products/projects/data/fckcomments" />
        </domain>
      </add>

      <add name="talk" data="BF88953E-3C43-4850-A3FB-B1E43AD53A3E" type="disc" path="$STORAGE_ROOT\addons\talk\Data" virtualpath="~/addons/talk/data" />

      <add name="certs" visible="false" type="disc" path="$STORAGE_ROOT\certs\" appendTenantId="false" />

      <add name="mailaggregator" data="666ceac1-4532-4f8c-9cba-8f510eca2fd1" type="disc" path="$STORAGE_ROOT\addons\mail\Data\aggregator" virtualpath="~/addons/mail/data/aggregator" >
        <domain>
          <add name="attachments_temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\addons\mail\Data\aggregator\{0}\temp" virtualpath="~/addons/mail/data/aggregator/{0}/temp" />
        </domain>
      </add>

      <add name="logo" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Studio\{0}\logo" virtualpath="~/studio/{0}/logo" public="true" />
      <add name="whitelabel" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Studio\{0}\CoBranding" virtualpath="~/studio/{0}/cobranding" public="true" />

      <add name="backup" visible="false" type="disc" path="$STORAGE_ROOT\Studio\{0}\backup" virtualpath="~/studio/{0}/backup" expires="0:10:0" />
      <add name="customnavigation" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Studio\{0}\customnavigation" virtualpath="~/studio/{0}/customnavigation" />
      <add name="userPhotos" count="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Studio\{0}\userphotos" virtualpath="~/studio/{0}/userphotos">
        <domain>
          <add name="temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Studio\{0}\userphotos\temp" virtualpath="~/studio/{0}/userphotos/temp" />
        </domain>
      </add>

      <add name="static_partnerdata" type="disc" path="App_Data\static\partnerdata" acl="Read" virtualpath="~/App_Data/static/partnerdata" appendTenantId="false" public="true" disableMigrate="true" disableEncryption="true"/>
    </module>
  </storage>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.0" newVersion="1.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.Extensions.Core" publicKeyToken="d7d863643bcd13ef" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.45.0.0" newVersion="1.45.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.45.0.0" newVersion="1.45.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.45.0.0" newVersion="1.45.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Storage.v1" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.45.0.1911" newVersion="1.45.0.1911" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Rest" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Flurl.Http" publicKeyToken="1308302a96879dfb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.0.0" newVersion="0.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Flurl" publicKeyToken="1308302a96879dfb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.10.0" newVersion="1.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
