<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="MailEnableServer" connectionString="test" />
  </connectionStrings>
  <appSettings>
    <add key="TenantId" value="0" />
    <add key="TeamlabUserGuid" value="fca7260e-3fd1-482e-9641-c04dc3e302be" />
    <add key="TeamlabUserName" value ="vyacheslav.yudanov" />
  </appSettings>
</configuration>