/*
 *
 * (c) Copyright Ascensio System Limited 2010-2018
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


table.MainBlogsTable
{
    width: 100%;
    border-bottom: 1px dotted #D1D1D1;
}
table.MainBlogsTable td.avatarContainer
{
    width: 85px;
}

.ContentMainBlog
{
    margin: 12px 8px 0;
}

.TagsMainBlog
{
    margin: 20px 8px 0;
}
.TagsImgMainBlog
{
    margin-bottom:-2px;
    margin-right:2px;
}

.BlogsBodyBlock {
    padding-left: 0px; 
}

.navigationLinkBox.news {
    padding: 10px 0 5px;
}

#tableForNavigation {
    margin-top: 10px;
    width: 100%;
}

.navigationLinkBox .tl-combobox {
    background: url("images/comboarrow_bottom.png") no-repeat scroll right center transparent;
    margin-bottom: 1px;
    vertical-align: middle;
}

.navigationLinkBox .tl-combobox .combobox-title .inner-text {
    border-bottom: 1px dotted #666666;
    color: #666666;
}
.table-border-dotted {
     border-bottom: 1px dotted #D1D1D1;
}

.MainBlogsTable .author-title {
    display: inline-block;
}
.MainBlogsTable .author-name {
    display: inline-block;
    margin-left: 12px;
}
