<script id="addFirstAccountTmpl" type="text/x-jquery-tmpl">
    <div id="add-first-account" class="popup">
        <table>
            <tbody>
                <tr>
                    <td class="img_accounts" />
                    <td class="body">
                        <p class="title">${ASC.Mail.Resources.MailScriptResource.AddAccountInfoTitle}</p>
                        <p class="info">${ASC.Mail.Resources.MailScriptResource.AddAccountInfoText}</p>
                        <p class="question">${ASC.Mail.Resources.MailScriptResource.AddAccountInfoQuestion}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="buttons">
            <a class="button blue middle ok" onclick="accountsModal.addBox();">${ASC.Mail.Resources.MailScriptResource.AddAccountBtnLabel}</a>
            <a class="button gray middle cancel">${ASC.Mail.Resources.MailScriptResource.CancelBtnLabel}</a>
        </div>
    </div>
</script>
