<script id="actionPanelTmpl" type="text/x-jquery-tmpl">
    <div class="actionPanel{{if typeof(css) !=='undefined'}} ${css}{{/if}}">
        <div class="actionPanelContent">
        </div>
    </div>
</script>

<script id="actionPanelItemTmpl" type="text/x-jquery-tmpl">
    <div class="action{{if typeof(css_class) !=='undefined' && css_class !== ''}} ${css_class}{{/if}}{{if typeof(disabled) === 'undefined' || disabled === false}} active{{/if}}"
        isActive="{{if typeof(disabled) !=='undefined'}}${disabled === false}{{else}}true{{/if}}"
        title="${text}">
        ${text}{{if typeof(explanation) !=='undefined'}}<span class="explanation">${explanation}</span>{{/if}}
    </div>
</script>

<script id="moreLinkTmpl" type="text/x-jquery-tmpl">
    <div class="more_lnk">
        <span class="gray">${moreText}</span>
    </div>
</script>

<script id="popupNotificationTmpl" type="text/x-jquery-tmpl">
    <div class="toast-popup-container">
        <div class="toast ${cssClass}">
            <div class="toast-message">${text}</div>
        </div>
    </div>
</script>

<script id="mapLinkTmpl" type="text/x-jquery-tmpl">
    <a href="${mapUrl}" target="_blank" class="link underline">(${ASC.Mail.Resources.MailScriptResource.CalendarMapLabel})</a>
</script>

<script id="calendarDateHelperTmpl" type="text/x-jquery-tmpl">
    <span class="HelpCenterSwitcher" onclick="jq(this).helper({ BlockHelperID: 'CalendarDateHelperBlock_${messageId}'});"></span>
    <div class="popup_helper" id="CalendarDateHelperBlock_${messageId}">
        <p>${ASC.Mail.Resources.MailResource.CalendarDateInformationText}</p>
        <div class="cornerHelpBlock pos_top"></div>
    </div>
</script>

<script id="commonSettingsHeaderTmpl" type="text/x-jquery-tmpl">
    <div class="content-header">
        <span class="header-base">${ASC.Mail.Resources.MailResource.CommonSettingsLabel}</span>
    </div>
</script>

<script id="accountsPageHeaderTmpl" type="text/x-jquery-tmpl">
    <div class="content-header">
        {{if ASC.Mail.Constants.COMMON_DOMAIN_AVAILABLE}} 
        <a title="${ASC.Mail.Resources.MailResource.CreateMailboxBtn}" class="button gray" id="createNewMailbox">
            <div class="plus" style="background-position: -2px 1px;">${ASC.Mail.Resources.MailResource.CreateMailboxBtn}</div>
        </a>
        {{/if}}
        <a title="${ASC.Mail.Resources.MailResource.CreateNewAccountBtn}" class="button gray" id="createNewAccount">
            <div class="plus" style="background-position: -2px 1px;">${ASC.Mail.Resources.MailResource.CreateNewAccountBtn}</div>
        </a>
        <span class="HelpCenterSwitcher" id="accountsHelpCenterSwitcher"></span>&nbsp;
    </div>
</script>

<script id="tagsPageHeaderTmpl" type="text/x-jquery-tmpl">
    <div class="content-header">
        <a title="${ASC.Mail.Resources.MailResource.CreateNewTagBtn}" class="button gray" id="createNewTag">
            <div class="plus" style="background-position: -2px 1px;">${ASC.Mail.Resources.MailResource.CreateNewTagBtn}</div>
        </a>
        <span class="HelpCenterSwitcher" id="tagHelpCenterSwitcher"></span>&nbsp;
    </div>
</script>

<script id="userFoldersPageHeaderTmpl" type="text/x-jquery-tmpl">
    <div class="content-header">
        <a title="${ASC.Mail.Resources.MailResource.CreateUserFolderBtn}" class="button gray" id="createUserFolder">
            <div class="plus" style="background-position: -2px 1px;">${ASC.Mail.Resources.MailResource.CreateUserFolderBtn}</div>
        </a>
        <a title="${ASC.Mail.Resources.MailResource.EditUserFolderBtn}" class="button gray" id="editUserFolder">
            <div style="background-position: -2px 1px;">${ASC.Mail.Resources.MailResource.EditUserFolderBtn}</div>
        </a>
        <a title="${ASC.Mail.Resources.MailResource.DeleteUserFolderBtn}" class="button gray" id="deleteUserFolder">
            <div style="background-position: -2px 1px;">${ASC.Mail.Resources.MailResource.DeleteUserFolderBtn}</div>
        </a>
        <span class="HelpCenterSwitcher" id="userFoldersHelpCenterSwitcher"></span>&nbsp;
    </div>
</script>

<script id="filtersPageHeaderTmpl" type="text/x-jquery-tmpl">
    <div class="content-header">
        <a title="${ASC.Mail.Resources.MailResource.CreateFilterBtn}" class="button gray" id="createFilter">
            <div class="plus" style="background-position: -2px 1px;">${ASC.Mail.Resources.MailResource.CreateFilterBtn}</div>
        </a>
        <span class="HelpCenterSwitcher" id="filtersHelpCenterSwitcher"></span>&nbsp;
    </div>
</script>

<script id="administrationPageHeaderTmpl" type="text/x-jquery-tmpl">
    <div class="content-header">
        <a title="${ASC.Mail.Resources.MailAdministrationResource.AddNewDomainButton}" class="button gray" id="mail-server-add-domain">
            <div class="plus" style="background-position: -2px 1px;">${ASC.Mail.Resources.MailAdministrationResource.AddNewDomainButton}</div>
        </a>&nbsp;
    </div>
</script>