<script id="replyMessageHtmlBodyTmpl" type="text/x-jquery-tmpl">
    <div>
        <div><br /></div>
        <div class="reply-text" style="padding: 10px; font-family:open sans,sans-serif; font-size:12px; margin:0;">
            <p style="margin: 0;">${message.date}, ${message.preprocessAddresses(message.from)}:</p>
            {{if !visibleQoute}}
            {{tmpl({}, {}) "blockquoteTmpl"}}
            <blockquote style="margin-left:20px; padding-left:20px; border-left:1px solid #D1D1D1; display:none;">
                {{html message.htmlBody}}
            </blockquote>
            {{else}}
            <blockquote style="margin-left:20px; padding-left:20px; border-left:1px solid #D1D1D1;">
                {{html message.htmlBody}}
            </blockquote>
            {{/if}}
        </div>
    </div>
</script>

<script id="forwardMessageHtmlBodyTmpl" type="text/x-jquery-tmpl">
    <div>
        <div><br /></div>
        <div class="forward-text" style="padding: 10px; font-family:open sans,sans-serif; font-size:12px; margin:0;">
            <p style="margin: 0;">-------- ${ASC.Mail.Resources.MailScriptResource.ForwardTitle} --------</p>
            <p style="margin: 0;">${ASC.Mail.Resources.MailScriptResource.FromLabel}: ${preprocessAddresses(from)}</p>
            <p style="margin: 0;">${ASC.Mail.Resources.MailScriptResource.ToLabel}: ${preprocessAddresses(to)}</p>
            {{if typeof(cc) !== 'undefined' && cc !== null && cc !== ''}}
            <p style="margin: 0;">${ASC.Mail.Resources.MailResource.CopyLabel}: ${preprocessAddresses(cc)}</p>
            {{/if}}
            <p style="margin: 0;">${ASC.Mail.Resources.MailScriptResource.DateLabel}: ${date}</p>
            <p style="margin: 0;">${ASC.Mail.Resources.MailScriptResource.SubjectLabel}: ${subject}</p>
            <br />
            <div>{{html htmlBody}}</div>
        </div>
    </div>
</script>

<script id="blockquoteTmpl" type="text/x-jquery-tmpl">
    <button class="tl-controll-blockquote" contenteditable="false" tabindex="-1">...</button>
</script>