<script id="foldersTmpl" type="text/x-jquery-tmpl">
    <li class="menu-item none-sub-list{{if $item.marked==id}} active{{/if}}" folderid="${id}" {{if id==1 || id==3 || id==7 || id==5}}unread="{{if id==3}}${total_count}{{else}}${unread}{{/if}}"{{/if}}>
        <table>
            <tr>
                <td width="100%">
                    <a class="menu-item-label outer-text text-overflow" href="#" folderid="${id}" title="{{if id==1}}${ASC.Mail.Resources.MailResource.FolderNameInbox}{{else id==2}}${ASC.Mail.Resources.MailResource.FolderNameSent}{{else id==3}}${ASC.Mail.Resources.MailResource.FolderNameDrafts}{{else id==4}}${ASC.Mail.Resources.MailResource.FolderNameTrash}{{else id==5}}${ASC.Mail.Resources.MailResource.FolderNameSpam}{{else id==7}}${ASC.Mail.Resources.MailResource.FolderNameTemplates}{{/if}}">
                        <span class="menu-item-icon {{if id==1}}inbox{{else id==2}}sent{{else id==3 || id==7}}blogs{{else id==4}}trash{{else id==5}}spam{{/if}}">
                            <svg class="menu-item-svg"><use xlink:href="/skins/default/images/svg/mail-icons.svg#mailIcons{{if id==1}}inbox{{else id==2}}sent{{else id==3}}blogs{{else id==7}}templates{{else id==4}}trash{{else id==5}}spam{{/if}}"></use></svg>
                        </span>
                        <span class="menu-item-label inner-text">
                          {{if id==1}}${ASC.Mail.Resources.MailResource.FolderNameInbox}{{else id==2}}${ASC.Mail.Resources.MailResource.FolderNameSent}{{else id==3}}${ASC.Mail.Resources.MailResource.FolderNameDrafts}{{else id==4}}${ASC.Mail.Resources.MailResource.FolderNameTrash}{{else id==5}}${ASC.Mail.Resources.MailResource.FolderNameSpam}{{else id==7}}${ASC.Mail.Resources.MailResource.FolderNameTemplates}{{/if}}
                        </span>
                    </a>
                </td>
                <td>
                    <div class="lattersCount counter">
                     {{if id==4 || id==5}}
                        {{if total_count!=0}}
                            <span class="delete_mails" folderid="${id}" title="${ASC.Mail.Resources.MailResource.ClearBtnLabel}">
                            </span>
                        {{/if}}
                      {{/if}}
                      {{if unread!=0}}
                        {{if id==1 || id==5}}
                            <span class="unread new-label-menu nohover">${unread}</span>
                        {{/if}}
                      {{/if}}
                      {{if id==3}}
                           <span class="unread {{if total_count > 0}}new-label-menu nohover{{/if}}" style="background-color: transparent; color: black; font-size: 14px;">{{if total_count > 0}}${total_count}{{/if}}</span>
                      {{/if}}
                    </div>
                </td>
            </tr>
        </table>
    </li>
</script>