<script id="composeSignatureTmpl" type="text/x-jquery-tmpl">
  <div class="tlmail_signature" mailbox_id="${mailboxId}" style="font-family:open sans,sans-serif; font-size:12px; margin:0px;">
      <div>{{html html}}</div>
  </div>
</script>


<script id="manageSignatureTmpl" type="text/x-jquery-tmpl">
    <div class="manage_signature">
        <span class="info">${ASC.Mail.Resources.MailScriptResource.SignatureInformationText}</span>
        <label for="useSignatureFlag" class="checkbox use_singature">
            <input type="checkbox" id="useSignatureFlag" name="UseSignature"  {{if isActive}} checked="true" {{/if}}/>
            <span>${ASC.Mail.Resources.MailScriptResource.UseSingatureLabel}</span>
        </label>
            <div id="SignatureWYSIWYGEditor" class="signature_wysiwyg_editor">
                <textarea id="ckMailSignatureEditor" style ="height:200px;width: 100%;"></textarea>
            </div>
        <div class="buttons">
            <a class="button blue middle ok">${ASC.Mail.Resources.MailResource.SaveBtnLabel}</a>
            <a class="button gray middle cancel">${ASC.Mail.Resources.MailScriptResource.CancelBtnLabel}</a>
        </div>
    </div>
</script>