<script id="questionBoxTmpl" type="text/x-jquery-tmpl">
    <div>
        <div class="mail-confirmationAction">
            <p class="attentionText">${attentionText}</p>
            <p class="questionText">${questionText}</p>
        </div>
        <div class="buttons">
            <button class="button middle blue remove" type="button">${ASC.Mail.Resources.MailResource.DeleteBtnLabel}</button>
            <button class="button middle gray cancel" type="button">${ASC.Mail.Resources.MailScriptResource.CancelBtnLabel}</button>
        </div>
    </div>
</script>
