<script id="changeMailboxPasswordPopupTmpl" type="text/x-jquery-tmpl">
    <div id="mail_server_change_mailbox_password_popup" data_id="${login}">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="block-cnt-splitter mailboxTitle">
                            <div class="bold">${ASC.Mail.Resources.MailAdministrationResource.MailboxAddressLabel}:</div>
                            <div>${login}</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="mailboxPwd" class="block-cnt-splitter requiredField">
                            <a class="link dotline password-view off">${ASC.Mail.Resources.MailScriptResource.ShowPasswordLinkLabel}</a>
                            <span class="requiredErrorText">${ASC.Mail.Resources.MailScriptResource.ErrorEmptyField}</span>
                            <div class="headerPanelSmall bold">
                                ${ASC.Mail.Resources.MailResource.Password}
                            </div>
                            <div class="validationBlock" style="display: block;">
                                <input id="passValue" type="password" autocomplete="off" class="textEdit" maxlength="30" />
                                <a class="infoChecking" id="passwordGen" title="${ASC.Mail.Resources.MailResource.RandomPasswordLabel}">&nbsp;</a>
                                <div id="bubleBlock">
                                    <div id="passwordInfo" style="display: none;">
                                        ${ASC.Mail.Resources.ErrorPasswordMessage}:
                                        <br />
                                        <span id="passMinLength" class="infoItem">${ASC.Mail.Resources.ErrorPasswordLength.format(ASC.Mail.Constants.PASSWORD_SETTINGS.MinLength, 30)}</span>
                                        <br />
                                        <span id="passLatinLetters" class="infoItem">${ASC.Mail.Resources.ErrorPasswordOnlyLatinLetters}</span>
                                        <br />
                                        <span id="passNoSpaces" class="infoItem">${ASC.Mail.Resources.ErrorPasswordNoSpaces}</span>
                                        {{if ASC.Mail.Constants.PASSWORD_SETTINGS.Digits }}
                                        <br />
                                        <span id="passDigits" class="infoItem">${ASC.Mail.Resources.ErrorPasswordNoDigits}</span>
                                        {{/if}}
                                        {{if ASC.Mail.Constants.PASSWORD_SETTINGS.UpperCase }}
                                        <br />
                                        <span id="passUpper" class="infoItem">${ASC.Mail.Resources.ErrorPasswordNoUpperCase}</span>
                                        {{/if}}
                                        {{if ASC.Mail.Constants.PASSWORD_SETTINGS.SpecSymbols }}
                                        <br />
                                        <span id="passSpecial" class="infoItem">${ASC.Mail.Resources.ErrorPasswordNoSpecialSymbols} (!@#$%^&*)</span>
                                        {{/if}}
                                        <div class="triangle"></div>
                                    </div>
                                </div>
                                <input type="checkbox" id="passwordShow" />
                                <label for="passwordShow" class="hidePwd" id="passwordShowLabel"></label>
                                <div class="validationProgress">&nbsp;</div>
                                <br />
                                <textarea id="clip"></textarea>
                                <a id="copyValues" class="link dotline">${ASC.Mail.Resources.CopyEmailAndPassword}</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="progressContainer" style="margin-top: -14px;">
            <div class="loader" style="display: none;">${ASC.Mail.Resources.MailResource.LoadingLabel}</div>
        </div>
        <div class="buttons" style="margin-top: 0;">
            <button class="button middle blue save" type="button">${ASC.Mail.Resources.MailResource.SaveBtnLabel}</button>
            <button class="button middle gray cancel" type="button">${ASC.Mail.Resources.MailScriptResource.CancelBtnLabel}</button>
        </div>
    </div>
</script>
