<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- XHR type: flash, noflash (with http proxy) or handler (with http-poll handler)  -->
    <add key="RequestTransportType" value="handler" />
    <!-- file uploader type: flash or noflash  -->
    <add key="FileTransportType" value="noflash" />
    <add key="BoshPath" value="http://localhost:5280/http-poll/" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add verb="POST,GET" path="userphoto.ashx" type="ASC.Web.Talk.HttpHandlers.UserPhotoHandler, ASC.Web.Talk" />
      <add verb="POST,GET" path="opencontact.ashx" type="ASC.Web.Talk.HttpHandlers.OpenContactHandler, ASC.Web.Talk" />
    </httpHandlers>
    <compilation targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="talk-userphoto" verb="POST,GET" path="userphoto.ashx" type="ASC.Web.Talk.HttpHandlers.UserPhotoHandler, ASC.Web.Talk" />
      <add name="talk-opencontact" verb="POST,GET" path="opencontact.ashx" type="ASC.Web.Talk.HttpHandlers.OpenContactHandler, ASC.Web.Talk" />
    </handlers>
  </system.webServer>
</configuration>