/*
 *
 * (c) Copyright Ascensio System Limited 2010-2016
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


div.quotesBlock div.header 
{
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    margin: 25px 0 0;
    padding: 0 0 5px 15px;
}

div.quotesBlock div.header img
{
    margin-right:5px;
    vertical-align: bottom;
}

div.quotesBlock .storeUsage
{
    margin-top:20px;
    padding-left:15px;
    padding-bottom:10px;
}

div.quotesBlock .storeUsage .description
{
    color:#9da1a5;
    font-size: 14px;
    margin-top:5px;
    
}

div.quotesBlock .storeUsage .diskUsage
{
    margin-left:5px;
    color:#e85d11;
}

div.quotesBlock .storeUsage .goBtnBox
{
    margin-top:15px;
}


div.quotesBlock .contentBlock
{
    padding: 10px 15px;
}
    
div.quotesBlock div.information{margin:0; padding:0;}

div.quotesBlock table.information{width:100%; margin:0; padding:0; border-collapse:collapse;}

div.quotesBlock table.information td{margin:0; padding:0px 15px 5px 15px; border-collapse:collapse;}
div.quotesBlock table.information td.name{width:1%; font-size:16px; color:#3C4046; white-space:nowrap;}
div.quotesBlock table.information td.value{width:99%; white-space:nowrap;}

div.quotesBlock table.quotes{width:100%; margin:0; padding:0; border-collapse:collapse;}
div.quotesBlock table.quotes tr{border-left:0; border-right:0; height:40px;}
div.quotesBlock table.quotes tr.borderBase:hover{background-color: #f2f2f2;}
div.quotesBlock table.quotes tr.borderBase:hover a {text-decoration: underline;}
div.quotesBlock table.quotes tr.describe-text{height:12px;}
div.quotesBlock table.quotes td{margin:0; padding:5px 10px; border-collapse:collapse;}
div.quotesBlock table.quotes td.icon{width:1%; padding:5px 0 5px 15px;}
div.quotesBlock table.quotes td.name{width:86%; white-space:nowrap;}
/*div.quotesBlock table.quotes td.name{width:78%\0/;}*/
*:first-child+html div.quotesBlock table.quotes td.name{width:76%;}
div.quotesBlock table.quotes td.name div{max-width:750px; white-space:nowrap;overflow: hidden;}
div.quotesBlock table.quotes td.value{width:10%; padding:5px 15px 5px 0; text-align:right; white-space:nowrap;}

div.quotesBlock .moreBox
{
    margin-top:15px;
}

div.quotesBlock .emptySpace
{
    color: #646567;
}

.topTitleLink {
    margin-left: 15px;
}