<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" restartOnExternalChanges="true" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="storage" restartOnExternalChanges="true" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <clear/>
    <add name="mail" connectionString="Server=teamlab;Database=Test;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <storage>
    <appender>
      <add name="generic" append="~/"/>
    </appender>
    <handler>
      <add name="disc" type="ASC.Data.Storage.DiscStorage.DiscDataStore, ASC.Data.Storage"/>
      <add name="s3" type="ASC.Data.Storage.S3.S3Storage, ASC.Data.Storage">
        <property name="acesskey" value=""/>
        <property name="secretaccesskey" value=""/>
        <property name="bucket" value="tmstatic"/>
      </add>
    </handler>

    <module>
        <add name="mailaggregator" type="s3" path="d:\ASC_3\web\studio\ASC.Web.Studio\addons\mail\Data\aggregator\{0}" virtualpath="http://rusanov/asc/addons/mail/Data/aggregator/{0}"/>
    </module>
  </storage>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
