<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="autofac" type="ASC.Common.DependencyInjection.AutofacConfigurationSection, ASC.Common" />
    <section name="avangate" type="ASC.Core.Common.Billing.AvangateCfgSectionHandler, ASC.Core.Common" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings>
    <clear />
    <add key="core.machinekey" value="1123askdasjklasbnd" />
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="default" connectionString="Server=localhost;Database=onlyoffice;User ID=dev;Password=dev;Pooling=true;Character Set=utf8;AutoEnlist=false;SSL Mode=none" providerName="MySql.Data.MySqlClient" />
    <add name="teamlabsite" connectionString="Server=localhost;Database=onlyoffice_site;User ID=dev;Password=dev;Pooling=true;Character Set=utf8;AutoEnlist=false" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <autofac>
    <components>
      <container name="core">
        <component type="ASC.Common.Logging.LogNLog, ASC.Common" service="ASC.Common.Logging.ILog, ASC.Common" />
      </container>
    </components>
  </autofac>

  <log4net>
    <addProperty>
      <key>UNIX:LogDirectory</key>
      <value>/var/log/onlyoffice/</value>
    </addProperty>
    <addProperty>
      <key>WINDOWS:LogDirectory</key>
      <value>Logs\</value>
    </addProperty>

    <logger name="ASC">
      <appender-ref ref="File" />
      <level value="WARN" />
    </logger>

    <logger name="ASC.Files" additivity="false">
      <appender-ref ref="Files" />
      <level value="ALL" />
    </logger>

    <logger name="ASC.SQL" additivity="false">
      <appender-ref ref="Sql" />
      <level value="ALL" />
    </logger>

    <logger name="ASC.Api" additivity="false">
      <appender-ref ref="Api" />
      <level value="ALL" />
    </logger>

    <logger name="ASC.Notify.Messages" additivity="false">
      <appender-ref ref="Notify" />
      <level value="ALL" />
    </logger>

    <appender name="File" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder" />
          <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
        </converter>
        <conversionPattern value="%folder{LogDirectory}web.log" />
      </file>
      <staticLogFileName value="false" />
      <encoding value="utf-8" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="50MB" />
      <rollingStyle value="Composite" />
      <datePattern value=".MM-dd" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="Files" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder" />
          <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
        </converter>
        <conversionPattern value="%folder{LogDirectory}web.files.log" />
      </file>
      <staticLogFileName value="false" />
      <encoding value="utf-8" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="50MB" />
      <rollingStyle value="Composite" />
      <datePattern value=".MM-dd" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="Sql" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder" />
          <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
        </converter>
        <conversionPattern value="%folder{LogDirectory}web.sql.log" />
      </file>
      <encoding value="utf-8" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate|%thread|%property{duration}|%message|%property{sql}|%property{sqlParams}%newline" />
      </layout>
    </appender>

    <appender name="Api" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder" />
          <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
        </converter>
        <conversionPattern value="%folder{LogDirectory}web.api.log" />
      </file>
      <encoding value="utf-8" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="Notify" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder" />
          <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
        </converter>
        <conversionPattern value="%folder{LogDirectory}web.notify.log" />
      </file>
      <encoding value="utf-8" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <nlog>

    <variable name="logDirectory" value="..\Logs\" />
    <conversionPattern value="" />
    <targets async="true">
      <default-target-parameters type="File" encoding="utf-8" maxArchiveDays="30" archiveNumbering="DateAndSequence" archiveEvery="Day" enableArchiveFileCompression="true" archiveAboveSize="52428800" keepFileOpen="true" archiveDateFormat="MM-dd" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} [${threadid}] ${logger} - ${message} ${exception:format=ToString}" />
      <target name="web" type="File" fileName="${logDirectory}web.log" />
      <target name="sql" type="File" fileName="${logDirectory}web.sql.log" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss,fff}|${threadid}|${event-properties:item=sqlThread}|${event-properties:item=duration}|${message}|${event-properties:item=sql}|${event-properties:item=sqlParams}" />
      <target name="files" type="File" fileName="${logDirectory}web.files.log" />
      <target name="api" type="File" fileName="${logDirectory}web.api.log" />
      <target name="notify" type="File" fileName="${logDirectory}web.notify.log" />
    </targets>

    <rules>
      <logger name="ASC.SQL" minlevel="Debug" writeTo="sql" final="true" />
      <logger name="ASC.Files" minlevel="Debug" writeTo="files" final="true" />
      <logger name="ASC.Api" minlevel="Debug" writeTo="api" final="true" />
      <logger name="ASC.Notify.Messages" minlevel="Debug" writeTo="notify" final="true" />
      <logger name="ASC*" minlevel="Debug" writeTo="web" />
    </rules>
  </nlog>
</configuration>
