/*
 *
 * (c) Copyright Ascensio System Limited 2010-2018
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


/*******************************************************************************
    shareaccess
*******************************************************************************/
.share-container-head,
.share-container-head-corporate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 370px;
}

#sharingSettingsDialogBody .change-owner-selector {
    max-width: 300px;
}

#shareLinkBody {
    display: none;
    margin-bottom: 16px;
}
.sharing-link-items {
    float: left;
    padding: 0 0 12px;
}

#sharingLinkAce {
    float: left;
    width: 140px;
    padding: 1px 0 12px 10px;
}
#sharingLinkAce .combobox-container {
    min-width: 120px;
}
#shareLinkDescr {
    float: left;
    margin: 1px 0 0 12px;
}
.sharelink-around {
    float: left;
    margin-bottom: 16px;
    padding: 0 0 0 8px;
    position: relative;
    width: 340px;
}
.without-emb .sharelink-around {
    width: 100%;
}
#shareLink {
    border: none;
    font-size: 14px;
    height: 16px;
    margin: 4px 0;
    text-overflow: ellipsis;
    width: 238px;
}
.without-emb #shareLink {
    width: 448px;
}
#shareLinkCopy {
    background: white;
    cursor: pointer;
    right: 98px;
    padding: 4px 8px 6px;
    position: absolute;
    top: 0;
}
#shareViaSocPanel {
    float: right;
    list-style: none;
    margin: 2px 0 0;
    padding: 0;
}
#shareViaSocPanel > li {
    float: left;
}
#shareViaSocPanel a {
    background-color: #ccc;
    cursor: pointer;
    display: block;
    margin-right: 2px;
    
    border-radius: 2px;
    -moz-topright: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
}
#shareViaSocPanel a:hover {
    background-color: #83888d;
}
#shareViaSocPanel a span {
    background: url("images/link_via.png") no-repeat 0 0 transparent;
    display: block;
    height: 22px;
    width: 22px;
}
#shareViaSocPanel .mail span {
    background-position-x: 0;
}
#shareViaSocPanel .google span {
    background-position-x: -22px;
}
#shareViaSocPanel .facebook span {
    background-position-x: -44px;
}
#shareViaSocPanel .twitter span {
    background-position-x: -66px;
}

/*******************************************************************************
    Embedded panel
*******************************************************************************/
#toggleEmbeddPanel {
    cursor: pointer;
    float: right;
    margin: 6px 0 0 0;
    max-width: 150px;
    padding-right: 13px;
    position: relative;
}
#toggleEmbeddPanel::after {
    border-color: #212121 transparent transparent;
    border-style: solid solid outset;
    border-width: 4px 4px 0;
    content: "";
    height: 0;
    margin-top: -2px;
    position: absolute;
    right: 0;
    top: 50%;
}
.without-emb #toggleEmbeddPanel {
    display: none;
}
#shareEmbeddedPanel {
    padding: 17px 24px 24px;
}
#shareEmbeddedPanel th {
    font-weight: normal;
    padding-bottom: 4px;
    text-align: left;
}
.embedd-space {
    width: 50px;
}
.embedded-size-item {
    cursor: pointer;
    margin-right: 2px;
    padding: 2px 6px;
}
.embedded-size-item:hover{
    background-color: #e5e5e5;
}
.embedded-size-item.selected {
    background-color: #f2f2f2;
}
.embedded-size-item.selected span {
    border-bottom: none;
}
.embedded-size-custom {
    padding: 3px;
    width: 45px;
}
.share-embed-around {
    margin-top: 16px;
    padding: 0 8px;
    position: relative;
}
#shareEmbedded {
    border: none;
    font-size: 14px;
    height: 16px;
    margin: 4px 0;
    text-overflow: ellipsis;
    width: 100%;
}
#shareEmbedCopy {
    background: white;
    cursor: pointer;
    padding: 4px 8px 6px;
    position: absolute;
    right: 0;
    top: 0;
}
