/*
 *
 * (c) Copyright Ascensio System Limited 2010-2016
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


/*******************************************************************************
    shareaccess
*******************************************************************************/
.share-container-head,
.share-container-head-corporate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 530px;
}
.with-link .share-container-head,
.with-link .share-container-head-corporate {
    width: 760px;
}
#shareSelectorBody {
    display: none;
    float: left;
}
#studio_sharingSettingsDialog.with-link #shareSelectorBody {
    display: block;
}
#shareSidePanel {
    float: left;
    margin-right: 24px;
    width: 180px;
}
#shareSidePanel.menu-list .menu-item .menu-item-label.outer-text {
    white-space: normal;
}
.only-outside #shareSidePortal {
    display: none;
}
#sharingSettingsDialogBody {
    float: left;
    width: 550px;
}

#studio_sharingSettingsDialog.with-link.outside-panel #sharingSettingsDialogBody,
#studio_sharingSettingsDialog.with-link.embedded-panel #sharingSettingsDialogBody,
#studio_sharingSettingsDialog.with-link.outside-panel #shareEmbeddedPanel,
#studio_sharingSettingsDialog.with-link.embedded-panel #shareLinkPanel,
#studio_sharingSettingsDialog.with-link.deny-access #shareEmbeddedPanel,
#studio_sharingSettingsDialog.with-link.deny-access #shareLinkPanel {
    display: none;
}
#studio_sharingSettingsDialog.with-link.outside-panel #shareLinkBody,
#studio_sharingSettingsDialog.with-link.embedded-panel #shareLinkBody {
    display: block;
}

#studio_sharingSettingsDialog.with-link #shareLinkBody {
    display: none;
    float: left;
    padding-left: 24px;
    width: 550px;
}
#studio_sharingSettingsDialog.with-link #sharingSettingsDialogBody {
    padding-left: 24px;
}
.sharing-link-items {
    padding: 16px 0 24px;
}
.share-link-label {
    border: 1px solid #e2e2e2;
    cursor: pointer;
    margin-right: 16px;
    padding: 3px 24px 4px;
}
#chareLinkClose {
    padding-left: 3px;
}
.share-link-label.checked {
    background-color: #e2e2e2;
}
.share-link-label .link-share-opt {
    visibility: hidden;
}
#sharingAcePanel {
    float: right;
}
#sharingLinkDeny {
    margin: 28px 0;
}

#shareLinkPanel .textEdit {
    border-color: #DFDFDF;
    padding: 5px;
    width: 98%;
}
#shareLink {
    color: #7A7A7A;
    height: 32px;
    margin: 8px 0;
    max-height: 32px;
    min-height: 32px;
    resize: none;
}
#shareLinkCopy {
    float: left;
    margin-top: 2px;
    margin-right: 14px;
}
#getShortenLink {
    display: inline-block;
    margin-top: 2px;
}
#shareViaSocPanel {
    height: 24px;
    list-style: none;
    margin: 8px 0 0;
    padding: 0;
}
#shareViaSocPanel > li {
    float: left;
}
#shareViaSocPanel a {
    background: url("images/link_via.png") no-repeat 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 16px;
    margin-right: 4px;
    width: 16px;
}
#shareViaSocPanel .google {
    background-position: -40px 0;
}
#shareViaSocPanel .facebook {
    background-position: 0 0;
}
#shareViaSocPanel .twitter {
    background-position: -20px 0;
}
#shareViaSocPanel .mail {
    background-position: -60px 0;
}

/*************************************\
    shareMailPanel 
\**************************************/
#shareMailPanel {
    display: none;
    margin-top: 28px;
}
.share-mail-list {
    max-height: 147px;
    overflow: auto;
}
.recipient-mail {
    margin: 3px 0 8px 3px;
}
#shareMailPanel .recipient-email-input {
    width: 180px;
}
.recipient-mail-action {
    cursor: pointer;
    margin-left: 1px;
}
.recipient-mail-add {
    margin: 0 0 4px;
}
#shareMailPanel > table {
    margin-left: 3px;
}
.recipient-mail-text {
    padding-right: 20px;
    width: 100%;
}
#shareMailPanel #shareMailText {
    float: left;
    min-height: 32px;
    max-height: 60px;
    resize: none;
    width: 100%;
}

/*******************************************************************************
    Embedded panel
*******************************************************************************/
#shareEmbedded {
    border-color: #DFDFDF;
    color: #7A7A7A;
    height: 60px;
    margin: 8px 0;
    max-height: 60px;
    min-height: 60px;
    padding: 5px;
    resize: none;
    width: 98%;
}
#embeddedSizeTemplate {
    list-style: none;
    margin: 8px 0 24px;
    padding: 0;
}
.embedded-size-item {
    cursor: pointer;
    float: left;
    margin: 0 16px 0 0;
    padding: 2px 10px 10px;
}
.embedded-size-item.selected {
    background-color: #f2f2f2;
}
.embedded-size-item:hover{
    background-color: #e5e5e5;
}
.embedded-size-template {
    border: 1px solid #c7c7c7;
    background-color: #fff;
    height: 82px;
    margin-top: 2px;
    width: 62px;
}
.embedded-size-8x6 .embedded-size-template {
    height: 78px;
    width: 58px;
}
.embedded-size-6x4 .embedded-size-template {
    height: 58px;
    width: 38px;
}
.embedded-size-custom {
    float: left;
    margin: 0 0 0 40px;
    padding: 2px 0 0;
}
.embedded-size-descr {
    line-height: 20px;
    margin-top: 8px;
    overflow: hidden;
    width: 120px;
}
.embedded-size-descr input {
    float: right;
    width: 56px;
}
