<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="default" connectionString="Server=127.0.0.1;Database=onlyoffice;User ID=root;Password=;Pooling=True;Character Set=utf8;AutoEnlist=false;SSL Mode=none;AllowPublicKeyRetrieval=true;Connection Timeout=30;Maximum Pool Size=300;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>