<?xml version="1.0" encoding="utf-8" ?>
<storage>
  <appender>
    <clear />
    <add name="generic" append="~/" />
  </appender>
  <handler>
    <clear />
    <add name="disc" type="ASC.Data.Storage.DiscStorage.DiscDataStore, ASC.Data.Storage">
      <property name="$STORAGE_ROOT" value="..\Data\"/>
    </add>
  </handler>
  <module>
    <clear />
    <add name="files" data="e67be73d-f9ae-4ce1-8fec-1880cb518cb4" type="disc" path="$STORAGE_ROOT\Products\Files" expires="0:16:0">
      <domain>
        <add name="files_temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Files\{0}\temp" expires="0:10:0" />
      </domain>
    </add>
  </module>
</storage>