<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <addProperty os="UNIX">
    <key>UNIX:LogDirectory</key>
    <value>/var/log/onlyoffice/</value>
  </addProperty>
  <addProperty os="WINDOWS">
    <key>WINDOWS:LogDirectory</key>
    <value>..\Logs\</value>
  </addProperty>

  <logger name="ASC">
    <appender-ref ref="File"/>
    <level value="ALL"/>
  </logger>

  <logger name="ASC.SQL" additivity="false">
    <level value="OFF"/>
  </logger>

  <appender name="File" type="ASC.Common.Logging.SelfCleaningAppender, ASC.Common">
    <file type="log4net.Util.PatternString" >
      <converter>
        <name value="folder" />
        <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
      </converter>
      <conversionPattern value="%folder{LogDirectory}web.upload.log" />
    </file>
    <encoding value="utf-8"/>
    <staticLogFileName value="true" />
    <preserveLogFileNameExtension value="true"/>
    <rollingStyle value="Composite"/>
    <datePattern value=".MM-dd"/>
    <maximumFileSize value="50MB"/>
    <maxSizeRollBackups value="-1"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level [%thread] %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="Sql" type="ASC.Common.Logging.SelfCleaningAppender, ASC.Common">
    <file type="log4net.Util.PatternString" >
      <converter>
        <name value="folder" />
        <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
      </converter>
      <conversionPattern value="%folder{LogDirectory}web.upload.sql.log" />
    </file>
    <encoding value="utf-8"/>
    <staticLogFileName value="true" />
    <preserveLogFileNameExtension value="true"/>
    <rollingStyle value="Composite"/>
    <datePattern value=".MM-dd"/>
    <maximumFileSize value="50MB"/>
    <maxSizeRollBackups value="-1"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate|%thread|%property{duration}|%message|%property{sql}|%property{sqlParams}%newline"/>
    </layout>
  </appender>
</log4net>