<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <clear />

  <add key="core.base-domain" value=""/>
  <add key="core.machinekey" value="1123askdasjklasbnd"/>
  <add key="core.notify.postman" value="log"/>
  <add key="core.payment-test" value="true"/>

  <add key="web.cultures" value="en-US,fr-FR,de-DE,es-ES,en-GB,ru-RU,lv-LV,pt-BR,pt-PT,it-IT,tr-TR,el-GR,zh-CN,pl-PL,cs-CZ,uk-UA,vi-VN,fi-FI,az-Latn-AZ,ko-KR,ja-JP,sl-SI,sk-SK,nl-NL,es-MX,de-CH"/>

  <add key="api.url" value="~/api/2.0/"/>

  <add key="files.thirdparty.enable" value="box,dropboxv2,google,onedrive,sharepoint,nextcloud,owncloud,webdav,yandex"/>
  <add key="files.uploader.url" value="Products/Files/"/>

  <add key="resources.from-db" value="false"/>
</appSettings>