<?xml version="1.0" encoding="utf-8" ?>
<nlog>

  <extensions>
    <add assembly="ASC.Common"/>
  </extensions>
  <variable name="logDirectory" value="..\Logs\"/>
  <conversionPattern value=""/>
  <targets  async="true">
    <default-target-parameters type="SelfCleaning" encoding="utf-8" archiveNumbering="DateAndSequence" archiveEvery="Day" enableArchiveFileCompression="true" archiveAboveSize="52428800"  keepFileOpen="true" archiveDateFormat="MM-dd"  layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} [${threadid}] ${logger} - ${message} ${exception:format=ToString}"/>
    <target name="web" type="SelfCleaning" fileName="${logDirectory}web.log" />
    <target name="sql" type="SelfCleaning" fileName="${logDirectory}web.sql.log" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss,fff}|${threadid}|${event-properties:item=duration}|${message}|${event-properties:item=sql}|${event-properties:item=sqlParams}"/>
    <target name="files" type="SelfCleaning" fileName="${logDirectory}web.files.log"/>
    <target name="api" type="SelfCleaning" fileName="${logDirectory}web.api.log"/>
    <target name="notify" type="SelfCleaning" fileName="${logDirectory}web.notify.log" />
  </targets>

  <rules>
    <logger name="ASC.SQL" minlevel="Debug" writeTo="sql" final ="true" />
    <logger name="ASC.Files" minlevel="Debug" writeTo="files" final ="true" />
    <logger name="ASC.Api" minlevel="Debug" writeTo="api" final ="true" />
    <logger name="ASC.Notify.Messages" minlevel="Debug" writeTo="notify" final ="true" />
    <logger name="ASC*" minlevel="Debug" writeTo="web" />
  </rules>
</nlog>