<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="teamlab" type="ASC.TeamLabSvc.Configuration.TeamLabSvcConfigurationSection, TeamLabSvc" />
    <section name="jabberServer" type="ASC.Xmpp.Server.Configuration.JabberConfigurationSection, ASC.Xmpp.Server" />
    <section name="fullTextIndex" type="ASC.FullTextIndex.Service.Config.TextIndexCfgSectionHandler, ASC.FullTextIndex" />
    <section name="notify" type="ASC.Notify.Config.NotifyServiceCfgSectionHandler, ASC.Notify" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="storage" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage" />
    <section name="backup" type="ASC.Data.Backup.Service.BackupConfigurationSection, ASC.Data.Backup" />
    <section name="autoreply" type="ASC.Mail.Autoreply.AutoreplyServiceConfiguration, ASC.Mail.Autoreply" />
    <section name="feed" type="ASC.Feed.Aggregator.Config.FeedConfigurationSection, ASC.Feed.Aggregator" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Push;Backup;Autoreply;Jabber;Index;Notify;Feed;x64;x86" />
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="core.base-domain" value="localhost" />
    <add key="core.machinekey" value="Vskoproizvolny Salt par Chivreski" />
    <add key="web.help-center" value="http://helpcenter.onlyoffice.com/{ru|de|fr|es|lv|it}" />
    <add key="web.chat-token" value="3723BE85-90DC-47D6-9204-3EE2B45D695E" />
    <add key="web.enable-signalr" value="true" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="core" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="webstudio" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="tmresource" connectionString="Data Source=|DataDirectory|..\Data\Db\Resources.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
    <add name="tmresourceTrans" connectionString="Data Source=|DataDirectory|..\Data\Db\Resources.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
    <add name="community" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="crm" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="files" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="projects" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="calendar" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="mail" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="roster" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="vcard" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="offline" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="muc" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="archive" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="private" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <teamlab>
    <services>
      <add type="ASC.Xmpp.Host.XmppServerLauncher, ASC.Xmpp.Host" />
      <add type="ASC.Notify.NotifyServiceLauncher, ASC.Notify" />
      <add type="ASC.FullTextIndex.Service.FullTextIndexLauncher, ASC.FullTextIndex" />
      <add type="ASC.Feed.Aggregator.FeedAggregatorLauncher, ASC.Feed.Aggregator" />
      <add type="ASC.Mail.Autoreply.AutoreplyServiceController, ASC.Mail.Autoreply" />
      <add type="ASC.Core.Configuration.AmiPublicDnsSyncService, ASC.Core.Common" />
      <add type="ASC.Core.Billing.TariffSyncService, ASC.Core.Common" />
    </services>
  </teamlab>
  <jabberServer>
    <listeners>
      <add name="Jabber Listener" type="ASC.Xmpp.Server.Gateway.TcpXmppListener">
        <property name="maxpacket" value="524288" />
        <property name="bindPort" value="5222" />
      </add>
      <add name="Bosh Listener" type="ASC.Xmpp.Server.Gateway.BoshXmppListener">
        <property name="maxpacket" value="524288" />
        <property name="bind" value="http://*:5280/http-poll/" />
        <property name="policyFile" value="Jabber\crossdomain.xml" />
      </add>
      <add name="SignalR Listener" type="ASC.Xmpp.Server.Gateway.SignalRXmppListener, ASC.Xmpp.Server">
      </add>
    </listeners>
    <storages>
      <add name="roster" type="ASC.Xmpp.Host.ASCRosterStore, ASC.Xmpp.Host">
        <property name="connectionStringName" value="roster" />
      </add>
      <add name="vcard" type="ASC.Xmpp.Host.ASCVCardStore, ASC.Xmpp.Host">
        <property name="connectionStringName" value="vcard" />
      </add>
      <add name="users" type="ASC.Xmpp.Host.ASCUserStore, ASC.Xmpp.Host" />
      <add name="offline" type="ASC.Xmpp.Server.Storage.DbOfflineStore">
        <property name="connectionStringName" value="offline" />
      </add>
      <add name="private" type="ASC.Xmpp.Server.Storage.DbPrivateStore">
        <property name="connectionStringName" value="private" />
      </add>
      <add name="muc" type="ASC.Xmpp.Server.Storage.DbMucStore">
        <property name="connectionStringName" value="muc" />
      </add>
      <add name="archive" type="ASC.Xmpp.Server.Storage.DbMessageArchive">
        <property name="connectionStringName" value="archive" />
      </add>
    </storages>
    <services>
      <add jid="" name="creator" type="ASC.Xmpp.Host.CreatorService, ASC.Xmpp.Host">
        <property name="" value="ASC.Xmpp.Server.Services.Jabber.JabberService, ASC.Xmpp.Server" />
        <property name="conference" value="ASC.Xmpp.Server.Services.Muc2.MucService, ASC.Xmpp.Server" />
        <property name="multicast" value="ASC.Xmpp.Server.Services.Multicast.MulticastService, ASC.Xmpp.Server" />
      </add>
    </services>
  </jabberServer>
  <fullTextIndex connectionStringName="webstudio" changedCron="0 0/5 * ? * *" removedCron="0 0 0/5 ? * *" indexPath="..\Data\Index\">
    <modules>
      <add name="Blogs" connectionStringName="community"><![CDATA[
        select id, concat_ws(' ', title, content, (select group_concat(t.name) from blogs_tags t where t.tenant = p.tenant and t.post_id = p.id)), 1 from blogs_posts p where LastModified >= @lastModified and Tenant = @tenant
        ]]></add>
      <add name="News" connectionStringName="community"><![CDATA[
        select id, concat_ws(' ', caption, text, (select group_concat(v.name) from events_pollvariant v where v.tenant = f.tenant and v.poll = f.id)), 1 from events_feed f where LastModified >= @lastModified and Tenant = @tenant
        ]]></add>
      <add name="Bookmarks" connectionStringName="community"><![CDATA[
        select BookmarkID, concat_ws(' ', (select k.URL from bookmarking_bookmark k where k.ID = b.BookmarkID), Name, Description, (select group_concat(t.Name) from bookmarking_userbookmarktag bt, bookmarking_tag t where bt.TagID = t.TagID and bt.UserBookmarkID = b.UserBookmarkID)) from bookmarking_userbookmark b where LastModified >= @lastModified and Tenant = @tenant
        ]]></add>
      <add name="Wiki" connectionStringName="community"><![CDATA[
        select pagename, concat_ws(' ', pagename, (select h.body from wiki_pages_history h where h.pagename = p.pagename and h.tenant = p.tenant and h.version = p.version)), 1 from wiki_pages p where p.modified_on >= @lastModified and p.tenant = @tenant
        ]]></add>
      <add name="Forum" connectionStringName="community"><![CDATA[
              select cast(id as char), concat_ws(' ', title, (select group_concat(q.name) from forum_question q where q.tenantid = t.tenantid and q.topic_id = t.id), (select group_concat(tag.name) from forum_tag tag, forum_topic_tag tt where tag.id = tt.tag_id and tt.topic_id = t.id)), 0 from forum_topic t where LastModified >= @lastModified and tenantid = @tenant
        union all select concat(cast(id as char), 'p/', cast(topic_id as char)), text, 1 from forum_post where LastModified >= @lastModified and tenantid = @tenant
        ]]></add>
      <add name="Projects" connectionStringName="projects"><![CDATA[
              select cast(id as char), concat_ws(' ', title, description, (select group_concat(t.title) from projects_tags t, projects_project_tag s where t.id = s.tag_id and p.id = s.project_id)), 0 from projects_projects p where last_modified_on >= @lastModified and tenant_id = @tenant
        union all select concat(cast(id as char), 's/', cast(project_id as char)), title, 0 from projects_milestones where last_modified_on >= @lastModified and tenant_id = @tenant
        union all select concat(cast(id as char), 't/', cast(project_id as char)), concat_ws(' ', title, description), 0 from projects_tasks t where last_modified_on >= @lastModified and tenant_id = @tenant
        union all select concat(cast(id as char), 'm/', cast(project_id as char)), concat_ws(' ', title, content), 1 from projects_messages where last_modified_on >= @lastModified and tenant_id = @tenant
        ]]></add>
      <add name="CRM.Contacts" connectionStringName="crm"><![CDATA[
        select  concat("contact_", cast(id as char)), concat_ws(' ', first_name, last_name, company_name, title, notes, industry) from crm_contact where tenant_id = @tenant and last_modifed_on >= @lastModified
        union all select  concat("contactInfo", cast(id as char),"_", cast(contact_id as char) ), data from crm_contact_info where tenant_id = @tenant and last_modifed_on >= @lastModified
        union all select concat("customField", cast(field_id as char),"_", cast(entity_id as char)), value from crm_field_value where tenant_id = @tenant and entity_type in (0,4,5) and last_modifed_on >= @lastModified
        union all select  concat("relationshipEvent", cast(id as char),"_", cast(contact_id as char) ), content from crm_relationship_event where tenant_id = @tenant and contact_id !=0 and last_modifed_on >= @lastModified
        ]]></add>
      <add name="CRM.Deals" connectionStringName="crm"><![CDATA[
        select concat("deal_", cast(id as char)), concat_ws(' ', title, description) from crm_deal where last_modifed_on >= @lastModified and tenant_id = @tenant
        union all select concat("customField", cast(field_id as char),"_", cast(entity_id as char)), value from crm_field_value where tenant_id = @tenant and entity_type = 1 and last_modifed_on >= @lastModified 
        union all select  concat("relationshipEvent", cast(id as char),"_", cast(entity_id as char) ), content from crm_relationship_event where tenant_id = @tenant and entity_id !=0 and entity_type = 1 and last_modifed_on >= @lastModified 
        ]]></add>
      <add name="CRM.Tasks" connectionStringName="crm"><![CDATA[
        select cast(id as char),  concat_ws(' ', title, description) from crm_task where last_modifed_on >= @lastModified and tenant_id = @tenant
        ]]></add>
      <add name="CRM.Cases" connectionStringName="crm"><![CDATA[
        select concat("cases_", cast(id as char)), concat_ws(' ', title) from crm_case where last_modifed_on >= @lastModified and tenant_id = @tenant
        union all select concat("customField", cast(field_id as char) ,"_",  cast(entity_id as char)), value from crm_field_value where tenant_id = @tenant and entity_type = 7 and last_modifed_on >= @lastModified 
        union all select  concat("relationshipEvent", cast(id as char),"_", cast(entity_id as char) ), content from crm_relationship_event where tenant_id = @tenant and entity_id !=0 and entity_type = 7 and last_modifed_on >= @lastModified
        ]]></add>
      <add name="CRM.Emails" connectionStringName="crm"><![CDATA[
        select  cast(i.id as char), concat(trim(concat(c.first_name, ' ', c.last_name, ' ', c.company_name)), ' ', replace(substring_index(i.data, '@', 1), '.', ' '), ' ', i.data) 
        from crm_contact c inner join crm_contact_info i on c.tenant_id=i.tenant_id and c.id=i.contact_id 
        where c.tenant_id=@tenant and i.type=1 and i.last_modifed_on >= @lastModified
        union
        select  cast(i.id as char), concat(trim(concat(c.first_name, ' ', c.last_name, ' ', c.company_name)), ' ', replace(substring_index(i.data, '@', 1), '.', ' '), ' ', i.data) 
        from crm_contact c inner join crm_contact_info i on c.tenant_id=i.tenant_id and c.id=i.contact_id 
        where c.tenant_id=@tenant and i.type=1 and c.last_modifed_on >= @lastModified
        ]]></add>
      <add name="CRM.Events" connectionStringName="crm"><![CDATA[
        select concat("event_", cast(id as char)), content from crm_relationship_event where tenant_id = @tenant and last_modifed_on >= @lastModified
        ]]></add>
      <add name="Files" connectionStringName="files"><![CDATA[
        select cast(f.id as char), replace(f.title, '.', ' ') from files_file f where f.tenant_id = @tenant and f.modified_on >= @lastModified and f.current_version = 1
        union all select concat('d', cast(id as char)), replace(title, '.', ' ') from files_folder where tenant_id = @tenant and modified_on >= @lastModified
        ]]></add>
      <add name="UserEmails" connectionStringName="core"><![CDATA[
        select cast(c.id as char), concat(c.firstname, ' ', c.lastname, ' ', replace(substring_index(c.email, '@', 1), '.', ' '), ' ', c.email) 
        from core_user c where c.tenant=@tenant and c.last_modified>=@lastModified
        ]]></add>
      <add name="Mail" connectionStringName="mail"><![CDATA[
        select cast(m.id as char), concat(m.from_text, ' ', m.to_text, ' ', m.cc, ' ', m.bcc, ' ', m.subject) from mail_mail m where m.tenant = @tenant and m.time_modified >= @lastModified
        ]]></add>
      <add name="Mail.Contacts" connectionStringName="mail"><![CDATA[
        select cast(id as char), concat(name, ' ', replace(substring_index(address, '@', 1), '.', ' '), ' ', address) from mail_contacts 
        where tenant = @tenant and last_modified >= @lastModified
        ]]></add>
      <add name="Mail.FromText" connectionStringName="mail"><![CDATA[
        select cast(id as char), from_text from mail_mail where tenant = @tenant and is_removed = false and is_from_crm = false and folder = 1 and time_modified >= @lastModified
        ]]></add>
    </modules>
  </fullTextIndex>
  <notify connectionStringName="core" deleteSendedMessages="true">
    <process maxThreads="2" bufferSize="10" maxAttempts="10" attemptsInterval="0:5:0" />
    <senders>
      <sender name="email.sender" type="ASC.Core.Notify.Senders.SmtpSender, ASC.Core.Common" host="" port="" userName="" password="" enableSsl="" useCoreSettings="true" />
      <sender name="messanger.sender" type="ASC.Core.Notify.Senders.JabberSender, ASC.Core.Common" />
    </senders>
    <schedulers>
      <scheduler name="WhatsNew" register="ASC.Web.Studio.Core.Notify.NotifyConfiguration.RegisterSendMethods, ASC.Web.Studio" />
      <scheduler name="Calendar" register="ASC.Api.Calendar.Notification.CalendarNotifyClient.RegisterSendMethod, ASC.Api.Calendar" />
      <scheduler name="Projects" register="ASC.Web.Projects.Configuration.ProductEntryPoint.RegisterSendMethods, ASC.Web.Projects" />
      <scheduler name="Birthdays" register="ASC.Web.Community.Birthdays.BirthdaysModule.RegisterSendMethod, ASC.Web.Community.Birthdays" />
      <scheduler name="CRM" register="ASC.Web.CRM.Configuration.ProductEntryPoint.RegisterSendMethods, ASC.Web.CRM" />
    </schedulers>
  </notify>
  <backup />
  <feed aggregatePeriod="0:3:0" />
  <autoreply mailFolder="..\Logs\Autoreply\" https="false" />
  <system.serviceModel>
    <services>
      <service name="ASC.Xmpp.Host.JabberService" behaviorConfiguration="JabberIncludeExceptionDetail">
        <endpoint address="net.tcp://0.0.0.0:9865/teamlabJabber" binding="netTcpBinding" contract="ASC.Core.Notify.Jabber.IJabberService" bindingConfiguration="jabber" />
      </service>
      <service name="ASC.FullTextIndex.Service.TextSearcherService">
        <endpoint address="net.tcp://0.0.0.0:9866/teamlabSearcher" binding="netTcpBinding" contract="ASC.FullTextIndex.ITextIndexService" bindingConfiguration="index" />
      </service>
      <service name="ASC.Notify.NotifyService">
        <endpoint address="net.tcp://0.0.0.0:9871/teamlabNotify" binding="netTcpBinding" contract="ASC.Notify.INotifyService" bindingConfiguration="notify" />
      </service>
      <service name="ASC.Data.Backup.Service.BackupService">
        <endpoint address="net.tcp://0.0.0.0:9882/teamlabBackup" binding="netTcpBinding" contract="ASC.Core.Common.Contracts.IBackupService" bindingConfiguration="backup" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="jabber" maxReceivedMessageSize="1000000" maxBufferSize="1000000" maxBufferPoolSize="1000000" maxConnections="1000000" portSharingEnabled="false" transactionFlow="false" listenBacklog="1000000">
          <security mode="None">
            <message clientCredentialType="None" />
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
          <readerQuotas maxStringContentLength="1000000" maxArrayLength="1000000" />
        </binding>
        <binding name="index" openTimeout="0:0:10" receiveTimeout="0:0:10" sendTimeout="0:0:10">
          <security mode="None" />
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
        <binding name="notify" openTimeout="0:0:10" receiveTimeout="0:0:10" sendTimeout="0:0:10">
          <security mode="None" />
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
        <binding name="backup" openTimeout="0:0:10" receiveTimeout="0:0:10" sendTimeout="0:0:10">
          <security mode="None" />
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding name="notify" exactlyOnce="false" openTimeout="0:0:10" receiveTimeout="0:0:10" sendTimeout="0:0:10">
          <security mode="None" />
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
      </netMsmqBinding>
      <basicHttpBinding>
        <binding name="billing">
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
        <binding name="reverseJabber">
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
        <binding name="tariff">
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9865/teamlabJabber" binding="netTcpBinding" contract="ASC.Core.Notify.Jabber.IJabberService" bindingConfiguration="jabber" />
      <endpoint address="net.tcp://localhost:9871/teamlabNotify" binding="netTcpBinding" contract="ASC.Notify.INotifyService" bindingConfiguration="notify" />
      <endpoint address="http://localhost/Chat/ReverseJabberService.svc" binding="basicHttpBinding" contract="ASC.Core.Notify.Jabber.IReverseJabberService" bindingConfiguration="reverseJabber" />
      <endpoint contract="ASC.Core.Billing.ITariffSyncService" address="http://service.teamlab.com/sync/7.5ce/service.svc" binding="basicHttpBinding" bindingConfiguration="tariff" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IncludeExceptionDetail">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="JabberIncludeExceptionDetail">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="200" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <storage>
    <appender>
      <add name="generic" append="~/" />
    </appender>
    <handler>
      <add name="disc" type="ASC.Data.Storage.DiscStorage.DiscDataStore, ASC.Data.Storage" />
    </handler>
    <module>
      <add name="projects" data="1E044602-43B5-4d79-82F3-FD6208A11960" type="disc" path="products\projects\data\" virtualpath="/products\projects\data\" basedir="." />
      <add name="projects_temp" count="false" visible="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="products\projects\data\{0}\temp" virtualpath="/products\projects\data\{0}\temp" basedir="." />
    </module>
  </storage>
  <log4net>
    <logger name="ASC">
      <appender-ref ref="Console" />
      <appender-ref ref="File" />
      <level value="WARN" />
    </logger>
    <logger name="ASC.SQL" additivity="false">
      <appender-ref ref="Sql" />
      <level value="OFF" />
    </logger>
    <logger name="ASC.Core.Billing.TariffService" additivity="false">
      <level value="OFF" />
    </logger>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="File" type="log4net.Appender.RollingFileAppender">
      <file value="..\Logs\TeamLab" />
      <staticLogFileName value="false" />
      <encoding value="utf-8" />
      <rollingStyle value="Date" />
      <datePattern value=".MM-dd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="Sql" type="log4net.Appender.RollingFileAppender">
      <file value="..\Logs\TeamLab.SQL.log" />
      <encoding value="utf-8" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate|%thread|%property{duration}|%message|%property{sql}|%property{sqlParams}%newline" />
      </layout>
    </appender>
  </log4net>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="ASC.Core.Common" />
    <namespace name="ASC.Core" />
    <namespace name="ASC.Core.Data" />
    <namespace name="ASC.Core.Caching" />
    <namespace name="ASC.Core.Billing" />
    <container name="Core">
      <!-- ConnectionString for db services -->
      <instance name="connectionStringName" value="core" type="System.Configuration.ConnectionStringSettings, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" typeConverter="ASC.Core.Configuration.ConnectionStringNameTypeConverter, ASC.Core.Common" />
      <!-- CoreContext initialization -->
      <register type="ISubscriptionManagerClient" mapTo="ClientSubscriptionManager">
        <constructor>
          <param name="service" dependencyName="CachedSubscriptionService" />
        </constructor>
      </register>
      <!-- Db Services -->
      <register type="ISubscriptionService" mapTo="DbSubscriptionService" name="DbSubscriptionService">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionStringName" />
        </constructor>
      </register>
      <!-- Caching services -->
      <register type="ISubscriptionService" mapTo="CachedSubscriptionService" name="CachedSubscriptionService">
        <lifetime type="singleton" />
        <constructor>
          <param name="service" dependencyName="DbSubscriptionService" />
        </constructor>
        <property name="CacheExpiration" value="0:4:0" />
      </register>
    </container>
  </unity>
</configuration>