<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="teamlab" type="ASC.TeamLabSvc.Configuration.TeamLabSvcConfigurationSection, TeamLabSvc"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="storage" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <clear />
    <add name="core"            connectionString="Server=teamlab;Database=test_restore;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="webstudio"       connectionString="Server=teamlab;Database=test_restore;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>

    <add name="community"       connectionString="Server=teamlab;Database=test_restore;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="crm"             connectionString="Server=teamlab;Database=test_restore;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="files"           connectionString="Server=teamlab;Database=test_restore;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="projects"        connectionString="Server=teamlab;Database=test_restore;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>

    <add name="mail"            connectionString="Server=teamlab;Database=test_restore;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="calendar"        connectionString="Server=teamlab;Database=test_restore;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <teamlab>
    <services>
      <add type="ASC.Data.Backup.RestoreDemo.Service, ASC.Data.Backup.RestoreDemo"/>
    </services>
  </teamlab>

  <appSettings>
    <add key="bill" value="0 */1 * ? * *"/>
  </appSettings>

  <log4net>
    <logger name="ASC">
      <appender-ref ref="Console" />
      <appender-ref ref="File" />
      <level value="TRACE" />
    </logger>

    <logger name="ASC.SQL" additivity="false">
      <appender-ref ref="Sql" />
      <level value="TRACE" />
    </logger>

    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="File" type="ASC.Common.Logging.SelfCleaningAppender, ASC.Common">
      <file value="TeamLabSvc.log" />
      <encoding value="utf-8"/>
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value=".MM-dd"/>
      <maximumFileSize value="50MB"/>
      <maxSizeRollBackups value="-1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="Sql" type="ASC.Common.Logging.SelfCleaningAppender, ASC.Common">
      <file value="TeamLabSvc.SQL.log" />
      <encoding value="utf-8"/>
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value=".MM-dd"/>
      <maximumFileSize value="50MB"/>
      <maxSizeRollBackups value="-1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate|%thread|%property{duration}|%message|%property{sql}|%property{sqlParams}%newline" />
      </layout>
    </appender>
  </log4net>

  <storage>
    <appender>
      <clear />
      <add name="generic" append="~/" />
    </appender>
    <handler>
      <clear />
      <add name="disc" type="ASC.Data.Storage.DiscStorage.DiscDataStore, ASC.Data.Storage" />
    </handler>
    <module>
      <clear />

      <add name="forum" data="853B6EB9-73EE-438d-9B09-8FFEEDF36234" type="disc" path="..\Data\Products\Community\Modules\Forum\Data\attachments\{0}" virtualpath="~/discstorage.ashx/products/community/modules/forum/data/attachments/{0}" />
      <add name="bookmarking" data="00000000-0000-0000-0000-000000000000" type="disc" path="..\Data\Products\Community\Modules\Bookmarking\Data\images" virtualpath="~/discstorage.ashx/products/community/modules/bookmarking/data/images" />
      <add name="wiki" data="742CF945-CBBC-4a57-82D6-1600A12CF8CA" type="disc" path="..\Data\Products\Community\Modules\Wiki\Data\files" virtualpath="~/discstorage.ashx/products/community/modules/wiki/data/files">
        <domain>
          <add name="temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\Community\Modules\Wiki\Data\filestemp" virtualpath="~/discstorage.ashx/products/community/modules/wiki/data/filestemp" />
        </domain>
      </add>

      <add name="files" data="e67be73d-f9ae-4ce1-8fec-1880cb518cb4" type="disc" path="..\Data\Products\Files\{0}">
        <domain>
          <add name="files_temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\Files\{0}\temp" />
        </domain>
      </add>
      <add name="files_template" visible="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="Products\Files\DocStore" virtualpath="products/files/docstore" />
      <add name="startdocuments" type="disc" path="Products\Files\DocStore" virtualpath="products/files/docstore" />

      <add name="crm" data="6743007C-6F95-4d20-8C88-A8601CE5E76D" type="disc" path="..\Data\Products\CRM\Data" virtualpath="~/discstorage.ashx/products/crm/data">
        <domain>
          <add name="temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\CRM\Data\{0}\temp" />
          <add name="mail_messages" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\CRM\Data\{0}\mail_messages" />
          <add name="voip" visible="true" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\CRM\Data\{0}\voip" virtualpath="~/discstorage.ashx/products/crm/data/{0}/voip" />
        </domain>
      </add>

      <add name="fckuploaders" count="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="..\Data\Studio\htmleditorfiles\{0}" virtualpath="~/discstorage.ashx/studio/htmleditorfiles/{0}">
        <domain>
          <add name="mail" data="00000000-0000-0000-0000-000000000000" path="..\Data\addons\mail\Data\htmleditorfiles\{0}" virtualpath="~/discstorage.ashx/addons/mail/data/htmleditorfiles/{0}" />
          <add name="forum" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\Community\Modules\Forum\Data\htmleditorfiles\{0}" virtualpath="~/discstorage.ashx/products/community/modules/forum/data/htmleditorfiles/{0}" />
          <add name="news_comments" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\Community\Modules\News\Data\htmleditorfiles\{0}" virtualpath="~/discstorage.ashx/products/community/modules/news/data/htmleditorfiles/{0}" />
          <add name="blogs_comments" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\Community\Modules\Blogs\Data\htmleditorfiles\{0}" virtualpath="~/discstorage.ashx/products/community/modules/blogs/data/htmleditorfiles/{0}" />
          <add name="bookmarking_comments" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\Community\Modules\Bookmarking\data\htmleditorfiles\{0}" virtualpath="~/discstorage.ashx/products/community/modules/bookmarking/data/htmleditorfiles/{0}" />
          <add name="wiki_comments" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\Community\Modules\Wiki\Data\htmleditorfiles\{0}" virtualpath="~/discstorage.ashx/products/community/modules/wiki/data/htmleditorfiles/{0}" />
          <add name="projects_comments" data="00000000-0000-0000-0000-000000000000" path="..\Data\Products\Projects\Data\htmleditorfiles\{0}" virtualpath="~/discstorage.ashx/products/projects/data/htmleditorfiles/{0}" />
        </domain>
      </add>

      <add name="talk" data="00000000-0000-0000-0000-000000000000" type="disc" path="..\Data\addons\talk\Data\{0}" virtualpath="~/discstorage.ashx/addons/talk/data/{0}" />

      <add name="mailaggregator" data="666ceac1-4532-4f8c-9cba-8f510eca2fd1" type="disc" path="..\Data\addons\mail\Data\aggregator\{0}" virtualpath="~/discstorage.ashx/addons/mail/data/aggregator/{0}" />

      <add name="backup" visible="false" type="disc" path="..\Data\Studio\{0}\backup" virtualpath="~/discstorage.ashx/studio/{0}/backup" />
      <add name="whitelabel" data="00000000-0000-0000-0000-000000000000" type="disc" path="..\Data\Studio\{0}\CoBranding" virtualpath="~/discstorage.ashx/studio/{0}/cobranding" />
      <add name="logo" data="00000000-0000-0000-0000-000000000000" type="disc" path="..\Data\Studio\{0}\logo" virtualpath="~/discstorage.ashx/studio/{0}/logo" />
      <add name="userPhotos" count="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="..\Data\Studio\{0}\userphotos" virtualpath="~/discstorage.ashx/studio/{0}/userphotos">
        <domain>
          <add name="temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="..\Data\Studio\{0}\userphotos\temp" virtualpath="~/discstorage.ashx/studio/{0}/userphotos/temp" />
        </domain>
      </add>

      <add name="static_partnerdata" type="disc" path="App_Data\static\partnerdata" acl="Read" virtualpath="~/App_Data/static/partnerdata" appendTenantId="false" />
    </module>
  </storage>
</configuration>