<script id="dropFeedTmpl" type="text/x-jquery-tmpl">
    <div class="item">
        <div class="avatar">
            {{if !isGuest}}
            <a href="${author.profileUrl}" title="${author.displayName}" target="_blank"><img src="${author.avatarBig}"/></a>
            {{else}}
            <img src="${ASC.Resources.Master.UserDefaultBigPhotoURL}"/>
            {{/if}}
        </div>
        <div class="content-box">
            <div class="description">
                <span class="menu-item-icon ${itemClass}" >
                    <svg class="menu-item-svg">
                        <use href="/skins/default/images/svg/feed-icons.svg#feedIcons${itemClass}"></use>
                    </svg>
                </span>
                <span class="product">${productText}.</span>
                {{if location}}
                <span class="location">${location}.</span>
                {{/if}}
                <span class="action">${actionText}</span>
                {{if groupedFeeds.length}}
                <span class="grouped-feeds-count">
                    ${ASC.Resources.Master.FeedResource.OtherFeedsCountMsg.format(groupedFeeds.length)}
                </span>
                {{/if}}
            </div>
            <div class="header">
                <a class="title" href="${itemUrl}" title="${title}" target="_blank">${title}</a>
            </div>
            <div class="date">
                {{if isToday}}
                <span>${ASC.Resources.Master.FeedResource.TodayAt} ${displayCreatedTime}</span>
                {{else isYesterday}}
                <span>${ASC.Resources.Master.FeedResource.YesterdayAt} ${displayCreatedTime}</span>
                {{else}}
                <span>${displayCreatedDatetime}</span>
                {{/if}}
            </div>
        </div>
    </div>
</script>