<script id="userProfileCardTmpl" type="text/x-jquery-tmpl">
<div class="UserInfoBlock">
    <table cellspacing="0" cellpadding="0" style="width:100%;">
        <tr valign="top">
            <td style="width:90px;">
                  <img alt="" class="userPhoto" src="${avatar}" />
            </td>

            <td style="padding-left:10px;">
                <div>
                    <a class="link medium bold underline" href="${StudioManager.getLocationPathToModule("people")+"profile.aspx?user=" + encodeURIComponent(userName)}">
                        ${displayName}
                    </a>
                </div>

                {{if group != null}}
                    <div style="margin-top:0px;">
                        <a class="link underline gray" href="${StudioManager.getLocationPathToModule("people")+"#group="+group.id}">
                            ${group.name}
                        </a>
                    </div>
                {{/if}}

                <div style="margin-top:10px;">${title}</div>

                <div style="margin-top:2px;">
                    <span class="link underline gray" onclick="ASC.Controls.JabberClient.open('${userName}')">
                        {{if isOnline === true}}
                            ${ASC.Resources.Master.Resource.Online}
                        {{else isOnline === false}}
                            ${ASC.Resources.Master.Resource.Offline}
                        {{/if}}
                    </span>
                </div>
            </td>
        </tr>
    </table>
</div>
</script>