<script id="userProfileCardTmpl" type="text/x-jquery-tmpl">
<div class="UserInfoBlock">
    <table cellspacing="0" cellpadding="0" style="width:100%;">
        <tr valign="top">
            <td style="width:90px;">
                  <img alt="" class="userPhoto" src="${avatar}" />
            </td>

            <td style="padding-left:10px;">
                <div>
                    <a class="link medium bold underline" href="${StudioManager.getLocationPathToModule("People")+"Profile.aspx?user=" + encodeURIComponent(userName)}"
                       {{if (blank)}}target="_blank"{{/if}}>
                        ${displayName}
                    </a>
                </div>

                {{if (groups && groups.length)}}
                    <div style="margin-top:0px;">
                        <a class="link underline gray" href="${StudioManager.getLocationPathToModule("People")+"#group="+groups[0].id}"
                           {{if (blank)}}target="_blank"{{/if}}>
                            ${groups[0].name}
                        </a>
                    </div>
                {{/if}}

                <div style="margin-top:10px;">${title}</div>

                <div style="margin-top:2px;">
                    <span class="link underline gray" onclick="ASC.Controls.JabberClient.open('${userName}')">${ASC.Resources.Master.Resource.OpenTalk}</span>
                </div>
            </td>
        </tr>
    </table>
</div>
</script>

<script id="tfaCodesPopup" type="text/x-jquery-tmpl">
     {{tmpl 'tfaCodesContentTmpl'}}

    <div id="errorRequestNewCodes" class="errorBox display-none"></div>

    <div class="middle-button-container">
        <a id="showBackupCodesPrint" class="button middle blue">${ASC.Resources.Master.TemplateResource.PrintButton}</a>
        <span class="splitter-buttons"></span>
        <a id="showBackupCodeRequestNew" class="button middle gray">${ASC.Resources.Master.TemplateResource.RequestNewButton}</a>
        <span class="splitter-buttons"></span>
        <a id="showBackupCodesClose" class="button middle gray">${ASC.Resources.Master.Resource.CloseButton}</a>
    </div>

</script>

<script id="tfaCodesContentTmpl" type="text/x-jquery-tmpl">
    <div>
        {{html jq.format(ASC.Resources.Master.TemplateResource.TfaAppShowBackupCodesDescription, '<br><br>', jq.format('<b class="codesremain">{0}</b>', unused))}}
        <div id="showBackupCodes" class="bold">
            {{tmpl(items) 'tfaCodesTmpl'}}
        </div>
        ${ASC.Resources.Master.TemplateResource.TfaAppShowBackupCodesNote}
    </div>
</script>

<script id="tfaCodesTmpl" type="text/x-jquery-tmpl">
    <div {{if isUsed}} class="disabled" {{/if}}>${code}</div>
</script>