<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="coreConfig" value=""/>
    <add key="webConfig" value=""/>
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>
</configuration>
