<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="mailserver" connectionString="Server=teamlab;Database=Test;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="mail" connectionString="Server=teamlab;Database=Test;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="core" connectionString="Server=teamlab;Database=Test;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  
   <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>
  
  <appSettings>
    <add key="core.machinekey" value="1123askdasjklasbnd"/>
    <add key="core.virtual-dir" value=""/>
    <add key="core.host" value="localhost"/>
    <add key="core.port" value="80"/>
    <add key="api.url" value="~/api/2.0/"/>
    <add key="core.base-domain" value=""/>
    <add key="TenantId" value="0" />
    <add key="ServerId" value="1" />
    <add key="ConnectionString" value="%7B%22DbConnection%22%20%3A%20%22Server%3D54.228.212.82%3BDatabase%3Dvmail%3BUser%20ID%3Dmailserveradmin%3BPassword%3Dtegfi%40hs!%3BPooling%3DTrue%3BCharacter%20Set%3Dutf8%22%2C%20%22Api%22%3A%7B%22Protocol%22%3A%22http%22%2C%20%22Server%22%3A%2254.228.212.82%22%2C%20%22Port%22%3A%228081%22%2C%20%22Version%22%3A%22v1%22%2C%22Token%22%3A%22b45dab4555c8243d718ea95bb1072ca3%22%7D%7D" />
    <add key="MockServer" value="test"/>
    <add key="TeamlabUserGuid" value="fca7260e-3fd1-482e-9641-c04dc3e302be" />
    <add key="TeamlabUserName" value ="vyacheslav.yudanov" />
  </appSettings>

</configuration>