/*
 *
 * (c) Copyright Ascensio System Limited 2010-2018
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.files-app-center {
    text-align: center;
}
.files-app-content {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    width: 450px;
}
.files-app-content-create {
    margin-top: 150px;
    width: 320px;
}
.files-app-baner {
    background: url("images/personal_convert.png") no-repeat left center transparent;
    height: 150px;
    margin: 45px 0;
}
.files-app-checkbox {
    display: block;
    margin: 20px 0;
}
.files-app-checkbox > input {
    margin-left: 0;
    margin-right: 10px;
}
.app-filename {
    border-radius: 3px;
    color: #434341;
    font-size: 14px;
    margin: 14px 0 20px;
    padding: 8px 10px;
    width: 300px;
}
.files-app-types {
    margin: 14px -23px 45px;
}
.files-app-create {
    background: no-repeat center top transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 140px;
    margin-right: 25px;
    overflow: visible;
    padding: 98px 0 0;
    text-align: center;
    width: 105px;
    white-space: normal;
}
.files-app-create.document {
    background-image: url("images/file_docx.png");
}
.files-app-create.spreadsheet {
    background-image: url("images/file_xlsx.png");
}
.files-app-create.presentation {
    background-image: url("images/file_pptx.png");
    margin-right: 0;
}