/*
 *
 * (c) Copyright Ascensio System Limited 2010-2016
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


label .checkbox {
    margin: 0 5px 3px 0;
    vertical-align: middle;
}
.select-action,
.select-action a,
.select-action input,
.select-action span,
.select-action div {
    cursor: default !important;
}
.popup-modal {
    display: none;
}
body .may-row-to,
body .may-drop-to {
    background-color: #fcf6e0;
}
.may-row-to.row-to,
.may-drop-to.drop-to {
    background-color: #F9EEC2;
}
.stick-panel {
    position: fixed;
    top: 0;
    z-index: 255;
}
#fileSidePanelSpacer {
    margin: 0;
}

/*******************************************************************************
    Selector
*******************************************************************************/
#filesSelector {
    background-color: #6CA3BF;
    border: 1px solid #034;
    cursor: default;
    display: block;
    height: 0;
    opacity: 0.3;
    position: absolute;
    width: 0;
    z-index: 254;
}

/*******************************************************************************
    Banner
*******************************************************************************/
.mobile-app-banner {
    background-image: url("images/documents_appstore.png");
    height: 45px;
    padding-top: 14px;
}

/*******************************************************************************
    Mobile
*******************************************************************************/
body.mobile #confirmRemoveList,
body.mobile #overwriteList {
    max-height: none !important;
}
body.mobile #treeViewPanelSelector,
body.mobile .jstree {
    max-height: none !important;
    max-width: none !important;
}
body.mobile div.blockUI.blockOverlay {
    min-width: 1000px;
    width: 100%;
}
/*******************************************************************************
    CreateNewButton - hack for IE7
*******************************************************************************/
*:first-child+html .page-menu .menu-actions .menu-main-button {
    width: 130px;
}

.files-filter {
    display: none;
}