<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog autoReload="true" throwExceptions="true" internalLogFile="${logdir}/Nlog.txt" internalLogLevel="Warn" internalLogToConsoleError="true">
    <variable name="logdir" value="${syslogdir}onlyoffice/8.1/" />
    <targets>
      <target name="file" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
        <target type="File" layout="${longdate} ${threadid:padding=3} ${level:padding=5} ${logger:padding=18} ${message} ${exception:format=tostring}" fileName="${logdir}/ASC.Mail.Watchdog.log.txt" archiveFileName="${logdir}/logs/archives/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
      </target>
      <target name="errors" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
        <target type="File" layout="${longdate} ${threadid:padding=3} ${level:padding=5} ${logger:padding=18} ${message} ${exception:format=tostring}" fileName="${logdir}/errors/${shortdate}.errors.log.txt" />
      </target>
      <target name="console" type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${threadid:padding=3} ${logger:padding=18} ${message}">
        <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="Green" />
      </target>
      <target name="mail" type="Null" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file, console" />
      <logger name="*" minLevel="Error" writeTo="errors" />
      <logger name="*" minLevel="Fatal" writeTo="mail" />
    </rules>
  </nlog>
  <appSettings>
    <add key="old_tasks_timeout_in_minutes" value="60" />
    <add key="core.machinekey" value="Vskoproizvolny Salt par Chivreski" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="default" connectionString="Server=localhost;Database=onlyoffice;User ID=root;Password=onlyoffice;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>