/*
 *
 * (c) Copyright Ascensio System Limited 2010-2020
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


#chunkUploadDialog .progress-dialog-header.menu-upload-icon {
    background-image: url("../../../../skins/default/images/svg/crm/uploadblack.svg");
    background-position: 24px center;
    background-repeat: no-repeat;
    padding-left: 48px;
}
#chunkUploadDialog .settings-container {
    line-height: 32px;
}
#chunkUploadDialog .files-container {
    max-height: 240px;
    margin-bottom: 8px;
    overflow-y: auto;
}
.upload-info-container {
    margin-top: 8px;
}
#chunkUploadDialog .info-content {
    margin-bottom: 8px;
}
.fu-width-icon {
    width: 30px;
}
.fu-width-progress {
    width: 110px;
}
.fu-width-action {
    width: 90px;
}
body.wild-pink .upload-svg {
    fill: #ffffff;
}
body.bright-blue .upload-svg {
    fill: #ffffff;
}
.upload-svg {
    fill: #50565c;
    width: 16px;
    height: 16px;
    padding-top: 3px;
}
.fu-row .fu-action-cell {
    text-align: center;
    width: 80px;
}
.fu-row .fu-progress-cell {
    text-align: center;
    width: 100px;
}
.fu-row .fu-title-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}
.fu-row .fu-title-cell span {
    cursor: default;
}
.fu-row.done .ftFile_21,
.fu-row.done .fu-title-cell span {
    cursor: pointer;
}

.fu-row progress,
.fu-row .asc-progress-wrapper,
.fu-row .progress-color-anim {
    float: left;
    width: 100px;
}
.fu-row .progress-color-anim {
    height: 14px;
    background: url("images/uploader_progress.gif") no-repeat scroll 0 0 #D1D1D1;
}
.fu-row .progress-label {
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    margin-left: -100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}
.fu-row.upload .share,
.fu-row.upload .upload-complete,
.fu-row.upload .upload-error,
.fu-row.upload .upload-canceled {
    display: none;
}
.fu-row.done .abort-file-uploadig,
.fu-row.done progress,
.fu-row.done .asc-progress-wrapper,
.fu-row.done .progress-label,
.fu-row.done .progress-color-anim,
.fu-row.done .upload-error,
.fu-row.done .upload-canceled {
    display: none;
}
.fu-row.error progress,
.fu-row.error .asc-progress-wrapper,
.fu-row.error .progress-label,
.fu-row.error .progress-color-anim,
.fu-row.error .upload-complete,
.fu-row.error .fu-action-cell,
.fu-row.error .upload-canceled {
    display: none;
}
.fu-row.canceled progress,
.fu-row.canceled .asc-progress-wrapper,
.fu-row.canceled .progress-label,
.fu-row.canceled .progress-color-anim,
.fu-row.canceled .upload-complete,
.fu-row.canceled .fu-action-cell,
.fu-row.canceled .upload-error {
    display: none;
}
.fu-row.convert .fu-action-cell,
.fu-row.convert .upload-complete,
.fu-row.convert .upload-error,
.fu-row.convert .upload-canceled {
    display: none;
}

.fu-row:hover .linkMedium {
    text-decoration: underline;
}

#abortUploadigBtn {
    float: right;
    margin-left: 5px;
}

#uploadSettingsPanel ul.dropdown-content label {
    white-space: nowrap;
}

#uploadSettingsSwitcher {
    cursor: pointer;
}
