<configuration>
	<!--
		For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<httpHandlers>
			<add verb="POST,GET" path="WikiFile.ashx" type="ASC.Web.UserControls.Wiki.Handlers.WikiFileHandler, ASC.Web.Community.Wiki"/>
		</httpHandlers>
		<compilation targetFramework="4.5"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<handlers>
			<remove name="WikiFileHandler"/>
			<add name="WikFileHandler" verb="POST,GET" path="WikiFile.ashx" type="ASC.Web.UserControls.Wiki.Handlers.WikiFileHandler, ASC.Web.Community.Wiki"/>
		</handlers>
	</system.webServer>
</configuration>
