<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="mail" restartOnExternalChanges="true" type="ASC.Mail.Aggregator.Client.Configuration.MailQueueConfigurationSection, ASC.Mail.Aggregator.Client"/>
  </configSections>
  <mail>
    <queue interval="1" threads="2" maxnew="25"/>
  </mail>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>