<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="storage" restartOnExternalChanges="true" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage" />
    <section name="mail" restartOnExternalChanges="true" type="ASC.Mail.Aggregator.CollectionService.Configuration.CollectionServiceConfigurationSection, ASC.Mail.Aggregator.CollectionService" />
  </configSections>
  <nlog autoReload="true" throwExceptions="true" internalLogFile="${logdir}/Nlog.txt" internalLogLevel="Warn" internalLogToConsoleError="true">
    <variable name="logdir" value="${syslogdir}onlyoffice/8.1/" />
    <targets>
      <target name="file" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
        <target type="File" layout="${longdate} ${threadid:padding=3} ${level:padding=5} ${logger:padding=18} ${message} ${exception:format=tostring}" fileName="${logdir}/ASC.Mail.Aggregator.log.txt" archiveFileName="${logdir}/logs/archives/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
      </target>
      <target name="errors" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
        <target type="File" layout="${longdate} ${threadid:padding=3} ${level:padding=5} ${logger:padding=18} ${message} ${exception:format=tostring}" fileName="${logdir}/errors/${shortdate}.errors.log.txt" />
      </target>
      <target name="console" type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${threadid:padding=3} ${logger:padding=18} ${message}">
        <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="Green" />
      </target>
      <target name="mail" type="Null" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file, console" />
      <logger name="*" minLevel="Error" writeTo="errors">
        <filters>
          <whenContains layout="${message}" substring="STAT" action="Ignore" />
          <whenContains layout="${message}" substring="Exceeded maximum amount of disk quota" action="Ignore" />
          <whenContains layout="${message}" substring="Unexpected end of stream" action="Ignore" />
        </filters>
      </logger>
      <logger name="*" minLevel="Fatal" writeTo="mail" />
    </rules>
  </nlog>
  <mail>
    <queue check_interval="1" activity_timeout="90" threads="1" maxnew="25" overdue_delay="600" tenant_caching_period="86400" overdue_days="10">
    </queue>
    <message_handlers>
      <add type="ASC.Mail.Aggregator.EmailIn.EmailInMessageHandler, ASC.Mail.Aggregator.EmailIn" />
      <add type="ASC.Mail.Aggregator.Contacts.MessageContactsHandler, ASC.Mail.Aggregator.Contacts" />
    </message_handlers>
  </mail>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="default" connectionString="Server=localhost;Database=onlyoffice;User ID=root;Password=onlyoffice;Pooling=True;Character Set=utf8;AutoEnlist=false" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="core.machinekey" value="Vskoproizvolny Salt par Chivreski" />
    <add key="core.virtual-dir" value="" />
    <add key="core.host" value="localhost" />
    <add key="core.port" value="80" />
    <add key="api.url" value="~/api/2.0/" />
    <add key="core.base-domain" value="localhost" />
    <add key="googleClientId" value="" />
    <add key="googleClientSecret" value="" />
    <add key="mail.SendTcpTimeout" value="30000" />
    <add key="mail.RecieveTcpTimeout" value="30000" />
    <add key="mail.OneUserMode" value="" />
    <add key="mail.EnableActivityLog" value="false" />
    <add key="mail.OnlyTeamlabTasks" value="false" />
    <add key="mail.AuthErrorSendWarningAlertTimeout" value="7200" />
    <add key="mail.AuthErrorDisableMailboxTimeout" value="259200" />
    <add key="mail.SaveOriginalMessage" value="false" />
  </appSettings>
  <storage>
    <appender>
      <add name="generic" append="~/" />
    </appender>
    <handler>
      <add name="disc" type="ASC.Data.Storage.DiscStorage.DiscDataStore, ASC.Data.Storage" />
    </handler>
    <module>
      <add name="mailaggregator" data="666ceac1-4532-4f8c-9cba-8f510eca2fd1" type="disc" path="..\..\Data\Mail\Aggregator\{0}" virtualpath="~/mailattachments/mail/aggregator/{0}" />
    </module>
  </storage>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth" publicKeyToken="2780CCD10D57B246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>