ASC.Mail.Aggregator environment configuration. 

Glossary:
Aggregator - ASC.Mail.Aggregator

How aggregator works.

Aggregator accesses third-party mail services, such as Google, Hotmail(Outlook), Yahoo etc, and collects messages from them that meet the following criteria:
1) Not older than 30 days, if this option has been checked in Teamlab Mail.
2) A message is contained in one of the following folders: 
Imap: Inbox, Sent, Spam. Messages from the Trash and Draft folders are not downloaded.
Pop3: The Inbox folder only. If you receive messages from the Sent folder, it means that your email provider provides this feature, but the majority of providers does not support it.
3) The aggregator can run as a Windows service or as a console application.

Aggregator requirements.

1) To install the aggregator you should have a Windows PC with .Net 4.5 installed.
2) All the necessary ports for the aggregator to access external servers and Teamlab database should be allowed.
3) Configure the connection to Teamlab base using the corresponding string in the configuration file.
4) Configure a mail files storage: Amazon S3 or DiskStorage.
5) You should have administrative privileges (to install the service).

Common Aggregator Issues

1) At the aggregator startup messages are not collected.
	In this case you need to check the following list of the possible problems:
	a) The OneUserMode value in the configuration file is not empty.
	Solution: Remove the string from the configuration file or replace the string that includes a user identifier by the empty one.
	b) Teamlab database is inaccessible.
	Solution: Verify that outgoing connections are allowed for MySqlConnector in your firewall.
	c) Remote server is inaccessible.
	Solution: Verify if outgoing connections are allowed for Asc.Mail.Aggregator.CollectionService. If allowed, verify that any mail client, Thunderbird for example, can connect to the remote server.

2) The Asc.Mail.Aggregator.CollectionService service does not start.
	Solution: Verify that the configuration file is correct and that it is a valid XML file.


