<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="db" connectionString="Server=teamlab;Database=teamlab_site;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="core" connectionString="Server=teamlab;Database=test;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="core.eu" connectionString="Server=teamlab;Database=test2;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="webstudio" connectionString="Server=teamlab;Database=test2;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <log4net>
    <addProperty>
      <key>UNIX:LogDirectory</key>
      <value>/var/log/onlyoffice/</value>
    </addProperty>
    <addProperty>
      <key>WINDOWS:LogDirectory</key>
      <value>..\..\Logs\</value>
    </addProperty>

    <logger name="ASC">
      <appender-ref ref="File"/>
      <level value="ALL"/>
    </logger>

    <appender name="File" type="ASC.Common.Logging.SelfCleaningAppender, ASC.Common">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder"/>
          <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common"/>
        </converter>
        <conversionPattern value="%folder{LogDirectory}Test"/>
      </file>
      <encoding value="utf-8"/>
      <staticLogFileName value="false"/>
      <preserveLogFileNameExtension value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value=".MM-dd.lo\g"/>
      <maximumFileSize value="50MB"/>
      <maxSizeRollBackups value="-1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
