<?xml version="1.0" encoding="utf-8"?>
<consumers>
  <keys>
    <clear />
    <add name="bitlyClientId" value="" consumer="Bitly" type="Key" order="13" />
    <add name="bitlyClientSecret" value="" consumer="Bitly" type="Secret" />
    <add name="bitlyUrl" value="https://api-ssl.bitly.com/v3/shorten?format=xml&amp;login={0}&amp;apiKey={1}&amp;longUrl={2}" />
    <add name="boxClientId" value="" consumer="Box" type="Key" order="3" />
    <add name="boxClientSecret" value="" consumer="Box" type="Secret" />
    <add name="boxRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
    <add name="clickatellapiKey" value="" consumer="Clickatell" type="Secret" order="10" />
    <add name="docuSignHost" value="" consumer="DocuSign" type="KeyDefault" />
    <add name="docuSignClientId" value="" consumer="DocuSign" type="Key" order="1" />
    <add name="docuSignClientSecret" value="" consumer="DocuSign" type="Secret" />
    <add name="docuSignRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
    <add name="dropboxClientId" value="" consumer="DropBox" type="Key" order="2" />
    <add name="dropboxClientSecret" value="" consumer="DropBox" type="Secret" />
    <add name="dropboxRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
    <add name="easyBibappkey" value="" consumer="EasyBib" type="Key" order="15" />
    <add name="facebookClientId" value="" consumer="Facebook" type="Key" order="6" />
    <add name="facebookClientSecret" value="" consumer="Facebook" type="Secret" />
    <add name="facebookRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
    <add name="firebase_apiKey" value="" consumer="Firebase" type="Key" order="12" />
    <add name="firebase_projectId" value="" consumer="Firebase" type="Secret" />
    <add name="firebase_messagingSenderId" value="" consumer="Firebase" type="KeyDefault" />
    <add name="firebase_authorization" value="" consumer="Firebase" type="SecretDefault" />
    <add name="googleClientId" value="" consumer="Google" type="Key" order="5" />
    <add name="googleClientSecret" value="" consumer="Google" type="Secret" />
    <add name="googleRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
    <add name="linkedInKey" value="" consumer="LinkedIn" type="Key" order="8" />
    <add name="linkedInSecret" value="" consumer="LinkedIn" type="Secret" />
    <add name="linkedInRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
    <add name="skydriveappkey" value="" consumer="SkyDrive" type="Key" order="4" />
    <add name="skydriveappsecret" value="" consumer="SkyDrive" type="Secret" />
    <add name="skydriveRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
    <add name="smsclogin" value="" consumer="Smsc" type="Key" order="11" />
    <add name="smscpsw" value="" consumer="Smsc" type="Secret" />
    <add name="smscsender" value="OnlyOffice" />
    <add name="smsccis" value="^\+?(370|374|375|380|7|840|992|993|994|995|996|998)" />
    <add name="twilioAccountSid" value="" consumer="Twilio" type="Key" order="9" />
    <add name="twilioAuthToken" value="" consumer="Twilio" type="Secret" />
    <add name="twiliosender" value="" consumer="Twilio" type="KeyDefault" />
    <add name="twitterKey" value="" consumer="Twitter" type="Key" order="7" />
    <add name="twitterSecret" value="" consumer="Twitter" type="Secret" />
    <add name="twitterAccessToken_Default" value="" consumer="Twitter" type="KeyDefault" />
    <add name="twitterAccessTokenSecret_Default" value="" consumer="Twitter" type="SecretDefault" />
    <add name="yahooClientId" value="" consumer="Yahoo" type="Key" order="14" />
    <add name="yahooClientSecret" value="" consumer="Yahoo" type="Secret" />
    <add name="yahooRedirectUrl" value="https://service.teamlab.com/oauth2.aspx" />
    <add name="wpClientId" value="" consumer="Wordpress" type="Key" order="16" />
    <add name="wpClientSecret" value="" consumer="Wordpress" type="Secret" />
    <add name="wpRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
  </keys>
</consumers>