<?xml version="1.0" encoding="utf-8"?>
<consumers>
  <keys>
    <clear />
    <add name="boxClientId" value="" consumer="Box" type="Key" />
    <add name="boxClientSecret" value="" consumer="Box" type="Secret" />
    <add name="boxRedirectUrl" value="https://service.teamlab.com/oauth2.aspx" />
    <add name="dropboxappkey" value="" consumer="DropBox" type="Key" />
    <add name="dropboxappsecret" value="" consumer="DropBox" type="Secret" />
    <add name="facebookClientId" value="" consumer="Facebook" type="Key" />
    <add name="facebookClientSecret" value="" consumer="Facebook" type="Secret" />
    <add name="facebookRedirectUrl" value="https://service.teamlab.com/oauth2.aspx" />
    <add name="facebookAccessToken_Default" value="" consumer="FacebookCRM" type="Secret" />
    <add name="googleClientId" value="" consumer="Google" type="Key" />
    <add name="googleClientSecret" value="" consumer="Google" type="Secret" />
    <add name="googleRedirectUrl" value="https://service.teamlab.com/oauth2.aspx" />
    <add name="linkedInKey" value="" consumer="LinkedIn" type="Key" />
    <add name="linkedInSecret" value="" consumer="LinkedIn" type="Secret" />
    <add name="linkedInRedirectUrl" value="https://service.teamlab.com/oauth2.aspx" />
    <add name="skydriveappkey" value="" consumer="SkyDrive" type="Key" />
    <add name="skydriveappsecret" value="" consumer="SkyDrive" type="Secret" />
    <add name="skydriveRedirectUrl" value="https://service.teamlab.com/oauth2.aspx" />
    <add name="twitterKey" value="" consumer="Twitter" type="Key" />
    <add name="twitterSecret" value="" consumer="Twitter" type="Secret" />
    <add name="twitterAccessToken_Default" value="" consumer="TwitterCrm" type="Key" />
    <add name="twitterAccessTokenSecret_Default" value="" consumer="TwitterCrm" type="Secret" />
  </keys>
</consumers>