<?xml version="1.0" encoding="utf-8"?>
<consumers>
  <keys>
    <clear />
    <add name="box.net" value="" consumer="BoxCom" type="Secret" />
    <add name="crunchBaseKey" value="" consumer="CrunchBase" type="Secret" />
    <add name="dropboxappkey" value="" consumer="DropBox" type="Key" />
    <add name="dropboxappsecret" value="" consumer="DropBox" type="Secret" />
    <add name="facebookAppID" value="" consumer="Facebook" type="Key" />
    <add name="facebookAppSecret" value="" consumer="Facebook" type="Secret" />
    <add name="googleConsumerKey" value="" consumer="Google" type="Key" />
    <add name="googleConsumerSecret" value="" consumer="Google" type="Secret" />
    <add name="googleClientId" value="" />
    <add name="googleClientSecret" value="" />
    <add name="googleRedirectUrl" value="" />
    <add name="linkedInKey" value="" consumer="LinkedIn" type="Key" />
    <add name="linkedInSecret" value="" consumer="LinkedIn" type="Secret" />
    <add name="skydriveappkey" value="" consumer="SkyDrive" type="Key" />
    <add name="skydriveappsecret" value="" consumer="SkyDrive" type="Secret" />
    <add name="sms.USAregex" value="^\+?(1)" />
    <add name="smsOperatorUrl_clickatelUSA" value="" />
    <add name="twitterKey" value="" consumer="Twitter" type="Key" />
    <add name="twitterSecret" value="" consumer="Twitter" type="Secret" />
    <add name="mail.googleClientID" value="" />
    <add name="mail.googleClientSecret" value="" />
  </keys>
</consumers>