<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="core" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="webstudio" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="teamlabsite" connectionString="Server=teamlab;Database=teamlab_site;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="tmresource" connectionString="Data Source=|DataDirectory|..\Data\Db\Resources.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
  <add name="tmresourceTrans" connectionString="Data Source=|DataDirectory|..\Data\Db\Resources.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
  <add name="community" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="crm" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="files" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="projects" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="mail" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="calendar" connectionString="Server=localhost;Database=teamlab;User ID=root;Password=teamlab;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
</connectionStrings>