<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <clear />
  <add key="core.base-domain" value="localhost" />
  <add key="core.machinekey" value="Vskoproizvolny Salt par Chivreski" />
  <add key="core.notify.postman" value="service" />
  <add key="core.notify.autoreplyhost" value="localhost" />
  <add key="core.payment-partners" value="http://partners.teamlab.com/api/" />
  <add key="web.hide-settings" value="AccessSettings,StudioSmsNotificationSettings,VersionSettings,Backup,Restore" />
  <add key="web.cultures" value="en-US,fr-FR,de-DE,es-ES,en-GB,ru-RU,lv-LV,pt-BR,pt-PT,it-IT,tr-TR,el-GR,zh-CN,pl-PL,cs-CZ,uk-UA,vi-VN,fi-FI,az-Latn-AZ,ko-KR,ja-JP" />
  <add key="web.display.mobapps.banner" value="false" />
  <add key="web.client.bundling" value="true" />
  <add key="web.client.store" value="false" />
  <add key="web.client.cache.resetkey" value="1" />
  <add key="web.transfering.errorstatus-regex" value="/products/files/httphandlers/filehandler\.ashx|/products/files/services/wcfservice/service\.svc" />
  <add key="web.portal.test-data" value="false" />
  <add key="web.teamlab-site" value="http://www.teamlab.com" />
  <add key="web.chat" value="false" />
  <add key="web.hub" value="http://localhost:8885" />
  <!--IE <= 6, FF<= 3, Safary <=4, Chrome <= 9, Opera <=10 -->
  <add key="web.browser-not-supported" value=".*((MSIE\s+(?!(7|8|9|10|11|12|13|14|15)))|(Firefox/(1|2|3)\.)|(AppleWebKit.*?Version[/ ](1|2|3|4)\.)|(AppleWebKit.*?Chrome[/ ](1|2|3|4|5|6|7|8|9)\.)|(Opera.*Version[/ ](?!(10|11|12|13)))).*|^(?!.*MSIE)(?!.*Firefox)(?!.*Safari)(?!.*Opera)(?!.*Trident.*rv:11.0).+" />
  <add key="api.url" value="~/api/2.0/" />
  <add key="web.notenant-url" value="http://www.teamlab.com/wrongportalname.aspx" />
  <add key="web.import-contacts-domain" value="teamlab.com" />
  <add key="web.import-contacts-url" value="https://service.teamlab.com/import6/import-contacts/importframe.aspx" />
  <add key="web.help-center" value="http://helpcenter.teamlab.com/{ru|de|fr|es|lv|it}" />
  <add key="web.chat-token" value="3723BE85-90DC-47D6-9204-3EE2B45D695E" />
  <add key="mobile.urlregex" value="^((?!((/skins/)|(/login\.ashx)|(/wizard\.aspx)|(/confirm\.aspx)|(/api/)|(\.js$)|(/mobile/)|(/products/files/doceditor\.aspx)|(.*/clientscript/.*)|(.*/bundle/.*)|(/products/files/httphandlers/filehandler\.ashx)|(/products/files/services/wcfservice/service\.svc/))).)*$" />
  <add key="mobile.regex" value="" />
  <add key="mobile.redirect-url" value="~/mobile" />
  <add key="mobile.redirect-regex" value="android\s(2|1|4)\.|avantgo|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\\/|plucker|pocket|psp|symbian|treo|up\\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino" />
  <add key="files.mark-original.date" value="2013-06-28" />
  <add key="files.thirdparty.enable" value="boxnet,dropbox,google,skydrive,sharepoint" />
  <add key="files.import.enable" value="google,zoho" />
  <add key="files.viewed-images" value=".bmp|.gif|.jpeg|.jpg|.png|.ico" />
  <add key="files.uploader.url" value="products/files/" />
  <add key="files.uploader.chunk-size" value="5242880" />
  <add key="files.docservice.viewed-docs" value=".docx|.xlsx|.pptx" />
  <add key="files.docservice.edited-docs" value=".docx|.xlsx|.pptx" />
  <add key="files.docservice.url.converter" value="" />
  <add key="files.docservice.url.api" value="/OfficeWeb/apps/api/documents/api.js" />
  <add key="files.docservice.url.preloader" value="/OfficeWeb/apps/api/documents/cache-script.html" />
  <add key="files.docservice.url.storage" value="http://localhost/FileUploader.ashx" />
  <add key="resources.from-db" value="true" />
  <add key="mail.googleOAuth" value="false" />
  <add key="mail.download-handler-url" value="/addons/mail/httphandlers/download.ashx?attachid={0}" />
  <add key="mail.download-all-handler-url" value="/addons/mail/httphandlers/downloadall.ashx?messageid={0}" />
  <add key="mail.view-document-handler-url" value="/addons/mail/httphandlers/viewdocument.ashx?attachid={0}" />
  <add key="mail.edit-document-handler-url" value="/addons/mail/httphandlers/editdocument.ashx?attachid={0}" />
  <add key="mail.attachments-group-operations" value="false" />
  <add key="messaging.enabled" value="true" />
  <add key="messaging.secret-ips" value="" />
  <add key="monitoring.log-folder" value="..\Logs\,..\Mail\Aggregator\logs\,..\Mail\Watchdog\logs\" />
  <add key="monitoring.service-names" value="OnlyOfficeTalk,OnlyOfficeNotify,OnlyOfficeIndex,OnlyOfficeFeed,OnlyOfficeBackup,OnlyOfficeMailAggregator,OnlyOfficeMailWatchdog,TeamlabOfficeAppsCoAuthoring,TeamlabOfficeAppsFileConverter,TeamlabOfficeAppsSpellchecker" />
  <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
  <add key="version.number" value="7.6.0" />
  <add key="crm.invoice.download.enable" value="true" />
  <add key="web.install-url" value="http://service.teamlab.com/install/email.ashx?v=76ce" />
  <add key="core.license" value="" />
</appSettings>