<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="default" connectionString="Server=localhost;Database=onlyoffice;User ID=root;Password=;Pooling=True;Character Set=utf8;AutoEnlist=false;SSL Mode=none" providerName="MySql.Data.MySqlClient" />
</connectionStrings>