<?xml version="1.0" encoding="utf-8"?>
<storage>
  <appender>
    <clear />
    <add name="generic" append="~/" />
  </appender>
  <handler>
    <clear />
    <add name="disc" type="ASC.Data.Storage.DiscStorage.DiscDataStore, ASC.Data.Storage">
      <property name="$STORAGE_ROOT" value="..\Data\" />
    </add>
  </handler>
  <module>
    <clear />
    <add name="forum" data="853B6EB9-73EE-438d-9B09-8FFEEDF36234" type="disc" path="$STORAGE_ROOT\Products\Community\Modules\Forum\Data\attachments" virtualpath="~/products/community/modules/forum/data/attachments" expires="0:10:0" />
    <add name="bookmarking" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Products\Community\Modules\Bookmarking\Data\images" virtualpath="~/products/community/modules/bookmarking/data/images" />
    <add name="wiki" data="742CF945-CBBC-4a57-82D6-1600A12CF8CA" type="disc" path="$STORAGE_ROOT\Products\Community\Modules\Wiki\Data\files" virtualpath="~/products/community/modules/wiki/data/files" expires="0:10:0">
      <domain>
        <add name="temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Wiki\Data\filestemp" virtualpath="~/products/community/modules/wiki/data/filestemp" />
      </domain>
    </add>
    <add name="files" data="e67be73d-f9ae-4ce1-8fec-1880cb518cb4" type="disc" path="$STORAGE_ROOT\Products\Files" expires="0:16:0">
      <domain>
        <add name="files_temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Files\{0}\temp" expires="0:10:0" />
      </domain>
    </add>
    <add name="files_template" visible="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="Products\Files\DocStore" virtualpath="~/products/files/docstore" appendTenantId="false" public="true" disableMigrate="true" disableEncryption="true" />
    <add name="crm" data="6743007C-6F95-4d20-8C88-A8601CE5E76D" type="disc" path="$STORAGE_ROOT\Products\CRM\Data" virtualpath="~/products/crm/data">
      <domain>
        <add name="temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\CRM\Data\{0}\temp" />
        <add name="mail_messages" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\CRM\Data\{0}\mail_messages" />
        <add name="voip" visible="true" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\CRM\Data\{0}\voip" virtualpath="~/products/crm/data/{0}/voip" public="true" />
      </domain>
    </add>
    <add name="crm_template" visible="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="Products\CRM\DocStore" disableMigrate="true" disableEncryption="true" />
    <add name="fckuploaders" count="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Studio\htmleditorfiles" virtualpath="~/data/shared/htmleditorfiles">
      <domain>
        <add name="mail" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\addons\mail\Data\htmleditorfiles" virtualpath="~/addons/mail/data/htmleditorfiles" />
        <add name="forum" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Forum\Data\htmleditorfiles" virtualpath="~/products/community/modules/forum/data/htmleditorfiles" />
        <add name="news" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\News\Data\htmleditorfiles" virtualpath="~/products/community/modules/news/data/htmleditorfiles" />
        <add name="news_comments" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\News\Data\fckcomments" virtualpath="~/products/community/modules/news/data/fckcomments" />
        <add name="blogs" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Blogs\Data\htmleditorfiles" virtualpath="~/products/community/modules/blogs/data/htmleditorfiles" />
        <add name="blogs_comments" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Blogs\Data\fckcomments" virtualpath="~/products/community/modules/blogs/data/fckcomments" />
        <add name="bookmarking_comments" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Bookmarking\data\fckcomments" virtualpath="~/products/community/modules/bookmarking/data/fckcomments" />
        <add name="wiki_comments" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Community\Modules\Wiki\Data\fckcomments" virtualpath="~/products/community/modules/wiki/data/fckcomments" />
        <add name="projects_comments" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Products\Projects\Data\fckcomments" virtualpath="~/products/projects/data/fckcomments" />
      </domain>
    </add>
    <add name="talk" data="BF88953E-3C43-4850-A3FB-B1E43AD53A3E" type="disc" path="$STORAGE_ROOT\addons\talk\Data" virtualpath="~/addons/talk/data" />
    <add name="certs" visible="false" type="disc" path="$STORAGE_ROOT\certs\" appendTenantId="false" disableEncryption="true" />
    <add name="mailaggregator" data="666ceac1-4532-4f8c-9cba-8f510eca2fd1" type="disc" path="$STORAGE_ROOT\addons\mail\Data\aggregator" virtualpath="~/addons/mail/data/aggregator">
      <domain>
        <add name="attachments_temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\addons\mail\Data\aggregator\{0}\temp" virtualpath="~/addons/mail/data/aggregator/{0}/temp" />
      </domain>
    </add>
    <add name="logo" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Studio\{0}\logo" virtualpath="~/studio/{0}/logo" public="true" />
    <add name="whitelabel" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Studio\{0}\CoBranding" virtualpath="~/studio/{0}/cobranding" public="true" />
    <add name="backup" visible="false" type="disc" path="$STORAGE_ROOT\Studio\{0}\backup" virtualpath="~/studio/{0}/backup" expires="0:10:0" disableEncryption="true" />
    <add name="customnavigation" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Studio\{0}\customnavigation" virtualpath="~/studio/{0}/customnavigation" />
    <add name="userPhotos" count="false" data="00000000-0000-0000-0000-000000000000" type="disc" path="$STORAGE_ROOT\Studio\{0}\userphotos" virtualpath="~/studio/{0}/userphotos">
      <domain>
        <add name="temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="$STORAGE_ROOT\Studio\{0}\userphotos\temp" virtualpath="~/studio/{0}/userphotos/temp" />
      </domain>
    </add>
    <add name="static_partnerdata" type="disc" path="App_Data\static\partnerdata" acl="Read" virtualpath="~/App_Data/static/partnerdata" appendTenantId="false" public="true" disableMigrate="true" disableEncryption="true" />
  </module>
</storage>