<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <logger name="ASC">
    <appender-ref ref="File" />
    <level value="WARN" />
  </logger>
  <logger name="ASC.SQL" additivity="false">
    <appender-ref ref="Sql" />
    <level value="OFF" />
  </logger>
  <logger name="ASC.Api" additivity="false">
    <appender-ref ref="Api" />
    <level value="WARN" />
  </logger>
  <logger name="ASC.Core.Billing" additivity="false">
    <appender-ref ref="Billing" />
    <level value="OFF" />
  </logger>
  <logger name="ASC.Notify.Messages" additivity="false">
    <appender-ref ref="Notify" />
    <level value="OFF" />
  </logger>
  <logger name="ASC.Messaging" additivity="false">
    <appender-ref ref="Messaging" />
    <level value="OFF" />
  </logger>
  <appender name="File" type="log4net.Appender.RollingFileAppender">
    <file value="..\Logs\TeamLab.Web" />
    <staticLogFileName value="false" />
    <encoding value="utf-8" />
    <rollingStyle value="Date" />
    <datePattern value=".MM-dd.lo\g" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="Sql" type="log4net.Appender.RollingFileAppender">
    <file value="..\Logs\TeamLab.Web.SQL.log" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="50MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate|%thread|%property{duration}|%message|%property{sql}|%property{sqlParams}%newline" />
    </layout>
  </appender>
  <appender name="Api" type="log4net.Appender.RollingFileAppender">
    <file value="..\Logs\TeamLab.Web.Api.log" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="50MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level - %message%newline" />
    </layout>
  </appender>
  <appender name="Billing" type="log4net.Appender.RollingFileAppender">
    <file value="..\Logs\TeamLab.Web.Billing.log" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="50MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="Notify" type="log4net.Appender.RollingFileAppender">
    <file value="..\Logs\TeamLab.Web.Notify.log" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="50MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level - %message%newline" />
    </layout>
  </appender>
  <appender name="Messaging" type="log4net.Appender.RollingFileAppender">
    <file value="..\Logs\TeamLab.Web.Messaging.log" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="50MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level - %message%newline" />
    </layout>
  </appender>
</log4net>