<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <clear />
  <add key="api.url" value="~/api/2.0/" />
  <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
  <add key="bookmarking.thumbnail-url" value="http://localhost:9800/?url={0}" />
  <add key="BoshPath" value="http://localhost:5280/http-poll/" />
  <add key="core.base-domain" value="localhost" />
  <add key="core.machinekey" value="Vskoproizvolny Salt par Chivreski" />
  <add key="core.notify.autoreplyhost" value="localhost" />
  <add key="core.notify.postman" value="service" />
  <add key="core.payment-partners" value="" />
  <add key="core.payment-region" value="test" />
  <add key="crm.invoice.download.enable" value="true" />
  <add key="crm.update.currency.info.enable" value="false" />
  <add key="files.docservice.coauthor-docs" value=".pptx|.ppsx|.xlsx|.csv|.docx|.txt" />
  <add key="files.docservice.commented-docs" value=".docx|.xlsx|.pptx" />
  <add key="files.docservice.convert-docs" value=".pptm|.ppt|.ppsm|.pps|.potx|.potm|.pot|.odp|.fodp|.otp|.xlsm|.xls|.xltx|.xltm|.xlt|.ods|.fods|.ots|.docm|.doc|.dotx|.dotm|.dot|.odt|.fodt|.ott|.rtf" />
  <add key="files.docservice.edited-docs" value=".pptx|.pptm|.ppt|.ppsx|.ppsm|.pps|.potx|.potm|.pot|.odp|.fodp|.otp|.xlsx|.xlsm|.xls|.xltx|.xltm|.xlt|.ods|.fods|.ots|.csv|.docx|.docm|.doc|.dotx|.dotm|.dot|.odt|.fodt|.ott|.txt|.rtf|.mht|.html|.htm" />
  <add key="files.docservice.encrypted-docs" value=".docx|.xlsx|.pptx" />
  <add key="files.docservice.formfilling-docs" value=".docx" />
  <add key="files.docservice.customfilter-docs" value=".xlsx" />
  <add key="files.docservice.reviewed-docs" value=".docx" />
  <add key="files.docservice.secret" value="" />
  <add key="files.docservice.secret.header" value="" />
  <add key="files.docservice.url.public" value="" />
  <add key="files.docservice.url.internal" value="" />
  <add key="files.docservice.url.portal" value="" />
  <add key="files.docservice.viewed-docs" value=".pptx|.pptm|.ppt|.ppsx|.ppsm|.pps|.potx|.potm|.pot|.odp|.fodp|.otp|.gslides|.xlsx|.xlsm|.xls|.xltx|.xltm|.xlt|.ods|.fods|.ots|.gsheet|.csv|.docx|.docm|.doc|.dotx|.dotm|.dot|.odt|.fodt|.ott|.gdoc|.txt|.rtf|.mht|.html|.htm|.epub|.pdf|.djvu|.xps" />
  <add key="files.ffmpeg" value="" />
  <add key="files.ffmpeg.exts" value="avi|mpeg|mpg|wmv" />
  <add key="files.index.formats" value=".pptx|.pptm|.ppt|.ppsx|.ppsm|.pps|.potx|.potm|.pot|.odp|.fodp|.otp|.gslides|.xlsx|.xlsm|.xls|.xltx|.xltm|.xlt|.ods|.fods|.ots|.gsheet|.csv|.docx|.docm|.doc|.dotx|.dotm|.dot|.odt|.fodt|.ott|.gdoc|.txt|.rtf|.mht|.html|.htm|.epub|.pdf|.djvu|.xps" />
  <add key="files.thirdparty.enable" value="box,dropboxv2,docusign,google,onedrive,nextcloud,owncloud,webdav,kdrive,yandex" />
  <add key="files.uploader.chunk-size" value="10485760" />
  <add key="files.uploader.url" value="Products/Files/" />
  <add key="files.viewed-images" value=".bmp|.gif|.jpeg|.jpg|.png|.ico|.tif|.tiff|.webp" />
  <add key="files.viewed-media" value=".aac|.flac|.m4a|.mp3|.oga|.ogg|.wav|.f4v|.m4v|.mov|.mp4|.ogv|.webm" />
  <add key="FileTransportType" value="noflash" />
  <add key="mail.certificate-permit" value="true" />
  <add key="mail.google-oauth" value="false" />
  <add key="mail.daemon-email" value="mail-daemon@onlyoffice.com" />
  <add key="mail.server-mailbox-limit-per-user" value="-1" />
  <add key="messaging.enabled" value="true" />
  <add key="messaging.secret-ips" value="" />
  <add key="mobile.regex" value="android|avantgo|playbook|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od|ad)|iris|kindle|lge |maemo|midp|mmp|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\\/|plucker|pocket|psp|symbian|treo|up\\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino|sailfishbrowser" />
  <add key="monitoring.log-folder" value="..\Logs\,..\Mail\Aggregator\logs\,..\Mail\Watchdog\logs\" />
  <add key="monitoring.service-names" value="OnlyOfficeJabber,OnlyOfficeNotify,OnlyOfficeIndex,OnlyOfficeFeed,OnlyOfficeSignalR,OnlyOfficeMail,OnlyOfficeMailWatchdog" />
  <add key="RequestTransportType" value="handler" />
  <add key="resources.from-db" value="true" />
  <add key="version.number" value="11.0.0" />
  <add key="version.release-date" value="" />
  <add key="version.release-date.sign" value="" />
  <add key="voip.enabled" value="true" />
  <add key="web.chat" value="false" />
  <add key="web.client.bundling" value="true" />
  <add key="web.client.cache.resetkey" value="20171012" />
  <add key="web.client.store" value="true" />
  <add key="web.controlpanel.url" value="" />
  <add key="web.cultures" value="en-US,fr-FR,de-DE,es-ES,en-GB,ru-RU,lv-LV,pt-BR,pt-PT,it-IT,tr-TR,el-GR,zh-CN,pl-PL,cs-CZ,uk-UA,vi-VN,fi-FI,ko-KR,ja-JP,sl-SI,sk-SK,nl-NL,es-MX,de-CH,bg-BG" />
  <add key="web.custom-scripts" value="" />
  <add key="web.demo-order" value="http://www.onlyoffice.com/demo-order.aspx" />
  <add key="web.display.mobapps.banner" value="files" />
  <add key="web.help-center" value="https://helpcenter.onlyoffice.com/{ru|de|fr|es|it}" />
  <add key="web.help-center.download" value="false" />
  <add key="web.hide-settings" value="VersionSettings,Monitoring,SmtpSettingsWithsMailServer,PublicPortal,PortalRename,Migration,Promocode,TariffSettings,ProxyHttpContent,FullTextSearch,Storage,EncryptionSettings" />
  <add key="web.hub" value="/socketio/socket.io/" />
  <add key="web.hub.internal" value="http://localhost:9899/" />
  <add key="web.portal.test-data" value="false" />
  <add key="web.support-feedback" value="https://helpdesk.onlyoffice.com" />
  <add key="web.talk" value="false" />
  <add key="web.teamlab-site" value="http://www.onlyoffice.com" />
  <add key="web.transfering.errorstatus-regex" value="/products/files/httphandlers/filehandler\.ashx|/products/files/services/wcfservice/service\.svc" />
  <add key="web.uservoice" value="" />
  <add key="web.start.product.list" value="" />
  <add key="web.sso.saml.login.url" value="/sso/login" />
  <add key="web.sso.saml.logout.url" value="/sso/slo" />
  <add key="license.file.path" value="" />
  <add key="mail.server-dns-check-prefix" value="portal-domain" />
  <add key="resources.cache-timeout" value="0" />
  <add key="web.client.cache" value="true" />
  <add key="web.install-url" value="https://service.onlyoffice.com/install/email.ashx?v=8" />
  <add key="web.portal-name" value="" />
  <add key="web.url-shortener" value="/sh/" />
  <add key="web.url-shortener.internal" value="http://localhost:9999/" />
  <add key="web.warmup.enabled" value="true" />
  <add key="fullTextSearch" value="true" />
</appSettings>