<?xml version="1.0" encoding="utf-8"?>
<consumers>
  <components>
    <component type="ASC.FederatedLogin.LoginProviders.BitlyLoginProvider, ASC.FederatedLogin" name="Bitly" order="13">
      <props>
        <item key="bitlyClientId" value="" />
        <item key="bitlyClientSecret" value="" />
      </props>
      <additional>
        <item key="bitlyUrl" value="https://api-ssl.bitly.com/v3/shorten?format=xml&amp;login={0}&amp;apiKey={1}&amp;longUrl={2}" />
      </additional>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.TelegramLoginProvider, ASC.FederatedLogin" name="Telegram" order="28">
      <props>
        <item key="telegramBotToken" value="" />
        <item key="telegramBotName" value="" />
      </props>
      <additional>
        <item key="telegramAuthTokenLifespan" value="20" />
        <item key="telegramProxy" value="" />
      </additional>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.BoxLoginProvider, ASC.FederatedLogin" name="Box" order="3">
      <props>
        <item key="boxClientId" value="" />
        <item key="boxClientSecret" value="" />
      </props>
      <additional>
        <item key="boxRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component type="ASC.Web.Core.Sms.ClickatellProvider, ASC.Web.Core" name="Clickatell" order="10">
      <props>
        <item key="clickatellapiKey" value="" />
      </props>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.DocuSignLoginProvider, ASC.FederatedLogin" name="DocuSign" order="1">
      <props>
        <item key="docuSignClientId" value="" />
        <item key="docuSignClientSecret" value="" />
        <item key="docuSignHost" value="" />
      </props>
      <additional>
        <item key="docuSignRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.DropboxLoginProvider, ASC.FederatedLogin" name="DropBox" order="2">
      <props>
        <item key="dropboxClientId" value="" />
        <item key="dropboxClientSecret" value="" />
      </props>
      <additional>
        <item key="dropboxRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
        <item key="dropboxappkey" value="" />
        <item key="dropboxappsecret" value="" />
      </additional>
    </component>
    <component type="ASC.Web.Files.Helpers.EasyBibHelper, ASC.Web.Files" name="EasyBib" order="15">
      <props>
        <item key="easyBibappkey" value="" />
      </props>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.FacebookLoginProvider, ASC.FederatedLogin" name="Facebook" order="6">
      <props>
        <item key="facebookClientId" value="" />
        <item key="facebookClientSecret" value="" />
      </props>
      <additional>
        <item key="facebookRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component type="ASC.Web.Core.Jabber.FireBase, ASC.Web.Core" name="Firebase" order="12">
      <props>
        <item key="firebase_apiKey" value="" />
        <item key="firebase_projectId" value="" />
        <item key="firebase_messagingSenderId" value="" />
        <item key="firebase_authorization" value="" />
      </props>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.GoogleLoginProvider, ASC.FederatedLogin" name="Google" order="5">
      <props>
        <item key="googleClientId" value="" />
        <item key="googleClientSecret" value="" />
      </props>
      <additional>
        <item key="googleRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.LinkedInLoginProvider, ASC.FederatedLogin" name="LinkedIn" order="8">
      <props>
        <item key="linkedInKey" value="" />
        <item key="linkedInSecret" value="" />
      </props>
      <additional>
        <item key="linkedInRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component name="Mailru" type="ASC.FederatedLogin.LoginProviders.MailRuLoginProvider, ASC.FederatedLogin" order="25">
      <props>
        <item key="mailRuClientId" value="" />
        <item key="mailRuClientSecret" value="" />
      </props>
      <additional>
        <item key="mailRuRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.OneDriveLoginProvider, ASC.FederatedLogin" name="SkyDrive" order="4">
      <props>
        <item key="skydriveappkey" value="" />
        <item key="skydriveappsecret" value="" />
      </props>
      <additional>
        <item key="skydriveRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component type="ASC.Web.Core.Sms.SmscProvider, ASC.Web.Core" name="Smsc" order="11">
      <props>
        <item key="smsclogin" value="" />
        <item key="smscpsw" value="" />
      </props>
      <additional>
        <item key="smscsender" value="ONLYOFFICE" />
        <item key="smsccis" value="^\+?(370|374|375|380|7|840|992|993|994|995|996|998)" />
      </additional>
    </component>
    <component type="ASC.Web.Core.Sms.TwilioProvider, ASC.Web.Core" name="Twilio" order="9">
      <props>
        <item key="twilioAccountSid" value="" />
        <item key="twilioAuthToken" value="" />
        <item key="twiliosender" value="" />
      </props>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.TwitterLoginProvider, ASC.FederatedLogin" name="Twitter" order="7">
      <props>
        <item key="twitterKey" value="" />
        <item key="twitterSecret" value="" />
        <item key="twitterAccessToken_Default" value="" />
        <item key="twitterAccessTokenSecret_Default" value="" />
      </props>
      <additional>
        <item key="twitterRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.YahooLoginProvider, ASC.FederatedLogin" name="Yahoo" order="14">
      <props>
        <item key="yahooClientId" value="" />
        <item key="yahooClientSecret" value="" />
      </props>
      <additional>
        <item key="yahooRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.VKLoginProvider, ASC.FederatedLogin" name="Vk" order="27">
      <props>
        <item key="vkClientId" value="" />
        <item key="vkClientSecret" value="" />
      </props>
      <additional>
        <item key="vkRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component type="ASC.FederatedLogin.LoginProviders.WordpressLoginProvider, ASC.FederatedLogin" name="Wordpress" order="15">
      <props>
        <item key="wpClientId" value="" />
        <item key="wpClientSecret" value="" />
      </props>
      <additional>
        <item key="wpRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component name="Yandex" type="ASC.FederatedLogin.LoginProviders.YandexLoginProvider, ASC.FederatedLogin" order="26">
      <props>
        <item key="yandexClientId" value="" />
        <item key="yandexClientSecret" value="" />
      </props>
      <additional>
        <item key="yandexRedirectUrl" value="https://service.onlyoffice.com/oauth2.aspx" />
      </additional>
    </component>
    <component name="S3" type="ASC.Core.Common.Configuration.DataStoreConsumer, ASC.Core.Common" order="20">
      <props>
        <item key="acesskey" value="" />
        <item key="secretaccesskey" value="" />
      </props>
      <additional>
        <item key="handlerType" value="ASC.Data.Storage.S3.S3Storage, ASC.Data.Storage" />
        <item key="bucket" value="" />
        <item key="region" value="" />
        <item key="serviceurl" value="" />
        <item key="forcepathstyle" value="" />
        <item key="usehttp" value="" />
        <item key="sse" value="" />
        <item key="cdn" value="S3Cdn" />
      </additional>
    </component>
    <component name="GoogleCloud" type="ASC.Core.Common.Configuration.DataStoreConsumer, ASC.Core.Common" order="21">
      <props>
        <item key="json" value="" />
      </props>
      <additional>
        <item key="handlerType" value="ASC.Data.Storage.GoogleCloud.GoogleCloudStorage, ASC.Data.Storage" />
        <item key="bucket" value="" />
      </additional>
    </component>
    <component name="Rackspace" type="ASC.Core.Common.Configuration.DataStoreConsumer, ASC.Core.Common" order="22">
      <props>
        <item key="username" value="" />
        <item key="apiKey" value="" />
      </props>
      <additional>
        <item key="handlerType" value="ASC.Data.Storage.RackspaceCloud.RackspaceCloudStorage, ASC.Data.Storage" />
        <item key="public_container" value="" />
        <item key="private_container" value="" />
        <item key="region" value="" />
      </additional>
    </component>
    <component name="Selectel" type="ASC.Core.Common.Configuration.DataStoreConsumer, ASC.Core.Common" order="23">
      <props>
        <item key="authUser" value="" />
        <item key="authPwd" value="" />
      </props>
      <additional>
        <item key="handlerType" value="ASC.Data.Storage.Selectel.SelectelStorage, ASC.Data.Storage" />
        <item key="private_container" value="" />
        <item key="public_container" value="" />
        <item key="cdn" value="SelectelCdn" />
      </additional>
    </component>
    <component name="S3Cdn" type="ASC.Core.Common.Configuration.Consumer, ASC.Core.Common" order="20">
      <additional>
        <item key="bucket" value="" />
        <item key="subdir" value="" />
        <item key="region" value="" />
        <item key="serviceurl" value="" />
        <item key="forcepathstyle" value="" />
        <item key="usehttp" value="" />
        <item key="sse" value="" />
      </additional>
    </component>
    <component name="SelectelCdn" type="ASC.Core.Common.Configuration.Consumer, ASC.Core.Common" order="23">
      <additional>
        <item key="public_container" value="" />
        <item key="subdir" value="" />
      </additional>
    </component>
  </components>
</consumers>