<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="storage" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage" />
    <section name="consumers" type="ASC.Thrdparty.Configuration.ConsumerConfigurationSection, ASC.Thrdparty" restartOnExternalChanges="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\x64;bin\x86;Products\People\bin;Products\Tools\bin;Products\Tools\Modules\FoodManagement\bin;Products\Projects\bin;Products\ModernCommunity\bin;Products\Files\bin;Products\CRM\bin;Products\Community\bin;Products\Community\Modules\Wiki\bin;Products\Community\Modules\PhotoManager\bin;Products\Community\Modules\News\bin;Products\Community\Modules\Forum\bin;Products\Community\Modules\Bookmarking\bin;Products\Community\Modules\Blogs\bin;Products\Community\Modules\Birthdays\bin;addons\talk\bin;addons\mail\bin;addons\calendar\bin" />
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="3.5.0.10357" newVersion="4.1.0.12182" />
        <bindingRedirect oldVersion="4.0.0.11165" newVersion="4.1.0.12182" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FredCK.FCKeditorV2" publicKeyToken="4f86767c9b519a06" />
        <codeBase version="2.6.3.24761" href="/addons/mail/bin/FredCK.FCKeditorV2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings configSource="web.appsettings.config" />
  <connectionStrings configSource="web.connections.config" />
  <log4net configSource="web.log4net.config" />
  <storage configSource="web.storage.config" />
  <consumers configSource="web.consumers.config" />
  <unity configSource="web.unity.config" />
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <system.web>
    <!--HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\ASP.NET\2.0.50727.0\MaxConcurrentRequestsPerCPU=80-->
    <httpRuntime targetFramework="4.5" executionTimeout="3600" maxRequestLength="1048576" requestValidationMode="2.0" />
    <pages enableViewStateMac="false" validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
      <namespaces>
        <add namespace="ASC.Web.Core.Client.Bundling" />
      </namespaces>
    </pages>
    <authentication mode="None" />
    <customErrors mode="RemoteOnly" defaultRedirect="500.htm" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="403.htm" />
      <error statusCode="404" redirect="404.htm" />
    </customErrors>
    <compilation debug="true" batch="true" targetFramework="4.5" />
    <httpModules>
      <add name="WebStudioCommonModule" type="ASC.Web.Studio.Core.WebStudioCommonModule, ASC.Web.Studio" />
      <add name="UploadProgress" type="ASC.Web.Studio.Controls.FileUploader.HttpModule.UploadProgressModule, ASC.Web.Studio" />
      <add name="HttpContextDispose" type="ASC.Common.Web.DisposableHttpContextHttpModule, ASC.Common" />
      <add name="MobileDetector" type="ASC.Web.Core.Mobile.MobileDetector, ASC.Web.Core" />
      <add name="ApiSetup" type="ASC.Api.ApiSetupHttpModule, ASC.Api" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET" path="jwtlogin.ashx" type="ASC.Web.Studio.HttpHandlers.JwtHandler, ASC.Web.Studio" />
      <add verb="POST,GET" path="samllogin.ashx" type="ASC.Web.Studio.HttpHandlers.SamlHandler, ASC.Web.Studio" />
      <add verb="POST,GET" path="template.ashx" type="ASC.Web.Studio.HttpHandlers.TemplatingHandler, ASC.Web.Studio" />
      <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" />
      <add verb="POST,GET" path="ajaxupload.ashx" type="ASC.Web.Studio.HttpHandlers.AjaxFileUploadHandler" />
      <add verb="POST,GET" path="UploadProgress.ashx" type="ASC.Web.Studio.Controls.FileUploader.HttpModule.UploadProgressHandler, ASC.Web.Studio" />
      <add verb="POST,GET" path="fckuploader.ashx" type="ASC.Web.Studio.HttpHandlers.FCKEditorFileUploadHandler, ASC.Web.Studio" />
      <add verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add verb="*" path="*.less" type="dotless.Core.LessCssHttpHandler, dotless.Core" validate="false" />
      <add verb="POST,GET" path="UserPhoto.ashx" type="ASC.Web.Studio.HttpHandlers.UserPhotoHandler, ASC.Web.Studio" />
      <add verb="POST,GET" path="KeepSessionAlive.ashx" type="ASC.Web.Studio.HttpHandlers.KeepSessionAliveHandler, ASC.Web.Studio" />
      <add verb="GET,HEAD" path="tariffs/invoice.ashx" type="ASC.Web.Studio.HttpHandlers.InvoiceHandler, ASC.Web.Studio" />
      <add verb="POST" path="ChunkedUploader.ashx" type="ASC.Web.Files.HttpHandlers.ChunkedUploaderHandler, ASC.Web.Files" />
      <add verb="GET" path="Download.ashx" type="ASC.Web.Mail.HttpHandlers.DownloadHandler, ASC.Web.Mail" />
      <add verb="GET" path="DownloadAll.ashx" type="ASC.Web.Mail.HttpHandlers.DownloadAllHandler, ASC.Web.Mail" />
      <add verb="GET" path="ViewDocument.ashx" type="ASC.Web.Mail.HttpHandlers.ViewDocumentHandler, ASC.Web.Mail" />
      <add verb="GET" path="EditDocument.ashx" type="ASC.Web.Mail.HttpHandlers.EditDocumentHandler, ASC.Web.Mail" />
    </httpHandlers>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebStudioCommonModule" />
      <remove name="MobileDetector" />
      <remove name="UploadProgress" />
      <remove name="HttpContextDispose" />
      <remove name="ApiSetup" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="WebStudioCommonModule" type="ASC.Web.Studio.Core.WebStudioCommonModule, ASC.Web.Studio" />
      <add name="MobileDetector" preCondition="managedHandler" type="ASC.Web.Core.Mobile.MobileDetector, ASC.Web.Core" />
      <add name="UploadProgress" preCondition="managedHandler" type="ASC.Web.Studio.Controls.FileUploader.HttpModule.UploadProgressModule, ASC.Web.Studio" />
      <add name="HttpContextDispose" type="ASC.Common.Web.DisposableHttpContextHttpModule, ASC.Common" />
      <add name="ApiSetup" preCondition="managedHandler" type="ASC.Api.ApiSetupHttpModule, ASC.Api" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <handlers>
      <remove name="Jwt" />
      <remove name="Saml" />
      <remove name="Reso" />
      <remove name="UpProgress" />
      <remove name="AjaxPro" />
      <remove name="Template" />
      <remove name="AjaxUp" />
      <remove name="FCKUp" />
      <remove name="UrlRoutingHandler" />
      <remove name="less" />
      <remove name="clientScript" />
      <remove name="KeepSessionAlive" />
      <remove name="Invoice" />
      <remove name="less" />
      <add name="Jwt" verb="POST,GET" path="jwtlogin.ashx" type="ASC.Web.Studio.HttpHandlers.JwtHandler, ASC.Web.Studio" />
      <add name="Saml" verb="POST,GET" path="samllogin.ashx" type="ASC.Web.Studio.HttpHandlers.SamlHandler, ASC.Web.Studio" />
      <add name="Reso" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="UpProgress" verb="POST,GET" path="UploadProgress.ashx" type="ASC.Web.Studio.Controls.FileUploader.HttpModule.UploadProgressHandler, ASC.Web.Studio" />
      <add name="AjaxPro" verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" />
      <add name="Template" verb="POST,GET" path="template.ashx" type="ASC.Web.Studio.HttpHandlers.TemplatingHandler, ASC.Web.Studio" />
      <add name="AjaxUp" verb="POST,GET" path="ajaxupload.ashx" type="ASC.Web.Studio.HttpHandlers.AjaxFileUploadHandler, ASC.Web.Studio" />
      <add name="FCKUp" verb="POST,GET" path="fckuploader.ashx" type="ASC.Web.Studio.HttpHandlers.FCKEditorFileUploadHandler, ASC.Web.Studio" />
      <add name="UserPhoto" verb="POST,GET" path="UserPhoto.ashx" type="ASC.Web.Studio.HttpHandlers.UserPhotoHandler, ASC.Web.Studio" />
      <add name="KeepSessionAlive" verb="POST,GET" path="KeepSessionAlive.ashx" type="ASC.Web.Studio.HttpHandlers.KeepSessionAliveHandler, ASC.Web.Studio" />
      <add name="Invoice" verb="GET,HEAD" path="tariffs/invoice.ashx" type="ASC.Web.Studio.HttpHandlers.InvoiceHandler, ASC.Web.Studio" />
      <add name="ChunkedUploader" verb="POST" path="ChunkedUploader.ashx" type="ASC.Web.Files.HttpHandlers.ChunkedUploaderHandler, ASC.Web.Files" />
      <add name="Download" verb="GET" path="Download.ashx" type="ASC.Web.Mail.HttpHandlers.DownloadHandler, ASC.Web.Mail" />
      <add name="DownloadAll" verb="GET" path="DownloadAll.ashx" type="ASC.Web.Mail.HttpHandlers.DownloadAllHandler, ASC.Web.Mail" />
      <add name="ViewDocument" verb="GET" path="ViewDocument.ashx" type="ASC.Web.Mail.HttpHandlers.ViewDocumentHandler, ASC.Web.Mail" />
      <add name="EditDocument" verb="GET" path="EditDocument.ashx" type="ASC.Web.Mail.HttpHandlers.EditDocumentHandler, ASC.Web.Mail" />
      <add name="less" verb="*" path="*.less" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
        <denyUrlSequences>
          <add sequence=".." />
        </denyUrlSequences>
        <hiddenSegments>
          <remove segment="App_Data" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <caching>
      <profiles>
        <add extension=".ashx" policy="DontCache" kernelCachePolicy="DontCache" duration="00:01:00" />
        <add extension=".axd" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="00:30:00" />
      </profiles>
    </caching>
    <urlCompression doDynamicCompression="true" />
    <staticContent>
      <mimeMap fileExtension=".tmpl" mimeType="text/plain" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <remove fileExtension="*" />
      <mimeMap fileExtension="*" mimeType="application/octet-stream" />
    </staticContent>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" maxDiskSpaceUsage="1500" minFileSizeForComp="256">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json; charset=UTF-8" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <httpErrors errorMode="Custom">
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" prefixLanguageFilePath="" path="403.htm" responseMode="File" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="404.htm" responseMode="File" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" prefixLanguageFilePath="" path="500.htm" responseMode="File" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="96" />
    </connectionManagement>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="ASC.Web.Studio.Services.Backup.Service">
        <endpoint contract="ASC.Web.Studio.Services.Backup.IBackupService" binding="webHttpBinding" behaviorConfiguration="backup" />
      </service>
      <service name="ASC.Web.Files.Services.WCFService.Service" behaviorConfiguration="files">
        <endpoint contract="ASC.Web.Files.Services.WCFService.IFileStorageService" binding="webHttpBinding" behaviorConfiguration="files" bindingConfiguration="files" />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:9865/teamlabJabber" binding="netTcpBinding" contract="ASC.Core.Notify.Jabber.IJabberService" bindingConfiguration="jabber" />
      <endpoint address="net.tcp://localhost:9866/teamlabSearcher" binding="netTcpBinding" contract="ASC.FullTextIndex.ITextIndexService" bindingConfiguration="index" />
      <endpoint address="net.tcp://localhost:9871/teamlabNotify" binding="netTcpBinding" contract="ASC.Notify.INotifyService" bindingConfiguration="notify" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="files">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="200" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="backup">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="files">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="jabber" maxReceivedMessageSize="1000000" maxBufferSize="1000000">
          <security mode="None">
            <message clientCredentialType="None" />
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="1000000" maxArrayLength="1000000" />
        </binding>
        <binding name="index" openTimeout="0:0:10" receiveTimeout="0:0:10" sendTimeout="0:0:10" maxReceivedMessageSize="1000000">
          <security mode="None" />
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
        <binding name="notify" openTimeout="0:0:10" receiveTimeout="0:0:10" sendTimeout="0:0:10">
          <security mode="None" />
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
        <binding name="backup" openTimeout="0:0:10" receiveTimeout="0:0:10" sendTimeout="0:0:10">
          <security mode="None" />
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding name="notify" exactlyOnce="false" openTimeout="0:0:10" receiveTimeout="0:0:10" sendTimeout="0:0:10">
          <readerQuotas maxStringContentLength="1000000" />
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <basicHttpBinding>
        <binding name="billing" maxReceivedMessageSize="1000000">
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <!-- 1Gb -->
        <binding name="files" maxReceivedMessageSize="1073741824" maxBufferSize="1073741824" transferMode="Buffered">
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <dotless minifyCss="false" cache="true" />
</configuration>