<?xml version="1.0" encoding="utf-8"?>
<autofac>
  <components>
    <container name="core">
      <component type="ASC.Common.Logging.LogNLog, ASC.Common" service="ASC.Common.Logging.ILog, ASC.Common" />
    </container>
    <container name="api">
      <component type="ASC.Specific.AscApiConfiguration, ASC.Specific" service="ASC.Api.Interfaces.IApiConfiguration, ASC.Api" instance-scope="single-instance">
        <parameters>
          <parameter name="prefix" value="api" />
          <parameter name="version" value="2.0" />
          <parameter name="maxPage" value="1000" />
        </parameters>
      </component>
      <component type="ASC.Specific.AscCookieAuthorization, ASC.Specific" service="ASC.Api.Interfaces.IApiAuthorization, ASC.Api" instance-scope="single-instance" name="asc_cookie" />
      <component type="ASC.Specific.AscBasicAuthorization, ASC.Specific" service="ASC.Api.Interfaces.IApiAuthorization, ASC.Api" instance-scope="single-instance" name="asc_basic" />
      <component type="ASC.Specific.AscBearerAuthorization, ASC.Specific" service="ASC.Api.Interfaces.IApiAuthorization, ASC.Api" instance-scope="single-instance" name="asc_bearer" />
      <component type="ASC.Specific.GlobalFilters.ProductSecurityFilter, ASC.Specific" service="ASC.Api.Attributes.ApiCallFilter, ASC.Api" instance-scope="single-instance" name="ProductSecurityFilter" />
      <component type="ASC.Api.Employee.EmployeeApi, ASC.Api.Employee" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="people" />
      <component type="ASC.Api.Employee.GroupsApi, ASC.Api.Employee" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="group" />
      <component type="ASC.Api.Community.CommunityApi, ASC.Api.Community" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="community" />
      <component type="ASC.Api.Projects.ProjectApi, ASC.Api.Projects" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="project" />
      <component type="ASC.Api.Projects.ProjectBootstrap, ASC.Api.Projects" service="ASC.Api.Interfaces.IApiBootstrapper, ASC.Api" instance-scope="single-instance" name="projectRegistration" />
      <component type="ASC.Api.CRM.CRMApi, ASC.Api.CRM" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="crm" />
      <component type="ASC.Api.CRM.CRMBootstrap, ASC.Api.CRM" service="ASC.Api.Interfaces.IApiBootstrapper, ASC.Api" instance-scope="single-instance" name="crm" />
      <component type="ASC.Api.Settings.SettingsApi, ASC.Api.Settings" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="settings" />
      <component type="ASC.Api.Documents.DocumentsApi, ASC.Api.Documents" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="files" />
      <component type="ASC.Api.Documents.PrivacyRoomApi, ASC.Api.Documents" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="privacyroom" />
      <component type="ASC.Web.Files.Services.WCFService.FileStorageServiceController, ASC.Web.Files" service="ASC.Web.Files.Services.WCFService.IFileStorageService, ASC.Web.Files" instance-scope="single-instance" />
      <component type="ASC.Api.Calendar.CalendarApi, ASC.Api.Calendar" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="calendar" />
      <component type="ASC.Specific.AuthorizationApi.AuthenticationEntryPoint, ASC.Specific" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="authentication" />
      <component type="ASC.Specific.WarmupApi.WarmUpEntryPoint, ASC.Specific" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="warmup" />
      <component type="ASC.Specific.CapabilitiesApi.CapabilitiesEntryPoint, ASC.Specific" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="capabilities" />
      <component type="ASC.Api.Feed.FeedApi, ASC.Api.Feed" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="feed" />
      <component type="ASC.Api.Security.SecurityApi, ASC.Api.Security" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="security" />
      <component type="ASC.Api.MailServer.MailServerApi, ASC.Api.MailServer" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="mailserver" />
      <component type="ASC.Api.Mail.MailApi, ASC.Api.Mail" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="mail" />
      <component type="ASC.Api.Portal.PortalApi, ASC.Api.Portal" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="portal" />
      <component type="ASC.Api.Sample.SampleApi, ASC.Api.Sample" service="ASC.Api.Interfaces.IApiEntryPoint, ASC.Api" name="sample" />
      <component type="ASC.Api.Impl.ApiManager, ASC.Api" service="ASC.Api.Interfaces.IApiManager, ASC.Api" instance-scope="single-instance" inject-properties="yes" />
      <component type="ASC.Api.Impl.ApiSmartListResponceFilter, ASC.Api" service="ASC.Api.Interfaces.IApiResponceFilter, ASC.Api" inject-properties="yes" name="smartfilter">
      </component>
      <component type="ASC.Api.Impl.ApiMethodCall, ASC.Api" service="ASC.Api.Interfaces.IApiMethodCall, ASC.Api" inject-properties="yes" />
      <component type="ASC.Api.Impl.ApiArgumentBuilder, ASC.Api" service="ASC.Api.Interfaces.IApiArgumentBuilder, ASC.Api" instance-scope="single-instance" inject-properties="yes" />
      <component type="ASC.Api.Impl.Serializers.JsonNetSerializer, ASC.Api" service="ASC.Api.Interfaces.IApiSerializer, ASC.Api" instance-scope="single-instance" inject-properties="yes" name="json.net.serializer" />
      <component type="ASC.Api.Impl.Responders.ContentResponder, ASC.Api" service="ASC.Api.Interfaces.IApiResponder, ASC.Api" instance-scope="single-instance" inject-properties="yes" name="content_responder" />
      <component type="ASC.Api.Impl.Responders.DirectResponder, ASC.Api" service="ASC.Api.Interfaces.IApiResponder, ASC.Api" instance-scope="single-instance" inject-properties="yes" name="direct_responder" />
      <component type="ASC.Api.Impl.Serializers.SerializerResponder, ASC.Api" service="ASC.Api.Interfaces.IApiResponder, ASC.Api" instance-scope="single-instance" inject-properties="yes" name="serialzer" />
      <component type="ASC.Api.Impl.Invokers.ApiSimpleMethodInvoker, ASC.Api" service="ASC.Api.Interfaces.IApiMethodInvoker, ASC.Api" instance-scope="single-instance" inject-properties="yes" />
      <component type="ASC.Api.Impl.ApiStoragePath, ASC.Api" service="ASC.Api.Interfaces.IApiStoragePath, ASC.Api" instance-scope="single-instance" inject-properties="yes" />
      <component type="ASC.Api.Impl.ApiKeyValueInMemoryStorage, ASC.Api" service="ASC.Api.Interfaces.Storage.IApiKeyValueStorage, ASC.Api" instance-scope="single-instance" inject-properties="yes" />
      <component type="ASC.Api.Impl.ApiRouteConfigurator, ASC.Api" service="ASC.Api.Interfaces.IApiRouteConfigurator, ASC.Api" instance-scope="single-instance" inject-properties="yes" />
      <component type="ASC.Api.Impl.Routing.ApiRouteRegistrator, ASC.Api" service="ASC.Api.Interfaces.IApiRouteRegistrator, ASC.Api" instance-scope="single-instance" inject-properties="yes" name="rest" />
      <component type="ASC.Api.Impl.Routing.ApiBatchRouteRegitrator, ASC.Api" service="ASC.Api.Interfaces.IApiRouteRegistrator, ASC.Api" instance-scope="single-instance" inject-properties="yes" name="batch" />
      <component type="ASC.Api.Impl.Routing.ApiAccessControlRouteRegistrator, ASC.Api" service="ASC.Api.Interfaces.IApiRouteRegistrator, ASC.Api" instance-scope="single-instance" inject-properties="yes" name="access" />
      <component type="ASC.Api.Impl.ApiHttpHandler, ASC.Api" service="ASC.Api.Interfaces.IApiHttpHandler, ASC.Api" inject-properties="yes" />
      <component type="ASC.Api.Impl.ApiRouteHandler, ASC.Api" service="ASC.Api.Interfaces.IApiRouteHandler, ASC.Api" inject-properties="yes" />
      <component type="ASC.Api.Batch.ApiBatchHttpHandler, ASC.Api" inject-properties="yes" />
      <component type="ASC.Api.Batch.ApiBatchRouteHandler, ASC.Api" inject-properties="yes" />
      <component type="ASC.Api.Impl.ApiContext, ASC.Api" instance-scope="per-lifetime-scope" />
      <component type="ASC.Api.Impl.ApiStandartResponce, ASC.Api" service="ASC.Api.Interfaces.IApiStandartResponce, ASC.Api" inject-properties="yes" />
    </container>
    <container name="files">
      <component type="ASC.Files.Thirdparty.ProviderDao.ProviderDaoFactory, ASC.Files.Thirdparty" service="ASC.Files.Core.IDaoFactory, ASC.Web.Files" instance-scope="single-instance" />
      <component type="ASC.Web.Files.Services.WCFService.FileStorageServiceController, ASC.Web.Files" service="ASC.Web.Files.Services.WCFService.IFileStorageService, ASC.Web.Files" instance-scope="single-instance" />
    </container>
    <container name="projects">
      <component type="ASC.Projects.Data.DAO.CachedProjectDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.IProjectDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.ParticipantDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.IParticipantDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.CachedMilestoneDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.IMilestoneDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.CachedTaskDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.ITaskDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.CachedSubtaskDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.ISubtaskDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.CachedMessageDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.IMessageDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.CommentDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.ICommentDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.TagDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.ITagDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.TemplateDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.ITemplateDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.TimeSpendDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.ITimeSpendDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.ReportDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.IReportDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.SearchDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.ISearchDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DAO.CachedStatusDao, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.IStatusDao, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Data.DaoFactory, ASC.Web.Projects" service="ASC.Projects.Core.DataInterfaces.IDaoFactory, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.ProjectSecurity, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.EngineFactory, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.FileEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.MilestoneEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.TaskEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.SubtaskEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.MessageEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.CommentEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.SearchEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.TimeTrackingEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.ParticipantEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.TagEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.ReportEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.TemplateEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.StatusEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.Projects.Engine.CachedProjectEngine, ASC.Web.Projects" service="ASC.Projects.Engine.ProjectEngine, ASC.Web.Projects" instance-scope="per-request" inject-properties="yes" />
    </container>
    <container name="crm">
      <component type="ASC.CRM.Core.Dao.TaskDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.ListItemDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CachedContactDao, ASC.Web.CRM" service="ASC.CRM.Core.Dao.ContactDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CustomFieldDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CachedDealDao, ASC.Web.CRM" service="ASC.CRM.Core.Dao.DealDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CachedDealMilestoneDao, ASC.Web.CRM" service="ASC.CRM.Core.Dao.DealMilestoneDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CachedListItem, ASC.Web.CRM" service="ASC.CRM.Core.Dao.ListItemDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.TagDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.SearchDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CachedRelationshipEventDao, ASC.Web.CRM" service="ASC.CRM.Core.Dao.RelationshipEventDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.FileDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CachedCasesDao, ASC.Web.CRM" service="ASC.CRM.Core.Dao.CasesDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.TaskTemplateContainerDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.TaskTemplateDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.ReportDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CurrencyRateDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CurrencyInfoDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.ContactInfoDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CachedInvoiceDao, ASC.Web.CRM" service="ASC.CRM.Core.Dao.InvoiceDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CachedInvoiceItemDao, ASC.Web.CRM" service="ASC.CRM.Core.Dao.InvoiceItemDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CachedInvoiceTaxDao, ASC.Web.CRM" service="ASC.CRM.Core.Dao.InvoiceTaxDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.CachedInvoiceLineDao, ASC.Web.CRM" service="ASC.CRM.Core.Dao.InvoiceLineDao, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.VoipService.Dao.CachedVoipDao, ASC.VoipService" service="ASC.VoipService.Dao.VoipDao, ASC.VoipService" instance-scope="per-request" inject-properties="yes" />
      <component type="ASC.CRM.Core.Dao.DaoFactory, ASC.Web.CRM" instance-scope="per-request" inject-properties="yes" />
    </container>
    <container name="search">
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Projects.Core.Search.ProjectsWrapper, ASC.Web.Projects" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Projects.Core.Search.TasksWrapper, ASC.Web.Projects" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Projects.Core.Search.MilestonesWrapper, ASC.Web.Projects" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Projects.Core.Search.SubtasksWrapper, ASC.Web.Projects" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Projects.Core.Search.DiscussionsWrapper, ASC.Web.Projects" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Projects.Core.Search.CommentsWrapper, ASC.Web.Projects" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Files.Core.Search.FilesWrapper, ASC.Web.Files" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Files.Core.Search.FoldersWrapper, ASC.Web.Files" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.CRM.Core.Search.CasesWrapper, ASC.Web.CRM" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.CRM.Core.Search.ContactsWrapper, ASC.Web.CRM" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.CRM.Core.Search.DealsWrapper, ASC.Web.CRM" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.CRM.Core.Search.EmailWrapper, ASC.Web.CRM" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.CRM.Core.Search.EventsWrapper, ASC.Web.CRM" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.CRM.Core.Search.FieldsWrapper, ASC.Web.CRM" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.CRM.Core.Search.InfoWrapper, ASC.Web.CRM" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.CRM.Core.Search.InvoicesWrapper, ASC.Web.CRM" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.CRM.Core.Search.TasksWrapper, ASC.Web.CRM" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Community.Search.BlogsWrapper, ASC.Web.Community" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Community.Search.BookmarksUserWrapper, ASC.Web.Community" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Community.Search.NewsWrapper, ASC.Web.Community" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Community.Search.PostWrapper, ASC.Web.Community" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Community.Search.TopicWrapper, ASC.Web.Community" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Web.Community.Search.WikiWrapper, ASC.Web.Community" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Mail.Data.Search.MailWrapper, ASC.Mail" instance-scope="single-instance">
      </component>
      <component service="ASC.ElasticSearch.Wrapper, ASC.ElasticSearch" type="ASC.Mail.Data.Search.MailContactWrapper, ASC.Mail" instance-scope="single-instance">
      </component>
    </container>
    <container name="ldap">
      <component type="ASC.Web.Studio.Core.Notify.StudioNotifySource, ASC.Web.Studio" service="ASC.Notify.Model.INotifySource, ASC.Common" instance-scope="single-instance" />
    </container>
  </components>
</autofac>