<?xml version="1.0"?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="ASC.Core.Common"/>

  <container name="Core">
    <!-- ConnectionString for db services -->
    <instance name="connectionStringName" value="core"
              type="System.Configuration.ConnectionStringSettings, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              typeConverter="ASC.Core.Configuration.ConnectionStringNameTypeConverter, ASC.Core.Common"/>

    <!-- CoreContext initialization -->
    <register type="ASC.Core.IConfigurationClient" mapTo="ASC.Core.ClientConfiguration">
      <constructor>
        <param name="service" dependencyName="CachedTenantService"/>
      </constructor>
    </register>

    <register type="ASC.Core.ITenantManagerClient" mapTo="ASC.Core.ClientTenantManager">
      <constructor>
        <param name="tenantService" dependencyName="CachedTenantService"/>
        <param name="quotaService" dependencyName="CachedQuotaService"/>
        <param name="tariffService" dependencyName="TariffService"/>
      </constructor>
    </register>

    <register type="ASC.Core.IUserManagerClient" mapTo="ASC.Core.ClientUserManager">
      <constructor>
        <param name="service" dependencyName="CachedUserService"/>
      </constructor>
    </register>

    <register type="ASC.Core.IGroupManagerClient" mapTo="ASC.Core.ClientUserManager">
      <constructor>
        <param name="service" dependencyName="CachedUserService"/>
      </constructor>
    </register>

    <register type="ASC.Core.IAuthManagerClient" mapTo="ASC.Core.ClientAuthManager">
      <constructor>
        <param name="service" dependencyName="CachedUserService"/>
      </constructor>
    </register>

    <register type="ASC.Core.IAzManagerClient" mapTo="ASC.Core.ClientAzManager">
      <constructor>
        <param name="service" dependencyName="CachedAzService"/>
      </constructor>
    </register>

    <register type="ASC.Core.ISubscriptionManagerClient" mapTo="ASC.Core.ClientSubscriptionManager">
      <constructor>
        <param name="service" dependencyName="CachedSubscriptionService"/>
      </constructor>
    </register>

    <register type="ASC.Core.Configuration.INotify" mapTo="ASC.Core.Notify.NotifyImpl"/>


    <!-- Db Services -->
    <register type="ASC.Core.ITenantService" mapTo="ASC.Core.Data.DbTenantService" name="DbTenantService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
      </constructor>
    </register>

    <register type="ASC.Core.IUserService" mapTo="ASC.Core.Data.DbUserService" name="DbUserService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
      </constructor>
    </register>

    <register type="ASC.Core.IAzService" mapTo="ASC.Core.Data.DbAzService" name="DbAzService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
      </constructor>
    </register>

    <register type="ASC.Core.IQuotaService" mapTo="ASC.Core.Data.DbQuotaService" name="DbQuotaService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
      </constructor>
    </register>

    <register type="ASC.Core.ISubscriptionService" mapTo="ASC.Core.Data.DbSubscriptionService" name="DbSubscriptionService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
      </constructor>
    </register>

    <!-- Caching services -->
    <register type="ASC.Core.ITenantService" mapTo="ASC.Core.Caching.CachedTenantService" name="CachedTenantService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="service" dependencyName="DbTenantService"/>
      </constructor>
      <property name="DbExpiration" value="00:01:00"/>
    </register>

    <register type="ASC.Core.IUserService" mapTo="ASC.Core.Caching.CachedUserService" name="CachedUserService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="service" dependencyName="DbUserService"/>
      </constructor>
    </register>

    <register type="ASC.Core.IAzService" mapTo="ASC.Core.Caching.CachedAzService" name="CachedAzService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="service" dependencyName="DbAzService"/>
      </constructor>
      <property name="CacheExpiration" value="00:01:00"/>
    </register>

    <register type="ASC.Core.IQuotaService" mapTo="ASC.Core.Caching.CachedQuotaService" name="CachedQuotaService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="service" dependencyName="DbQuotaService"/>
      </constructor>
    </register>

    <register type="ASC.Core.ISubscriptionService" mapTo="ASC.Core.Caching.CachedSubscriptionService" name="CachedSubscriptionService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="service" dependencyName="DbSubscriptionService"/>
      </constructor>
      <property name="CacheExpiration" value="00:01:00"/>
    </register>

    <register type="ASC.Core.Billing.ITariffService" mapTo="ASC.Core.Billing.TariffService" name="TariffService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
        <param name="quotaService" dependencyName="CachedQuotaService"/>
      </constructor>
    </register>
  </container>

  <container name="messaging">
    <register type="ASC.MessagingSystem.IMessageSender" mapTo="ASC.MessagingSystem.DbSender.DbMessageSender">
      <lifetime type="perresolve" />
    </register>
  </container>
</unity>