<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="core"
      connectionString="Server=teamlab-phoenix.c0jydjbgjsf5.us-west-2.rds.amazonaws.com;Database=teamlab_v2_0;UserID=tm-core;Pwd=e11K5boc16;pooling=True;Character Set=utf8"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>