<?xml version="1.0"?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="ASC.Api" />
  <!--specific to ASC config-->
  <assembly name="ASC.Specific" />
  <assembly name="ASC.Api.Employee" />
  <assembly name="ASC.Api.Community" />
  <assembly name="ASC.Api.Projects" />
  <assembly name="ASC.Api.Settings" />
  <assembly name="ASC.Api.Documents" />
  <assembly name="ASC.Api.CRM" />
  <assembly name="ASC.Files.Core" />
  <assembly name="ASC.Web.Files" />
  <assembly name="ASC.Api.Calendar" />
  <assembly name="Api.Host" />
  <assembly name="ASC.Core.Common"/>
  <assembly name="ASC.Feed" />
  <assembly name="ASC.Api.Feed" />
  <assembly name="ASC.Api.Mail" />

  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="perresolve" type="Microsoft.Practices.Unity.PerResolveLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="appcontrolled" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="new" type="ASC.Api.Utils.NewInstanceLifetimeManager, ASC.Api" />

  <container name="api">
    <!--api virtual path information-->
    <register type="ASC.Api.Interfaces.IApiConfiguration" mapTo="ASC.Specific.AscApiConfiguration">
      <lifetime type="singleton" />
      <constructor>
        <param name="version" value="2.0" type="System.String"></param>
      </constructor>
    </register>

    <!--caching of results-->
    <register type="ASC.Api.Interfaces.Cache.IApiCacheMethodKeyBuilder" mapTo="ASC.Specific.TenantCacheKeyBuilder">
      <lifetime type="singleton" />
    </register>

    <!--logging-->
    <register type="ASC.Api.Logging.ILog" mapTo="ASC.Specific.Log4NetLog">
      <lifetime type="singleton" />
    </register>

    <!--api registration-->
    <!--!!! YOU MUST SPECIFY name FOR register entry point in order to work !!!-->
    <!--NOTE: as of 7.10.11 the name is the path part of API i.e. "people" will route /api/2.0/peolpe/... changing name will change route-->
    <!--APIS-->
    <!--auth tokens api-->
    <register type="ASC.Api.Interfaces.IApiEntryPoint" mapTo="ASC.Specific.AuthorizationApi.AuthenticationEntryPoint" name="authentication">
      <lifetime type="perresolve"/>
    </register>
    <register type="ASC.Api.Interfaces.IApiEntryPoint" mapTo="ASC.Api.Employee.EmployeeApi" name="people">
      <lifetime type="perresolve" />
    </register>
    <register type="ASC.Api.Interfaces.IApiEntryPoint" mapTo="ASC.Api.Employee.GroupsApi" name="group">
      <lifetime type="perresolve" />
    </register>
    <register type="ASC.Api.Interfaces.IApiEntryPoint" mapTo="ASC.Api.Settings.SettingsApi" name="settings">
      <lifetime type="perresolve" />
    </register>
    <register type="ASC.Api.Interfaces.IApiEntryPoint" mapTo="ASC.Api.Documents.DocumentsApi" name="files">
      <lifetime type="perresolve" />
    </register>
    <register type="ASC.Api.Interfaces.IApiEntryPoint" mapTo="ASC.Api.Projects.ProjectApi" name="project">
      <lifetime type="perresolve" />
    </register>

    <register type="ASC.Api.Interfaces.IApiEntryPoint" mapTo="ASC.Api.CRM.CRMApi" name="crm">
      <lifetime type="perresolve" />
    </register>
    <register type="ASC.Api.Interfaces.IApiEntryPoint" mapTo="ASC.Api.Community.CommunityApi" name="community">
      <lifetime type="perresolve" />
    </register>
    <register type="ASC.Api.Interfaces.IApiEntryPoint" mapTo="ASC.Api.Calendar.CalendarApi" name="calendar">
      <lifetime type="perresolve" />
    </register>
    <!--register IFileStorageService-->
    <register type="ASC.Web.Files.Services.WCFService.IFileStorageService" mapTo="ASC.Web.Files.Services.WCFService.Service">
      <lifetime type="singleton"/>
    </register>
    <register type="ASC.Api.Interfaces.IApiEntryPoint" mapTo="ASC.Api.Mail.MailApi" name="mail">
      <lifetime type="perresolve"/>
    </register>
  </container>
</unity>