<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="storage" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="core"            connectionString="Server=teamlab;Database=Test;User ID=dev;Password=dev;Pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <storage>
    <appender>
      <!--<add name="generic" append="http://studiostatic.s3.amazonaws.com/" />-->
      <add name="generic" append="~/" appendssl="~/"/>
    </appender>
    <handler>
      <add name="disc" type="ASC.Data.Storage.DiscStorage.DiscDataStore, ASC.Data.Storage" />
      <add name="s3" type="ASC.Data.Storage.S3.S3Storage, ASC.Data.Storage">
        <property name="acesskey" value=""/>
        <property name="secretaccesskey" value=""/>
        <property name="bucket" value="tm-test-bucket"/>
        <property name="cname" value="http://data.teamlab.info"/>
      </add>
    </handler>

    <module>
      <add name="forum" data="853B6EB9-73EE-438d-9B09-8FFEEDF36234" type="disc" path="products/community/modules/forum/data/attachments/{0}" virtualpath="~/products/community/modules/forum/data/attachments/{0}">
        <domain>
          <add name="forum" data="853B6EB9-73EE-438d-9B09-8FFEEDF36234" path="products/community/modules/forum/data/attachments/{0}" virtualpath="~/products/community/modules/forum/data/attachments/{0}"/>
        </domain>
      </add>

      <add name="photo" data="9D51954F-DB9B-4aed-94E3-ED70B914E101" type="disc" expires="0:10:00" path="products/community/modules/photomanager/data/{0}" virtualpath="~/products/community/modules/photoManager/data/{0}"/>
      <add name="bookmarking" data="28B10049-DD20-4f54-B986-873BC14CCFC7" type="disc" path="products/community/modules/bookmarking/data/images/" virtualpath="~/products/community/modules/bookmarking/data/images/"></add>
      <add name="wiki" data="742CF945-CBBC-4a57-82D6-1600A12CF8CA" type="disc" path="products/community/modules/wiki/data/files/" virtualpath="~/products/community/modules/wiki/data/files/">
        <domain>
          <add name="temp" data="00000000-0000-0000-0000-000000000000" path="products/community/modules/wiki/data/filestemp/" virtualpath="~/products/community/modules/wiki/data/filestemp/"/>
        </domain>
      </add>

      <add name="file_storage__temp" data="00000000-0000-0000-0000-000000000000" type="disc" path="products\projects\data\{0}\temp" virtualpath="~/products\projects\data\{0}\temp"/>
      <add name="file_storage_default" data="1E044602-43B5-4d79-82F3-FD6208A11960" type="disc" path="products\projects\data\" virtualpath="~/products\projects\data\"/>

      <add name="crm" data="6743007C-6F95-4d20-8C88-A8601CE5E76D" type="disc" path="products\crm\data\" virtualpath="~/products\crm\data\">
        <domain>
          <add name="temp" visible="false" data="00000000-0000-0000-0000-000000000000" path="products\crm\data\{0}\temp" virtualpath="~/products/crm/data/{0}/temp" />
        </domain>
      </add>

      <add name="userPhotos" data="00000000-0000-0000-0000-000000000000" type="disc" path="data\{0}\userphotos" virtualpath="~/data/{0}/userphotos">
        <domain>
          <add name="temp" data="00000000-0000-0000-0000-000000000000"  path="data\{0}\userphotos\temp" virtualpath="~/data/{0}/userphotos/temp"/>
        </domain>
      </add>
      <add name="logo" data="00000000-0000-0000-0000-000000000000" type="disc" path="data\{0}\logo" virtualpath="~/data/{0}/logo"/>
      <add name="tempFiles" data="00000000-0000-0000-0000-000000000000" type="disc" path="data\{0}\temp" virtualpath="~/data/{0}/temp"/>
      <add name="fckuploaders" data="00000000-0000-0000-0000-000000000000" type="disc" path="data\shared\htmleditorfiles\" virtualpath="~/Data/Shared/htmleditorfiles/">
        <domain>
          <add name="forum" data="853B6EB9-73EE-438d-9B09-8FFEEDF36234" path="products\community\modules\forum\data\htmleditorfiles\{0}" virtualpath="~/products/community/modules/forum/data/htmleditorfiles/{0}"/>
          <add name="photomanager_comments" data="9D51954F-DB9B-4aed-94E3-ED70B914E101" path="products\community\modules\photomanager\data\fckcomments\{0}" virtualpath="~/products/community/modules/photomanager/data/fckcomments/{0}"/>
          <add name="news" data="3CFD481B-46F2-4a4a-B55C-B8C0C9DEF02C" path="products\community\modules\news\data\htmleditorfiles\{0}" virtualpath="~/products/community/modules/news/data/htmleditorfiles/{0}"/>
          <add name="news_comments" data="3CFD481B-46F2-4a4a-B55C-B8C0C9DEF02C" path="products\community\modules\news\data\fckcomments\{0}" virtualpath="~/products/community/modules/news/data/fckcomments/{0}"/>
          <add name="blogs" data="6A598C74-91AE-437d-A5F4-AD339BD11BB2" path="products\community\modules\blogs\data\htmleditorfiles\{0}" virtualpath="~/products/community/modules/blogs/data/htmleditorfiles/{0}"/>
          <add name="blogs_comments" data="6A598C74-91AE-437d-A5F4-AD339BD11BB2" path="products\community\modules\blogs\data\fckcomments\{0}" virtualpath="~/products/community/modules/blogs/data/fckcomments/{0}"/>
          <add name="bookmarking_comments" data="28B10049-DD20-4f54-B986-873BC14CCFC7" path="products\community\modules\bookmarking\data\fckcomments\{0}" virtualpath="~/products/community/modules/bookmarking/data/fckcomments/{0}"/>
          <add name="wiki_comments" data="742CF945-CBBC-4a57-82D6-1600A12CF8CA" path="products\community\modules\wiki\data\fckcomments\{0}" virtualpath="~/products/community/modules/wiki/data/fckcomments/{0}"/>
          <add name="projects" data="1E044602-43B5-4d79-82F3-FD6208A11960" path="products\projects\data\htmleditorfiles\{0}" virtualpath="~/products/projects/data/htmleditorfiles/{0}"/>
          <add name="projects_comments" data="1E044602-43B5-4d79-82F3-FD6208A11960" path="products\projects\data\fckcomments\{0}" virtualpath="~/products/projects/data/fckcomments/{0}"/>
        </domain>
      </add>
      <add name="talk" data="00000000-0000-0000-0000-000000000000" type="disc" path="talk\upload\{0}" virtualpath="~/talk/upload/{0}"/>
    </module>
  </storage>
</configuration>