<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="consumers" type="ASC.Thrdparty.Configuration.ConsumerConfigurationSection, ASC.Core.Common" />
    <section name="storage" restartOnExternalChanges="true" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="autofac" type="ASC.Common.DependencyInjection.AutofacConfigurationSection, ASC.Common" />
  </configSections>
  <log4net configSource="mail.agg.log4net.config" />
  <nlog configSource="mail.agg.nlog.config" />
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="default" connectionString="Server=localhost;Database=onlyoffice;User ID=root;Password=;Pooling=True;Character Set=utf8;AutoEnlist=false;SSL Mode=none;Connection Timeout=30;Maximum Pool Size=300;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="core.machinekey" value="Vskoproizvolny Salt par Chivreski" />
    <add key="core.base-domain" value="localhost" />
    <add key="api.virtual-dir" value="" />
    <add key="api.host" value="" />
    <add key="api.port" value="" />
    <add key="api.url" value="~/api/2.0/" />
    <add key="core.host" value="localhost" />
    <add key="core.port" value="80" />
    <add key="mail.certificate-permit" value="true" />
    <add key="mail.aggregate-mode" value="all" />
    <add key="mail.max-tasks-count" value="10" />
    <add key="mail.max-messages-per-mailbox" value="10" />
    <add key="mail.collect-statistics" value="false" />
    <add key="web.hub.internal" value="http://localhost:9899/" />
    <add key="web.enable-signalr" value="true" />
    <add key="mail.use-damp" value="false" />
  </appSettings>
  <consumers configSource="web.consumers.config" />
  <autofac configSource="web.autofac.config" />
  <storage file="..\..\WebStudio\web.storage.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>