<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <addProperty id="WINDOWS">
    <key>WINDOWS:LogDirectory</key>
    <value>..\..\..\..\..\..\web\studio\Logs\</value>
  </addProperty>
  <addProperty id="UNIX">
    <key>UNIX:LogDirectory</key>
    <value>/var/log/onlyoffice/</value>
  </addProperty>
  <addProperty>
    <key>CleanPeriod</key>
    <value>5</value>
  </addProperty>

  <logger name="ASC.SQL" additivity="false">
    <appender-ref ref="Sql"/>
    <level value="ALL"/>
  </logger>
  <appender name="ErrorAppender" type="ASC.Common.Logging.SelfCleaningAppender, ASC.Common">
    <file type="log4net.Util.PatternString" >
      <converter>
        <name value="folder" />
        <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
      </converter>
      <conversionPattern value="%folder{LogDirectory}mail.dog.errors.log" />
    </file>
    <encoding value="utf-8"/>
    <staticLogFileName value="true" />
    <preserveLogFileNameExtension value="true"/>
    <rollingStyle value="Composite"/>
    <datePattern value=".MM-dd"/>
    <maximumFileSize value="50MB"/>
    <maxSizeRollBackups value="-1"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %-20.20logger: %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <appender name="FileAppender" type="ASC.Common.Logging.SelfCleaningAppender, ASC.Common">
    <file type="log4net.Util.PatternString" >
      <converter>
        <name value="folder" />
        <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
      </converter>
      <conversionPattern value="%folder{LogDirectory}mail.dog.log" />
    </file>
    <encoding value="utf-8"/>
    <staticLogFileName value="true" />
    <preserveLogFileNameExtension value="true"/>
    <rollingStyle value="Composite"/>
    <datePattern value=".MM-dd"/>
    <maximumFileSize value="50MB"/>
    <maxSizeRollBackups value="-1"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %-20.20logger: %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <appender name="Sql" type="ASC.Common.Logging.SelfCleaningAppender, ASC.Common">
    <file type="log4net.Util.PatternString" >
      <converter>
        <name value="folder" />
        <type value="ASC.Common.Logging.SpecialFolderPathConverter, ASC.Common" />
      </converter>
      <conversionPattern value="%folder{LogDirectory}mail.dog.sql.log" />
    </file>
    <encoding value="utf-8"/>
    <staticLogFileName value="true" />
    <preserveLogFileNameExtension value="true"/>
    <rollingStyle value="Composite"/>
    <datePattern value=".MM-dd"/>
    <maximumFileSize value="50MB"/>
    <maxSizeRollBackups value="-1"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate|%thread|%property{duration}|%message|%property{sql}|%property{sqlParams}%newline"/>
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Green" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %-20.20logger: %message%newline"/>
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="ErrorAppender" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="FileAppender" />
  </root>
</log4net>