<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="core" connectionString="Server=teamlab;Database=test;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="core74" connectionString="Server=teamlab;Database=test2;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="site" connectionString="Server=teamlab;Database=teamlab_site;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="core.base-domain" value=""/>
    <add key="core.payment-partners" value="http://localhost:54832/api/"/>
  </appSettings>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>

    <client>
      <endpoint address="net.tcp://localhost:9865/teamlabJabber" binding="netTcpBinding" contract="ASC.Core.Notify.Jabber.IJabberService"/>
      <endpoint address="net.tcp://localhost:9866/teamlabSearcher" binding="netTcpBinding" contract="ASC.FullTextIndex.ITextIndexService"/>
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="billing" maxReceivedMessageSize="10000000">
          <readerQuotas maxStringContentLength="10000000"/>
        </binding>
        <binding name="tariff" maxReceivedMessageSize="10000000">
          <readerQuotas maxStringContentLength="10000000"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="billing" maxReceivedMessageSize="10000000">
          <readerQuotas maxStringContentLength="10000000"/>
          <security mode="Transport"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

  <log4net>
    <root>
      <appender-ref ref="TraceAppender"/>
      <level value="ALL"/>
    </root>
    
    <logger name="AdminLog">
      <appender-ref ref="AdminLogAppender"/>
      <level value="ALL"/>
    </logger>

    <appender name="AdminLogAppender" type="ASC.Core.Common.Logging.AdoNetAppender2, ASC.Core.Common">
      <bufferSize value="1"/>
      <connectionStringName value="core"/>
      <reconnectOnError value="true"/>
      <commandText value="insert into core_logging (user_id, tenant_id, user_email, caller_ip, action, timestamp) values (@user, @tenant, @email, @ip, @action, @timestamp)"/>
      <parameter>
        <parameterName value="user"/>
        <layout type="ASC.Core.Common.Logging.AdminLogLayout, ASC.Core.Common">
          <property value="user"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="tenant"/>
        <layout type="ASC.Core.Common.Logging.AdminLogLayout, ASC.Core.Common">
          <property value="tenant"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="email"/>
        <layout type="ASC.Core.Common.Logging.AdminLogLayout, ASC.Core.Common">
          <property value="email"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="ip"/>
        <layout type="ASC.Core.Common.Logging.AdminLogLayout, ASC.Core.Common">
          <property value="ip"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="action"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="timestamp"/>
        <layout type="log4net.Layout.RawUtcTimeStampLayout"/>
      </parameter>
    </appender>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
