/*
 *
 * (c) Copyright Ascensio System Limited 2010-2018
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


/*******************************************************************************
    Image Viewer
*******************************************************************************/
.scroll-fix {
    overflow: hidden !important;
}
#fileViewerDialog {
    display: none;
}
#imageViewer {
    cursor: move;
}
#imageViewerToolbox {
    left: 0;
    min-width: 1024px;
    position: absolute;
    width: 100%;
    z-index: 2001;
}
#imageViewerToolbox div.image-info {
    border-bottom: 1px solid #1A1A1A;
    color: #D7D8D8;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    white-space: nowrap;
}
#imageViewerToolbox div.toolbox-wrapper ul {
    padding: 0;
    width: 365px;
    margin: 0 auto;
    display: block;
}
#imageViewerToolbox div.toolbox-wrapper ul li {
    float: left;
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 13px;
}
#imageViewerToolbox div.toolbox-wrapper ul li.action-block-wrapper {
    margin-right: 25px;
}

#imageViewerToolbox div.toolbox-wrapper ul li a {
    background-image: url("images/iv_buttons.png");
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    height: 24px;
    width: 24px;
}
#imageZoomIn {
    background-position: 0 -162px;
}
#imageZoomIn:hover {
    background-position: -27px -162px;
}
#imageZoomOut {
    background-position: 0 -189px;
}
#imageZoomOut:hover {
    background-position: -27px -189px;
}
#imageFullScale {
    background-position: 0 -27px;
}
#imageFullScale:hover {
    background-position: -27px -27px;
}
#imagePrev {
    background-position: 0 -81px;
}
#imagePrev:hover {
    background-position: -27px -81px;
}
#imageNext {
    background-position: 0 -54px;
}
#imageNext:hover {
    background-position: -27px -54px;
}
#imageRotateLeft {
    background-position: 0 -108px;
}
#imageRotateLeft:hover {
    background-position: -27px -108px;
}
#imageRotateRight {
    background-position: 0 -135px;
}
#imageRotateRight:hover {
    background-position: -27px -135px;
}
#viewerOtherActionsSwitch {
    background-position: 0 0;
}
#viewerOtherActionsSwitch:hover {
    background-position: -27px 0;
}

#imageViewerToolbox div.toolbox-wrapper {
    background-color: #303030;
    height: 50px;
    border-top: 1px solid #4C4C4C;
}

#imageViewerInfo {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #303030;
    color: #FFFFFF;
    display: none;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    padding: 4px 10px;
}
#imageViewerContainer {
    cursor: move;
    position: absolute;
    z-index: 2000;
}
#imageViewerPreload {
    display: none;
}
#imageViewerClose {
    background: url("images/iv_close.png") no-repeat 0 0 transparent;
    height: 24px;
    position: absolute;
    top: 0;
    width: 24px;
}

#imageViewerClose,
#imageViewerInfo {
    z-index: 2011;
    cursor: pointer;
}

#viewerOtherActions {
    border: 1px solid #4C4C4C;
    display: none;
    position: absolute;
    z-index: 2002;
}
#viewerOtherActions,
#viewerOtherActions ul {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#viewerOtherActions ul {
    margin: 0;
    padding: 0;
    border: 1px solid #1A1A1A;
    background-color: #303030;
}
#viewerOtherActions ul li {
    list-style: none;
}
#viewerOtherActions ul span {
    color: #dfdfdf;
    cursor: pointer;
}
#viewerOtherActions ul li a {
    background-image: url("images/iv_buttons_other.png");
    background-repeat: no-repeat;
    background-color: transparent;
    color: #DFDFDF;
    cursor: pointer;
    display: block;
    line-height: 24px;
    margin: 10px;
    padding: 0 15px 0 30px;
    text-decoration: none;
}

#viewerOtherActions ul li a:hover {
    background-color: #424343;
}

#imageDelete {
    background-position: 0 0;
}
#imageDelete:hover {
    background-position: 0 -27px;
}
#imageDownload {
    background-position: 0 -54px;
}
#imageDownload:hover {
    background-position: 0 -81px;
}

.image-viewer-temp {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden
}
