<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="fullTextIndex" type="ASC.FullTextIndex.Service.Config.TextIndexCfgSectionHandler, ASC.FullTextIndex"/>
  </configSections>


  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <clear/>
    <add name="core" connectionString="Server=teamlab;Database=Test;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>


  <fullTextIndex connectionStringName="core" changedCron="0 * * ? * *" removedCron="0 0/2 * ? * *" userActivityDays="1" indexPath="">
    <modules>
      <add name="Blogs">
        <![CDATA[
        select id, concat_ws(' ', title, content, (select group_concat(t.name) from blogs_tags t where t.tenant = p.tenant and t.post_id = p.id)), 1 from blogs_posts p where LastModified >= @lastModified and Tenant = @tenant
        ]]>
      </add>
      <add name="News">
        <![CDATA[
        select id, concat_ws(' ', caption, text, (select group_concat(v.name) from events_pollvariant v where v.poll = f.id)), 1 from events_feed f where LastModified >= @lastModified and Tenant = @tenant
        ]]>
      </add>
      <add name="Bookmarks">
        <![CDATA[
        select BookmarkID, concat_ws(' ', (select k.URL from bookmarking_bookmark k where k.ID = b.BookmarkID), Name, Description, (select group_concat(t.Name) from bookmarking_userbookmarktag bt, bookmarking_tag t where bt.TagID = t.TagID and bt.UserBookmarkID = b.UserBookmarkID)) from bookmarking_userbookmark b where LastModified >= @lastModified and Tenant = @tenant
        ]]>
      </add>
      <add name="Wiki">
        <![CDATA[
        select pagename, concat_ws(' ', pagename, (select h.body from wiki_pages_history h where h.pagename = p.pagename and h.tenant = p.tenant and h.version = p.version)), 1 from wiki_pages p where p.modified_on >= @lastModified and p.tenant = @tenant
        ]]>
      </add>
      <add name="Forum">
        <![CDATA[
              select cast(id as char), concat_ws(' ', title, (select group_concat(q.name) from forum_question q where q.tenantid = t.tenantid and q.topic_id = t.id), (select group_concat(tag.name) from forum_tag tag, forum_topic_tag tt where tag.id = tt.tag_id and tt.topic_id = t.id)), 0 from forum_topic t where LastModified >= @lastModified and tenantid = @tenant
        union all select concat(cast(id as char), 'p/', cast(topic_id as char)), text, 1 from forum_post where LastModified >= @lastModified and tenantid = @tenant
        ]]>
      </add>
      <add name="Projects">
        <![CDATA[
              select cast(id as char), concat_ws(' ', title, description, (select group_concat(t.title) from projects_tags t, projects_project_tag s where t.id = s.tag_id and p.id = s.project_id)), 0 from projects_projects p where last_modified_on >= @lastModified and tenant_id = @tenant
        union all select concat(cast(id as char), 's/', cast(project_id as char)), title, 0 from projects_milestones where last_modified_on >= @lastModified and tenant_id = @tenant
        union all select concat(cast(id as char), 't/', cast(project_id as char)), concat_ws(' ', title, description), 0 from projects_tasks t where last_modified_on >= @lastModified and tenant_id = @tenant
        union all select concat(cast(id as char), 'm/', cast(project_id as char)), concat_ws(' ', title, content), 1 from projects_messages where last_modified_on >= @lastModified and tenant_id = @tenant
        ]]>
      </add>
      <add name="CRM.Contacts">
        <![CDATA[
        select  concat("contact_", cast(id as char)), concat_ws(' ', first_name, last_name, company_name, title, notes, industry) from crm_contact where tenant_id = @tenant and last_modifed_on >= @lastModified
        union all select  concat("contactInfo", cast(id as char),"_", cast(contact_id as char) ), data from crm_contact_info where tenant_id = @tenant and last_modifed_on >= @lastModified
        union all select concat("customField", cast(field_id as char),"_", cast(entity_id as char)), value from crm_field_value where tenant_id = @tenant and entity_type in (0,4,5) and last_modifed_on >= @lastModified
        union all select  concat("relationshipEvent", cast(id as char),"_", cast(contact_id as char) ), content from crm_relationship_event where tenant_id = @tenant and contact_id !=0 and last_modifed_on >= @lastModified
        ]]>
      </add>
      <add name="CRM.Deals">
        <![CDATA[
        select concat("deal_", cast(id as char)), concat_ws(' ', title, description) from crm_deal where last_modifed_on >= @lastModified and tenant_id = @tenant
        union all select concat("customField", cast(field_id as char),"_", cast(entity_id as char)), value from crm_field_value where tenant_id = @tenant and entity_type = 1 and last_modifed_on >= @lastModified 
        union all select  concat("relationshipEvent", cast(id as char),"_", cast(entity_id as char) ), content from crm_relationship_event where tenant_id = @tenant and entity_id !=0 and entity_type = 1 and last_modifed_on >= @lastModified 
        ]]>
      </add>
      <add name="CRM.Tasks">
        <![CDATA[
        select cast(id as char),  concat_ws(' ', title, description) from crm_task where last_modifed_on >= @lastModified and tenant_id = @tenant
        ]]>
      </add>
      <add name="CRM.Cases">
        <![CDATA[
        select concat("cases_", cast(id as char)), concat_ws(' ', title) from crm_case where last_modifed_on >= @lastModified and tenant_id = @tenant
        union all select concat("customField", cast(field_id as char) ,"_",  cast(entity_id as char)), value from crm_field_value where tenant_id = @tenant and entity_type = 7 and last_modifed_on >= @lastModified 
        union all select  concat("relationshipEvent", cast(id as char),"_", cast(entity_id as char) ), content from crm_relationship_event where tenant_id = @tenant and entity_id !=0 and entity_type = 7 and last_modifed_on >= @lastModified
        ]]>
      </add>
      <add name="Files">
        <![CDATA[
        select cast(f.id as char), replace(f.title, '.', ' ') from files_file f where f.tenant_id = @tenant and f.modified_on >= @lastModified and f.current_version = 1
        union all select concat('d', cast(id as char)), replace(title, '.', ' ') from files_folder where tenant_id = @tenant and modified_on >= @lastModified
        ]]>
      </add>
    </modules>
  </fullTextIndex>


  <system.serviceModel>
    <services>
      <service name="ASC.FullTextIndex.Service.TextSearcherService" behaviorConfiguration="default">
        <endpoint address="net.tcp://0:9866/teamlabSearcher" binding="netTcpBinding" contract="ASC.FullTextIndex.ITextIndexService" bindingConfiguration="index" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="index" openTimeout="0:0:10" receiveTimeout="0:0:10" sendTimeout="0:0:10">
          <security mode="None" />
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>


  <log4net>
    <root>
      <level value="DEBUG"/>
    </root>

    <logger name="ASC.FullTextIndex">
      <appender-ref ref="LogFile"/>
      <appender-ref ref="Console"/>
    </logger>

    <appender name="Console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date{HH:mm:ss.fff} %logger{1}: %message%newline"/>
      </layout>
    </appender>
    <appender name="LogFile" type="log4net.Appender.FileAppender, log4net">
      <file value="ASC.FullTextIndex.log"/>
      <appendToFile value="true"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date %thread %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>
