<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers>
      <clear />
      <add verb="POST" path="default.aspx" type="ASC.Web.Talk.HttpHandlers.HttpPollHandler, ASC.Web.Talk"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <clear />
      <add name="HttpPollHandler" verb="POST" path="default.aspx" type="ASC.Web.Talk.HttpHandlers.HttpPollHandler, ASC.Web.Talk"/>
    </handlers>
    <modules>
      <clear />
    </modules>
  </system.webServer>
</configuration>
