<script id="projects_templatesEditMilestoneTmpl" type="text/x-jquery-tmpl">
    <div class="milestone" id="m_${number}">
        <div class="mainInfo menuButtonContainer with-entity-menu">
            <span class="daysCount" value="${duration}"><span>${duration}</span></span>
            <div class="titleContainerEdit"><span class="title">${title}</span></div>
            <a class="addTask"> + ${ASC.Projects.Resources.ProjectTemplatesResource.Task}</a>
            <span class="entity-menu" title="${ASC.Projects.Resources.CommonResource.Actions}"></span>
        </div>
        {{if displayTasks}}
        <div class="milestoneTasksContainer" style="display: block;">
        {{else}}
        <div class="milestoneTasksContainer">
        {{/if}}
            <div class="listTasks" milestone="m_${number}">
                {{each(i, task) tasks}}
                    <div id="${number}_${i+1}" class="task menuButtonContainer with-entity-menu">
                         <div class="titleContainer"><span class="title">${task.title}</span></div>
                        <span class="entity-menu" title="${ASC.Projects.Resources.CommonResource.Actions}"></span>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</script>

<script id="projects_templatesEditTaskTmpl" type="text/x-jquery-tmpl">
    <div class="task menuButtonContainer with-entity-menu" id="t_${number}">
          <div class="titleContainer"><span class="title">${title}</span></div>
          <span class="entity-menu" title="${ASC.Projects.Resources.CommonResource.Actions}"></span>
    </div>
</script> 





<script id="projects_templatesCreateMilestoneTmpl" type="text/x-jquery-tmpl">
    <div class="milestone" id="m_${number}">
        <div class="mainInfo menuButtonContainer with-entity-menu">
            <span class="dueDate"><span>${date}</span></span>
            <div class="titleContainer"><span class="title">${title}</span></div>
            <a class="addTask"> + ${ASC.Projects.Resources.ProjectTemplatesResource.Task}</a>
            <span class="entity-menu" title="${ASC.Projects.Resources.CommonResource.Actions}"></span>
            {{if chooseRep}}
            <span class="chooseResponsible">
                <span class="link dotline" guid="${chooseRep.id}">${chooseRep.name}</span>
            </span>
            {{/if}}
        </div>
        {{if displayTasks}}
        <div class="milestoneTasksContainer" style="display: block;">
        {{else}}
        <div class="milestoneTasksContainer">
        {{/if}}
            <div class="listTasks" milestone="m_${number}">
                {{each(i, task) tasks}}
                    <div id="${number}_${i+1}" class="task menuButtonContainer with-entity-menu">
                        <div class="titleContainer"><span class="title">${task.title}</span></div>
                        <span class="entity-menu" title="${ASC.Projects.Resources.CommonResource.Actions}"></span>
                        {{if chooseRep}}
                        <span class="chooseResponsible nobody">
                            <span class="link dotline">${ASC.Projects.Resources.ProjectsJSResource.ChooseResponsible}</span>
                        </span>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
    </div>
</script>

<script id="projects_templatesCreateTaskTmpl" type="text/x-jquery-tmpl">
    <div class="task menuButtonContainer with-entity-menu" id="t_${number}">
          <div class="titleContainer"><span class="title">${title}</span></div>
          <span class="entity-menu" title="${ASC.Projects.Resources.CommonResource.Actions}"></span>
            {{if chooseRep}}
                    <span class="chooseResponsible">
                        <span class="link dotline" guid="${chooseRep.id}">${chooseRep.name}</span>
                    </span>
            {{else}}
                {{if selectResp}}
                    <span class="chooseResponsible nobody">
                        <span class="link dotline">${ASC.Projects.Resources.ProjectsJSResource.ChooseResponsible}</span>
                    </span>
                {{/if}}
            {{/if}}

    </div>
</script>





<script id="projects_templateTmpl" type="text/x-jquery-tmpl">
    <tr class="with-entity-menu template menuButtonContainer" id="${id}">
        <td class="stretch">
            <a href="ProjectTemplates.aspx?id=${id}&action=edit" class="title">${title}</a>
            <span class="description">(${milestones} ${ASC.Projects.Resources.ProjectTemplatesResource.Milestones}, ${tasks} ${ASC.Projects.Resources.ProjectTemplatesResource.Tasks})</span>
        </td>
        <td>
            <span class="entity-menu" title="${ASC.Projects.Resources.CommonResource.Actions}"></span>
        </td>
    </tr>
</script>

<script id="projects_tabsNavigator" type="text/x-jquery-tmpl">
    {{each tabs}}
    {{tmpl($item.data.tabs[$index], {showSplitter: $index !== $item.data.tabs.length - 1}) 'projects_tabsNavigatorItem'}}
    {{/each}}
</script>

<script id="projects_tabsNavigatorItem" type="text/x-jquery-tmpl">
    {{if $item.data.href}}
    <a class="tabsNavigationLink {{if $item.data.selected}}selectedTab{{/if}}" id="${$item.data.divID}_tab" href="${$item.data.href}">${$item.data.title}{{if $item.data.count}}<span class="count"> (${$item.data.count}){{/if}}</span></a>
    {{else}}
    <span class="tabsNavigationLink {{if $item.data.selected}}selectedTab{{/if}}" id="${$item.data.divID}_tab">${$item.data.title}{{if $item.data.count}}<span class="count"> (${$item.data.count}){{/if}}</span></span>
    {{/if}}
    {{if $item.showSplitter}}
    <span class="splitter"></span>
    {{/if}}
</script> 
