<script id="projects_timeTrackingTmpl" type="text/x-jquery-tmpl">
    <tr id="timeSpendRecord${id}" class="timeSpendRecord with-entity-menu with-checkbox" timeid="${id}">
        <td class="checkbox">
            <input type="checkbox"/>
        </td>
        <td class="pm-ts-statusColumn">
            <div class="check">
                {{tmpl({canEdit: $item.data.canEditPaymentStatus, status: ASC.Projects.StatusList.getById($item.data.paymentStatus)}) 'projects_statusChangeContainer'}}
            </div>
        </td>
        <td class="pm-ts-dateColumn">
                ${displayDateCreation}
        </td>
        <td class="pm-ts-noteColumn stretch">
                <a href="Tasks.aspx?prjID=${relatedProject}&id=${relatedTask}">${relatedTaskTitle}</a>
                <span>${note}</span>
        </td>
        <td class="pm-ts-hoursColumn">
                ${jq.timeFormat(hours).split(":")[0]}${ASC.Projects.Resources.TimeTrackingResource.ShortHours} ${jq.timeFormat(hours).split(":")[1]}${ASC.Projects.Resources.TimeTrackingResource.ShortMinutes}
        </td>
        <td class="pm-ts-personColumn">
            {{if person != null}}
                <span {{if person.id=='4a515a15-d4d6-4b8e-828e-e0586f18f3a3'}} class="not-action"{{/if}} title="${person.displayName}">${person.displayName}</span>                        
            {{else}}
                <span {{if createdBy.id=='4a515a15-d4d6-4b8e-828e-e0586f18f3a3'}} class="not-action"{{/if}} title="${createdBy.displayName}"> ${createdBy.displayName}</span>
            {{/if}}
        </td>

        <td class="pm-ts-actionsColumn">
        {{if canEdit == true}}
            <div class="entity-menu" title="${ASC.Projects.Resources.CommonResource.Actions}"></div>
        {{/if}}
        </td>
</tr>
</script>