<script id="dealsListFilterTmpl" type="text/x-jquery-tmpl">
    <div id="dealFilterContainer">
        <div id="dealsAdvansedFilter"></div>
    </div>
    <ul id="dealHeaderMenu" class="clearFix contentMenu contentMenuDisplayAll">
        <li class="menuAction menuActionSelectAll menuActionSelectLonely">
            <div class="menuActionSelect">
                <input type="checkbox" id="mainSelectAllDeals" title="${ASC.CRM.Resources.CRMCommonResource.SelectAll}" onclick="ASC.CRM.ListDealView.selectAll(this);" />
            </div>
        </li>
        <li class="menuAction menuActionAddTag" title="${ASC.CRM.Resources.CRMCommonResource.AddNewTag}">
            <span>${ASC.CRM.Resources.CRMCommonResource.AddNewTag}</span>
            <div class="down_arrow"></div>
        </li>
        <li class="menuAction menuActionPermissions" title="${ASC.CRM.Resources.CRMCommonResource.SetPermissions}">
            <span>${ASC.CRM.Resources.CRMCommonResource.SetPermissions}</span>
        </li>
        <li class="menuAction menuActionDelete" title="${ASC.CRM.Resources.CRMCommonResource.Delete}">
            <span>${ASC.CRM.Resources.CRMCommonResource.Delete}</span>
        </li>
        <li class="menu-action-simple-pagenav">
        </li>
        <li class="menu-action-checked-count">
            <span></span>
            <a class="linkDescribe baseLinkAction" style="margin-left:10px;" onclick="ASC.CRM.ListDealView.deselectAll();">
                ${ASC.CRM.Resources.CRMCommonResource.DeselectAll}
            </a>
        </li>
        <li class="menu-action-on-top">
            <a class="on-top-link" onclick="javascript:window.scrollTo(0, 0);">
                ${ASC.CRM.Resources.CRMCommonResource.OnTop}
            </a>
        </li>
    </ul>
    <div class="header-menu-spacer" style="display: none;">&nbsp;</div>
</script>

<script id="dealsListPagingTmpl" type="text/x-jquery-tmpl">
    <table id="tableForDealNavigation" class="crm-navigationPanel" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td>
                    <div id="divForDealPager">
                    </div>
                </td>
                <td style="text-align:right;">
                    <a style="margin-right: 25px;" class="baseLinkAction showTotalAmount"
                        onclick="ASC.CRM.ListDealView.showExchangeRatePopUp();" href="javascript:void(0)">
                            ${ASC.CRM.Resources.CRMDealResource.ShowTotalAmount}
                    </a>
                    <span class="gray-text">${ASC.CRM.Resources.CRMDealResource.TotalDeals}:&nbsp;</span>
                    <span class="gray-text" id="totalDealsOnPage"></span>
                    <span class="gray-text">${ASC.CRM.Resources.CRMCommonResource.ShowOnPage}:&nbsp;</span>
                    <select class="top-align">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="75">75</option>
                        <option value="100">100</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script id="dealsListBaseTmpl" type="text/x-jquery-tmpl">

    <div id="dealList" class="clearFix" style="display:none;"></div>

    <div id="files_hintStagesPanel" class="hintDescriptionPanel">
        ${ASC.CRM.Resources.CRMDealResource.TooltipStages}
        {{if ASC.Resources.Master.HelpLink}}<a href="${ASC.Resources.Master.HelpLink}/tipstricks/opportunity-stages.aspx" target="_blank">${ASC.CRM.Resources.CRMCommonResource.ButtonLearnMore}</a>{{/if}}
    </div>

    <div id="hiddenBlockForContactSelector" style="display:none;">
        <span id="contactSelectorForFilter" class="custom-value">
            <span class="inner-text">
                <span class="value">${ASC.CRM.Resources.CRMCommonResource.Select}</span>
            </span>
        </span>
    </div>

    <div id="addTagDealsDialog" class="studio-action-panel group-actions addTagDialog">
        <ul class="dropdown-content mobile-overflow"></ul>
        <div class="h_line">&nbsp;</div>
        <div style="padding: 0 12px;">
            <div style="margin-bottom: 5px;">${ASC.CRM.Resources.CRMCommonResource.CreateNewTag}:</div>
            <input type="text" maxlength="50" class="textEdit" />
            <a onclick="ASC.CRM.ListDealView.addNewTag();" class="button blue" id="addThisTag">
                ${ASC.CRM.Resources.CRMCommonResource.OK}
            </a>
        </div>
    </div>

    <div id="permissionsDealsPanelInnerHtml" class="display-none">
        {{if IsCRMAdmin !== true}}
        <div style="margin-top:10px">
            <b>${ASC.CRM.Resources.CRMDealResource.DealAccessRightsLimit}</b>
        </div>
        {{/if}}
    </div>

    <div id="dealActionMenu" class="studio-action-panel">
        <ul class="dropdown-content">
            <li><a class="showProfileLink dropdown-item with-icon user">${ASC.CRM.Resources.CRMDealResource.ShowDealProfile}</a></li>
            <li><a class="showProfileLinkNewTab dropdown-item with-icon new-tab">${ASC.CRM.Resources.CRMDealResource.ShowDealProfileNewTab}</a></li>
            <li class="dropdown-item-seporator"></li>
            <li><a class="setPermissionsLink dropdown-item with-icon permissions">${ASC.CRM.Resources.CRMCommonResource.SetPermissions}</a></li>
            {{if CanCreateProjects}}
            <li><a class="createProject dropdown-item with-icon project" target="_blank">${ASC.CRM.Resources.CRMCommonResource.CreateNewProject}</a></li>
            {{/if}}
            <li class="dropdown-item-seporator"></li>
            <li><a class="editDealLink dropdown-item with-icon edit">${ASC.CRM.Resources.CRMDealResource.EditThisDealButton}</a></li>
            <li><a class="deleteDealLink dropdown-item with-icon delete">${ASC.CRM.Resources.CRMDealResource.DeleteDeal}</a></li>
        </ul>
    </div>

</script>

<script id="dealExtendedListTmpl" type="text/x-jquery-tmpl">
    <table id="dealTable" class="table-list padding4" cellpadding="0" cellspacing="0">
        <colgroup>
            {{if contactID == 0}}
            <col style="width: 26px;"/>
            {{/if}}
            <col/>
            <col style="width: 150px;"/>
            {{if contactID == 0}}
            <col style="width: 180px;"/>
            {{/if}}
            <col style="width: 180px;"/>
            {{if contactID == 0}}
            <col style="width: 40px;"/>
            {{/if}}
        </colgroup>
        <tbody>
        </tbody>
    </table>

    {{if contactID != 0}}
    <div id="showMoreDealsButtons">
        <a class="crm-showMoreLink" style="display:none;">
            ${ASC.CRM.Resources.CRMJSResource.ShowMoreButtonText}
        </a>
        <a class="loading-link" style="display:none;">
            ${ASC.CRM.Resources.CRMJSResource.LoadingProcessing}
        </a>
    </div>
    <a style="float: right;margin-top: 20px;margin-right: 8px;" class="baseLinkAction showTotalAmount"
        onclick="ASC.CRM.ListDealView.showExchangeRatePopUp();" href="javascript:void(0)">
            ${ASC.CRM.Resources.CRMDealResource.ShowTotalAmount}
    </a>
    {{/if}}
</script>

<script id="dealListTmpl" type="text/x-jquery-tmpl">
    <tbody>
        {{tmpl(opportunities) "dealTmpl"}}
    </tbody>
</script>

<script id="dealTmpl" type="text/x-jquery-tmpl">
    <tr id="dealItem_${id}" {{if ASC.CRM.ListDealView.contactID == 0}}class="with-entity-menu"{{/if}}>
        {{if ASC.CRM.DealTabView.contactID == 0}}
        <td style="padding: 0 0 0 6px;">
            <input type="checkbox" id="checkDeal_${id}" style="margin-left:2px;"
                 onclick="ASC.CRM.ListDealView.selectItem(this);"
                 {{if isChecked == true}}checked="checked"{{/if}} />
            <div id="loaderImg_${id}" class="loader-middle baseList_loaderImg"></div>
        </td>
        {{/if}}

        <td class="dealTitle">
            <div>
                {{if isPrivate == true}}
                    <label class="crm-private-lock"></label>
                {{/if}}

                <a id="dealTitle_${id}" href="Deals.aspx?id=${id}"
                    class="${classForTitle}"
                    dscr_label="${ASC.CRM.Resources.CRMCommonResource.Description}" dscr_value="${description}"
                    resp_label="${ASC.CRM.Resources.CRMCommonResource.Responsible}" resp_value="${responsible.displayName}">
                    ${title}
                </a>

                <div style="height:4px;">&nbsp;</div>

                {{if isOverdue == true}}
                    <span class='red-text'>
                        ${ASC.CRM.Resources.CRMJSResource.ExpectedCloseDate}: ${expectedCloseDateString}
                    </span>
                {{else closedStatusString != ""}}
                    <span class='gray-text'>
                        ${closedStatusString}
                    </span>
                {{else expectedCloseDateString != ""}}
                    <span>
                        ${ASC.CRM.Resources.CRMJSResource.ExpectedCloseDate}: ${expectedCloseDateString}
                    </span>
                {{/if}}
            </div>
        </td>
        <td class="dealCategory">
            <div>
                ${stage.title}
            </div>
        </td>
        {{if ASC.CRM.DealTabView.contactID == 0}}
        <td class="dealContact">
            {{if contact != null}}
                <div>
                {{if contact.isCompany == true}}
                    <a href="Default.aspx?id=${contact.id}" data-id="${contact.id}"
                            id="deal_${id}_company_${contact.id}" class="linkMedium crm-companyInfoCardLink">
                        ${contact.displayName}
                    </a>
                {{else}}
                    <a href="Default.aspx?id=${contact.id}&type=people" data-id="${contact.id}"
                            id="deal_${id}_person_${contact.id}" class="linkMedium crm-peopleInfoCardLink">
                        ${contact.displayName}
                    </a>
                {{/if}}
                </div>
            {{/if}}
        </td>
        {{/if}}

        <td class="dealBidValue">
            <div>
            {{if typeof bidValue != "undefined" && bidValue != 0}}
                <span {{if closedStatusString != ""}} class="gray-text" {{/if}}>{{html bidNumberFormat}}</span><span class='describe-text'>&nbsp;${bidCurrency.abbreviation}</span>
                {{if typeof bidType != "undefined" && bidType != 0}}
                    <div style="height:4px;">&nbsp;</div>
                    <span class='text-medium-describe'>${ASC.CRM.ListDealView.expectedValue(bidType, perPeriodValue)}</span>
                {{/if}}
            {{/if}}
            </div>
        </td>

        {{if ASC.CRM.DealTabView.contactID == 0}}
        <td>
            <div id="dealMenu_${id}" class="entity-menu" title="${ASC.CRM.Resources.CRMCommonResource.Actions}"></div>
        </td>
        {{/if}}
    </tr>
</script>

<script id="bidFormat" type="text/x-jquery-tmpl">
    {{html number}}<span class='describe-text'>&nbsp;${abbreviation}</span><br/>
</script>


<script id="ratesTableTmpl" type="text/x-jquery-tmpl">
    <colgroup>
        <col style="width:30px;" />
        <col style="width:22px;" />
        <col />
        <col style="width:30px;" />
        <col style="width:22px;" />
        <col />
    </colgroup>
    <tbody>
    {{each currencyRates}}
        {{if $index%2 == 0}}
        <tr>
        {{/if}}
            <td>
                <i class="b-fg b-fg_${this.cultureName}">
                    <img src="${StudioManager.GetCRMImage('fg.png')}"
                        alt="${this.abbreviation}" title="${this.title}"/>
                </i>
            </td>
            <td class="header-base-small" title="${this.title}">
                ${this.abbreviation}
            </td>
            <td class="rateValue" id="${this.abbreviation}" style="{{if $index%2 == 1}}padding-right:20px;{{else}}padding-right:35px;{{/if}}">
                ${this.rate}
            </td>
        {{if $index%2 == 1}}
        </tr>
        {{/if}}
    {{/each}}
    </tbody>
</script>

<script id="exchangeRateViewTmpl" type="text/x-jquery-tmpl">
    <div id="ExchangeRateTabs"></div>

    <div id="totalAmountTab">
        <div id="totalAmountContent">
            <table cellpadding="0" cellspacing="0" id="totalOnPage">
                <tr>
                    <td class="header-base-medium" style="width: 100%;">${ASC.CRM.Resources.CRMDealResource.TotalOnPage}:</td>
                    <td style="white-space: nowrap;padding-left: 22px">
                        <div class="diferrentBids">
                        </div>
                        <div class="totalBidAndExchangeRateLink" style="display:none;">
                            <div class="h_line" style="margin-top: 5px; margin-bottom: 5px;">&nbsp;</div>
                            <div class="totalBid">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="converterTab">
        <div id="convertRateContent">
            <dl>
                <dt class="header-base-small">${ASC.CRM.Resources.CRMCommonResource.EnterAmount}:</dt>
                <dd>
                    <input class="textEdit" type="text" id="amount"/>
                </dd>

                <dt class="header-base-small">${ASC.CRM.Resources.CRMCommonResource.From}:</dt>
                <dd>
                    <select id="fromCurrency" onchange="ASC.CRM.ExchangeRateView.changeCurrency();" class="comboBox">
                    </select>
                </dd>

                <dt class="header-base-small">${ASC.CRM.Resources.CRMCommonResource.To}:</dt>
                <dd>
                    <select id="toCurrency" onchange="ASC.CRM.ExchangeRateView.changeCurrency();" class="comboBox">
                    </select>
                    <div class="h_line">&nbsp;</div>
                </dd>
            </dl>

            <table cellpadding="2" cellspacing="0" border="0">
                <tr>
                    <td class="header-base-small" style="text-align: right;" id="introducedFromCurrency"></td>
                    <td class="header-base-medium" id="introducedAmount"></td>
                </tr>
                <tr>
                    <td class="header-base-small" style="text-align: right;">${ASC.CRM.Resources.CRMCommonResource.ConversionRate}:</td>
                    <td class="header-base-medium" id="conversionRate"></td>
                </tr>
                <tr>
                    <td class="header-base-small" id="introducedToCurrency" style="text-align: right;"></td>
                    <td class="header-base-medium" id="conversionResult"></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="exchangeTab">
        <div id="exchangeRateContent">
            <select onchange="ASC.CRM.ExchangeRateView.updateSummaryTable(this.value);" style="width: 100%;" class="comboBox">
            </select>
            <div class="ratesTableContainer">
                <table class="table-list padding4" cellpadding="0" cellspacing="0" id="ratesTable"></table>
            </div>
        </div>
    </div>

    <div class="action_block clearFix" style="margin-top: 15px;">
        <div style="display:inline-block;">
            <span class="header-base-small">${ASC.CRM.Resources.CRMCommonResource.ConversionDate}</span>:&nbsp;${ratesPublisherDisplayDate}
        </div>
        <div style="float: right;">
            <span class="text-medium-describe">${ASC.CRM.Resources.CRMCommonResource.InformationProvidedBy}</span>&nbsp;<a class="link blue bold" href="http://themoneyconverter.com/" target="_blank">The Money Converter.com</a>
        </div>
        <div class="middle-button-container">
            <a class="button gray" href="javascript:void(0)" onclick="PopupKeyUpActionProvider.EnableEsc = true; jq.unblockUI();">
                ${ASC.CRM.Resources.CRMCommonResource.CloseThisWindow}
            </a>
        </div>
    </div>
</script>