<script id="simpleContactTmpl" type="text/x-jquery-tmpl">
    <tr id="contactItem_${id}" {{if typeof showActionMenu !== "undefined" && showActionMenu === true}}class="with-entity-menu"{{/if}}>
        <td style="width:40px;">
            <div class="contactItemPhotoImgContainer{{if isShared === true}} sharedContact{{/if}}">
                {{if isCompany == true}}
                <img class="contactItemPhotoImg" src="${ASC.CRM.Data.SmallSizePhotoCompany}" alt="${displayName}" title="${displayName}" onload="ASC.CRM.Common.loadContactFoto(jq(this), jq(this).next(), '${smallFotoUrl}');" />
                {{else}}
                <img class="contactItemPhotoImg" src="${ASC.CRM.Data.SmallSizePhoto}" alt="${displayName}" title="${displayName}" onload="ASC.CRM.Common.loadContactFoto(jq(this), jq(this).next(), '${smallFotoUrl}');" />
                {{/if}}
                <img class="contactItemPhotoImg" style="display:none;" alt="${displayName}" title="${displayName}"/>
            </div>
        </td>
        <td class="main-info-contact" style="width:50%;">
            <div class="contactTitle">
                {{if typeof(id)=="number"}}
                <a class="linkHeaderMedium" href="${contactLink}">${displayName}</a>
                {{else}}
                <span class="header-base-small">${displayName}</span>
                {{/if}}
            </div>
            {{if isCompany == false && typeof (company) != "undefined" && company != null && showCompanyLink}}
                <div class="contactTitle">
                    ${ASC.CRM.Resources.CRMContactResource.Company}:
                    <a href="${company.contactLink}" data-id="${company.id}" id="contact_${id}_company_${company.id}" class="linkMedium crm-companyInfoCardLink">
                        ${company.displayName}
                    </a>
                </div>
            {{/if}}
        </td>

         <td class="contact-info-contact">
            <div class="primaryDataContainer">
                {{each(i, item) commonData}}
                    {{if item.infoType == 0 && item.isPrimary}}
                        <span title="${item.data}">${item.data}</span>
                    {{/if}}
                {{/each}}
            </div>
            <div class="primaryDataContainer">
                {{each(i, item) commonData}}
                    {{if item.infoType == 1 && item.isPrimary}}
                        <a title="${item.data}" href="mailto:${item.data}" class="linkMedium">${item.data}</a>
                    {{/if}}
                {{/each}}
            </div>
        </td>
        <td style="width:25px;">
            {{if typeof showActionMenu !== "undefined" && showActionMenu === true}}
                <div title="${ASC.CRM.Resources.CRMCommonResource.Actions}" class="entity-menu" id="simpleContactMenu_${id}"
                    data-displayName="${displayName}" 
                    data-email="{{if primaryEmail !== null}}${primaryEmail.data}{{/if}}"
                ></div>
            {{else typeof showUnlinkBtn !== "undefined" && showUnlinkBtn === true}}
            <img src="${StudioManager.GetImage('unlink_16.png')}"
               class="contact-info-link-img"
               title="${ASC.CRM.Resources.CRMCommonResource.UnlinkContact}"
               onclick='ASC.CRM.ListContactView.removeMember({{if typeof(id)=="number"}}${id}{{else}}"${id}"{{/if}});'
               id="trashImg_${id}" />
            <div id="loaderImg_${id}" class="loader-middle baseList_loaderImg"></div>
            {{/if}}
        </td>
    </tr>
</script>

<script id="simpleContactActionMenuTmpl" type="text/x-jquery-tmpl">
    <div id="simpleContactActionMenu" class="studio-action-panel">
        <ul class="dropdown-content">
            <li><a class="unlinkContact dropdown-item with-icon unlink">${ASC.CRM.Resources.CRMCommonResource.UnlinkContact}</a></li>
            <li><a class="writeEmail dropdown-item with-icon email">${ASC.CRM.Resources.CRMContactResource.WriteEmail}</a></li>
            <li><a class="viewMailingHistory dropdown-item with-icon history">${ASC.CRM.Resources.CRMCommonResource.ViewMailingHistoryWithParticipant}</a></li>
        </ul>
    </div>
</script>