/*
(c) Copyright Ascensio System SIA 2010-2014

This program is a free software product.
You can redistribute it and/or modify it under the terms 
of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of 
any third-party rights.

This program is distributed WITHOUT ANY WARRANTY; without even the implied warranty 
of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see 
the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html

You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.

The  interactive user interfaces in modified source and object code versions of the Program must 
display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 
Pursuant to Section 7(b) of the License you must retain the original Product logo when 
distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under 
trademark law for use of our trademarks.
 
All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
*/

body
{
}
div.ui-page.page-crm-persone div.ui-content div.ui-company-title,
div.ui-page.page-crm-company div.ui-content div.ui-company-title
{
  background:#cfd2d7;  
  border-bottom:1px solid #919191;
  height:7em;
  position:relative;
  font-size:1em;
  overflow:hidden;
}

div.ui-page.page-crm-history div.ui-content div.ui-company-title,
div.ui-page.page-crm-contactfiles div.ui-content div.ui-company-title,
div.ui-page.page-crm-contacttasks div.ui-content div.ui-company-title,
div.ui-page.page-crm-contactpersones div.ui-content div.ui-company-title
{
  background:#cfd2d7; 
  border-bottom:1px solid #919191;
  height:4.5em;
  position:relative;
  font-size:1em;
  overflow:hidden;
}

div.ui-page.page-crm-persone div.ui-content div.item-avatar,
div.ui-page.page-crm-company div.ui-content div.item-avatar
{
  background:#E0E0E0;
  border:1px solid #bfbfbf;
  width:70px;
  height:70px;
  position:absolute;
  left:.5em;
  top:0.7em;
  z-index:0;
  overflow:hidden;

  border-radius:5px;
  -o-border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

div.ui-page.page-crm-history div.ui-content div.item-smallavatar,
div.ui-page.page-crm-contactfiles div.ui-content div.item-smallavatar,
div.ui-page.page-crm-contacttasks div.ui-content div.item-smallavatar,
div.ui-page.page-crm-contactpersones div.ui-content div.item-smallavatar
{
  background:#E0E0E0;
  border:1px solid #D0D0D0;
  width:40px;
  height:40px;
  position:absolute;
  left:.5em;
  top:0.7em;
  z-index:0;
  overflow:hidden;

  border-radius:2em;
  -o-border-radius:2em;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

div.ui-page.page-crm-persone div.ui-content div.item-avatar img,
div.ui-page.page-crm-company div.ui-content div.item-avatar img,
div.ui-page.page-crm-history div.ui-content div.item-avatar img,
div.ui-page.page-crm-contactfiles div.ui-content div.item-avatar img,
div.ui-page.page-crm-contacttasks div.ui-content div.item-avatar img,
div.ui-page.page-crm-contactpersones div.ui-content div.item-avatar img
{
  padding-top: 15px;
  padding-left: 15px;
}

div.ui-page.page-crm-persone div.ui-content div.item-content,
div.ui-page.page-crm-company div.ui-content div.item-content
{
  display:block;
  height:100%;
  padding-left:80px;
  margin-left:10px;
  position: relative;
  z-index:1;
  color:#000;
  text-decoration:none;
}

div.ui-page.page-crm-persone div.ui-content div.item-content.contact-data,
div.ui-page.page-crm-company div.ui-content div.item-content.contact-data
{
  display:block;
  height:100%;
  padding-left:50px;
  margin-left:10px;
  position: relative;
  z-index:1;
  color:#000;
  text-decoration:none;
}

div.ui-page.page-crm-history div.ui-content div.item-content,
div.ui-page.page-crm-contactpersones div.ui-content div.item-content,
div.ui-page.page-crm-contacttasks div.ui-content div.item-content,
div.ui-page.page-crm-contactfiles div.ui-content div.item-content
{
  display:block;
  height:100%;
  padding-left:45px;
  margin-left:10px;
  position: relative;
  z-index:1;
  color:#000;
  text-decoration:none;
}

div.ui-page.page-crm-persone div.ui-content div.item-content span.item-name,
div.ui-page.page-crm-company div.ui-content div.item-content span.item-name
{
  display:block;
  max-height:1.3em;
  line-height:1.3em;
  padding-top:0.4em;
  font-size:1.5em;
  font-weight: bold;
  overflow:hidden;
  width: 400px;

  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
}

div.ui-page.page-crm-history div.ui-content div.item-content span.item-name,
div.ui-page.page-crm-contactpersones div.ui-content div.item-content span.item-name,
div.ui-page.page-crm-contacttasks div.ui-content div.item-content span.item-name,
div.ui-page.page-crm-contactfiles div.ui-content div.item-content span.item-name
{
  display:block;
  max-height:1.3em;
  line-height:1.3em;
  padding-top:0.9em;
  font-size:1.5em;
  font-weight: bold;
  overflow:hidden;
  width: 300px;

  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
}

div.ui-page.page-crm-persone div.ui-content div.item-content span.item-companyname
{
  display:block;
  max-height:2.6em;
  line-height:1.3em;
  padding-top:0.8em;
  font-size:1.2em;
  font-weight: bold;
  overflow:hidden;
  width: 400px;

  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
}

div.ui-page.page-crm-persone div.ui-content div.ui-item-content a.company-label
{
    text-decoration: none;
}


div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-company div.item-companylabel
{
    width: 40px;
    height: 40px;
    display: inline;
    float: left;
    margin: 12px 0px 0px 10px;
}

div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-addresses div.item-category,
div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-phone div.item-category,
div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-email div.item-category,
div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-site div.item-category,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-addresses div.item-category,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-phone div.item-category,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-email div.item-category,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-site div.item-category
{
    background: #d6dbdf;
    width: 40px;
    height: 17px;    
    float: left;
    margin: 5px 0px 0px 10px;
    border-radius: 0.3em 0.3em 0.3em 0.3em; 
       
}

div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-addresses div.item-category div.category-text,
div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-phone div.item-category div.category-text,
div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-email div.item-category div.category-text,
div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-site div.item-category div.category-text,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-addresses div.item-category div.category-text,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-phone div.item-category div.category-text,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-email div.item-category div.category-text,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-site div.item-category div.category-text
{
    margin: 4px 0px 0px 0px;   
    font-size: 0.6em;
    font-weight: bold;
    color: #43799b;
    text-align: center;   
}

div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-addresses div.item-category.primary,
div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-phone div.item-category.primary,
div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-email div.item-category.primary,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-addresses div.item-category.primary,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-phone div.item-category.primary,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-email div.item-category.primary

{
    background: #43799b;  
    width: 40px;
    height: 17px;    
    float: left;
    margin: 5px 0px 0px 10px;
    border-radius: 0.3em 0.3em 0.3em 0.3em;    
}

div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-addresses div.item-category.primary div.category-text,
div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-phone div.item-category.primary div.category-text,
div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.persone-email div.item-category.primary div.category-text,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-addresses div.item-category.primary div.category-text,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-phone div.item-category.primary div.category-text,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.company-email div.item-category.primary div.category-text

{
    margin: 4px 0px 0px 0px;
    font-size: 0.6em;
    font-weight: bold;
    color: White;
    text-align: center;    
}

div.ui-page.page-crm-persone div.ui-content div.item-content span.item-icon.phone,
div.ui-page.page-crm-persone div.ui-content div.item-content a.add-phone span.item-icon.add-phone,
div.ui-page.page-crm-persone div.ui-content div.item-content span.item-icon.email,
div.ui-page.page-crm-persone div.ui-content div.item-content a.add-email span.item-icon.add-email,
div.ui-page.page-crm-persone div.ui-content div.item-content span.item-icon.addhistory,
div.ui-page.page-crm-persone div.ui-content div.item-content span.item-icon.addtask,
div.ui-page.page-crm-company div.ui-content div.item-content span.item-icon.phone,
div.ui-page.page-crm-company div.ui-content div.item-content a.add-phone span.item-icon.add-phone,
div.ui-page.page-crm-company div.ui-content div.item-content span.item-icon.email,
div.ui-page.page-crm-company div.ui-content div.item-content a.add-email span.item-icon.add-email,
div.ui-page.page-crm-company div.ui-content div.item-content span.item-icon.addhistory,
div.ui-page.page-crm-company div.ui-content div.item-content span.item-icon.addtask,
div.ui-page.page-crm-contactfiles div.ui-content div.item-content span.item-icon.phone,
div.ui-page.page-crm-contactfiles div.ui-content div.item-content span.item-icon.email,
div.ui-page.page-crm-contactfiles div.ui-content div.item-content span.item-icon.addhistory,
div.ui-page.page-crm-contactfiles div.ui-content div.item-content span.item-icon.addtask,
div.ui-page.page-crm-contacttasks div.ui-content div.item-content span.item-icon.phone,
div.ui-page.page-crm-contacttasks div.ui-content div.item-content span.item-icon.email,
div.ui-page.page-crm-contacttasks div.ui-content div.item-content span.item-icon.addhistory,
div.ui-page.page-crm-contacttasks div.ui-content div.item-content span.item-icon.addtask,
div.ui-page.page-crm-history div.ui-content div.item-content span.item-icon.phone,
div.ui-page.page-crm-history div.ui-content div.item-content span.item-icon.email,
div.ui-page.page-crm-history div.ui-content div.item-content span.item-icon.addhistory,
div.ui-page.page-crm-history div.ui-content div.item-content span.item-icon.addtask
{
    background:none center center no-repeat;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

div.ui-page.page-crm-persone div.ui-content div.item-content a.add-map span.item-icon.add-map,
div.ui-page.page-crm-company div.ui-content div.item-content a.add-map span.item-icon.add-map
{
    background:none center center no-repeat;
    display: block;    
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

div.ui-page.page-crm-persone div.ui-content div.item-content span.item-personstate,
div.ui-page.page-crm-persone div.ui-content div.item-content span.item-address,
div.ui-page.page-crm-persone div.ui-content div.item-content span.item-phone,
div.ui-page.page-crm-persone div.ui-content div.item-content span.item-email,
div.ui-page.page-crm-persone div.ui-content div.item-content span.item-site,
div.ui-page.page-crm-company div.ui-content div.item-content span.item-address,
div.ui-page.page-crm-company div.ui-content div.item-content span.item-phone,
div.ui-page.page-crm-company div.ui-content div.item-content span.item-email,
div.ui-page.page-crm-company div.ui-content div.item-content span.item-site
{
  display:block;
  max-height:1.5em;
  line-height:1.5em;
  padding-top:0.3em;
  font-size:1em;
  font-weight: bold;
  overflow:hidden;
  width: 400px;

  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
}

div.ui-page.page-crm-persone div.ui-content div.ui-scroller div.ui-item-content div.persone-addresses,
div.ui-page.page-crm-persone div.ui-content div.ui-scroller div.ui-item-content div.persone-company,
div.ui-page.page-crm-persone div.ui-content div.ui-scroller div.ui-item-content div.persone-phone,
div.ui-page.page-crm-persone div.ui-content div.ui-scroller div.ui-item-content div.persone-email,
div.ui-page.page-crm-persone div.ui-content div.ui-scroller div.ui-item-content div.persone-site,
div.ui-page.page-crm-company div.ui-content div.ui-scroller div.ui-item-content div.company-addresses,
div.ui-page.page-crm-company div.ui-content div.ui-scroller div.ui-item-content div.company-company,
div.ui-page.page-crm-company div.ui-content div.ui-scroller div.ui-item-content div.company-phone,
div.ui-page.page-crm-company div.ui-content div.ui-scroller div.ui-item-content div.company-email,
div.ui-page.page-crm-company div.ui-content div.ui-scroller div.ui-item-content div.company-site
{
    margin-bottom: 10px;
}



div.ui-page.page-crm-history div.ui-content div.ui-scroller ul.ui-timeline,
div.ui-page.page-crm-contactfiles div.ui-content div.ui-scroller ul.ui-timeline,
div.ui-page.page-crm-contactpersones div.ui-content div.ui-scroller ul.ui-timeline
{
  list-style:none;
  margin:0;
  padding:0;
}


div.ui-page.page-crm-history div.ui-content div.ui-scroller ul.ui-timeline li.item,
div.ui-page.page-crm-contactfiles div.ui-content div.ui-scroller ul.ui-timeline li.item
{
  background:#E8E9EA;
  border-top:1px solid #F0F0F0;
  border-bottom:1px solid #D9D9D9;
  height:4em;
  position:relative;
  font-size:1em;
  overflow:hidden;
}

div.ui-page.page-crm-contactpersones div.ui-content div.ui-scroller ul.ui-timeline li.item
{
  background:#E8E9EA;
  border-top:1px solid #F0F0F0;
  border-bottom:1px solid #D9D9D9;
  height:5em;
  position:relative;
  font-size:1em;
  overflow:hidden;
}
  
div.ui-page.page-crm-history div.ui-content div.ui-scroller div.item,
div.ui-page.page-crm-contactpersones div.ui-content div.ui-scroller div.item
{
  background:#E8E9EA;
  position:relative;
  font-size:1em;
  overflow:hidden;
}

div.ui-page.page-crm-history div.ui-content div.ui-scroller ul.ui-timeline li.item:first-child,
div.ui-page.page-crm-contactfiles div.ui-content div.ui-scroller ul.ui-timeline li.item:first-child,
div.ui-page.page-crm-contactpersones div.ui-content div.ui-scroller ul.ui-timeline li.item:first-child
{
  border-top-width:0;
}

div.ui-page.page-crm-history div.ui-content div.ui-scroller ul.ui-timeline li.item span.inner-text,
div.ui-page.page-crm-contactfiles div.ui-content div.ui-scroller ul.ui-timeline li.item span.inner-text,
div.ui-page.page-crm-contactfiles div.ui-content .inner-text,
div.ui-page.page-crm-contactfpersones div.ui-content div.ui-scroller ul.ui-timeline li.item span.inner-text
{
  display:block;  
  line-height:1em;
  padding:1.2em 1em 0 .5em;
  font-size:1.2em;
  font-weight: bold;
  overflow:hidden;
  width: 190px;
  color: black;
  
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;  
}

div.ui-page.page-crm-contactfiles div.ui-content div.ui-scroller ul.ui-timeline li.item.files a.title
{
  text-decoration: none;
}

div.ui-page.page-crm-history div.ui-content div.ui-scroller ul.ui-timeline li.item span.inner-text
{
  display:block;  
  line-height:1em;
  padding:0.4em 1em 0 .5em;
  font-size:1em;
  font-weight: bold;
  max-height: 3em;
  overflow:hidden;
  width: 200px;
  color: black;

  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
}

div.ui-page.page-crm-history div.ui-content div.ui-scroller ul.ui-timeline li.item span.item-date
{
  display:block;
  background:none left bottom no-repeat;
  height:4em;
  margin:-6px 0 0;
  position:absolute;
  right:3em;
  top:50%;
  white-space:nowrap;
  text-align:right;
}

div.ui-page.page-crm-history div.ui-content div.ui-scroller ul.ui-timeline li.item span.item-date span.date-text
{
  display:block;
  border:0;
  overflow:hidden;
  height:35%;
  margin:0 10px 0 0;
  font-size:10px;
  font-weight:bold;
  color:#000;
}

div.ui-page.page-crm-history div.ui-content div.ui-scroller ul.ui-timeline li.item span.item-date span.time
{
  color: #808080;
}

div.ui-page.page-crm-contactpersones div.ui-content div.item-title
{
  border-top:1px solid #F0F0F0;
  border-bottom:1px solid #D9D9D9;
  position:relative;
  font-size:1em;
  overflow:hidden;
}

div.ui-page.page-crm-contactpersones div.ui-content div.item-title span.text
{
  display:inline-block;
  margin:1.8em .5em;
  font-weight:bold;
}

div.ui-page.page-crm-contactpersones div.ui-content ul.ui-timeline li.item-separator
{
  background:#777;
  height:1px;
  line-height:1px;
  overflow:hidden;
}

div.ui-page.page-crm-contactpersones div.ui-content ul.ui-timeline.one-type li.item-separator
{
  display:none;
}

div.ui-page.page-crm-contactpersones div.ui-content ul.ui-timeline li.item.active-item
{
  background:linear-gradient(top, #058CF5, #015DE6);
  background:-o-linear-gradient(top, #058CF5, #015DE6);
  background:-moz-linear-gradient(top, #058CF5, #015DE6);
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#058CF5), to(#015DE6));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#058CF5', EndColorStr='#015DE6')";
}

div.ui-page.page-crm-contactpersones div.ui-content ul.ui-timeline li.item div.item-state.white
{
  background-color:#FFF;
}

div.ui-page.page-crm-contactpersones div.ui-content ul.ui-timeline li.item div.item-state
{
  background:#E0E0E0;
  border:1px solid #D0D0D0;
  width:3.8em;
  height:3.8em;
  position:absolute;
  left:.5em;
  top:.5em;
  z-index:0;
  overflow:hidden;

  border-radius:2em;
  -o-border-radius:2em;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

div.ui-page.page-crm-contactpersones div.ui-content ul.ui-timeline li.item a.title
{
  display:block;
  height:100%;
  padding-left:5em;
  position:relative;
  z-index:1;
  color:#000;
  text-decoration:none;
}

div.ui-page.page-crm-contactpersones div.ui-content ul.ui-timeline li.item a.title span.inner-text
{
  display:block;
  max-height:2.6em;
  line-height:1.3em;
  padding:.5em 1em 0 .5em;
  font-size:1em;
  font-weight: bold;
  overflow:hidden;
  width: 400px;

  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
}

div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container
{
    background: #cfd2d7;
    margin-bottom: 6px;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    margin-right: auto;
    position: relative;   
    padding: 5px 10px 3px 10px;
    font-size: 1em;
    clear: both;
    white-space: pre-line;
    word-wrap: break-word;
    margin-top: 3px;     
}

div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container div.add-phone,
div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container div.add-email,
div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container div.add-address,
div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container div.add-site
{
    border-top: 1px solid #E8E9EA;
    margin-top: 6px;    
}

div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container label
{
    width: 700px;
    display: block;
}

div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container div.add-phone label,
div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container div.add-email label,
div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container div.add-address label,
div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container div.add-site label
{
    font-size: 0.9em;
    margin-top: 10px;
    width: 100px;   
    float: left; 
}

div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container select.company-name
{
   height: 30px;
}

div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container input.contact-phone,
div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container input.contact-email
{
    width: 58% !important;        
}

div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container input.contact-address,
div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container input.contact-site
{
    width: 85% !important;        
}

div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container button.delete-field
{
    width: 28px !important;
    float: right;   
    height: 28px;
    background:none center center no-repeat;
    border: 0px;    
}

div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container select.phone-type,
div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container select.email-type
{
    width: 75px !important;
    float: left;
    display: inline-block;    
    height: 30px;
    margin-right: 6px;
    
}

div.ui-page.page-crm-history div.ui-content div.ui-scroller ul.ui-timeline li.item span.item-delete
{
  display:block;
  background:none left bottom no-repeat;
  height:5em;
  margin:-20px 0 0;
  position:absolute;
  right:.5em;
  top:50%;
  white-space:nowrap;
  text-align:right;
}

div.ui-page.page-crm-history div.ui-content div.ui-scroller ul.ui-timeline li.item span.item-delete button.delete-item.delete-crm-history-event
{
    width: 35px !important;
    float: right;
    margin-top: 3px;
    height: 35px;
    background:none center center no-repeat;
    border: 0px solid #ABABAB;
    color: Black;
}

div.ui-page.page-additem.page-crm-addperson div.ui-content div.fields-container div.separator
{
    height: 10px;
}

div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.edit-contact,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.edit-contact
{
  border-radius:.6em;
  -o-border-radius:.6em;
  -moz-border-radius:.6em;
  -webkit-border-radius:.6em;
  display:block;
  border:1px solid #426374;
  height:3em;  
  font-weight:bold;
  color:#FFF;
  text-shadow:0 1px 1px #325465;
  background-image:url(images/bg-a6b6c2-0000ff.gif);
  background-image:linear-gradient(top, #6297B1, #305466);
  background-image:-o-linear-gradient(top, #6297B1, #305466);
  background-image:-moz-linear-gradient(top, #6297B1, #305466);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#6297B1), to(#305466));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#6297B1', EndColorStr='#305466')";  
  width: 50%; 
  margin-top: 20px;
  margin-left: 25%; 
  margin-bottom: 20px;   
}

div.ui-page.page-crm-persone div.ui-content div.ui-item-content div.edit-contact a.edit-contact,
div.ui-page.page-crm-company div.ui-content div.ui-item-content div.edit-contact a.edit-contact
{
   display:block;
   color: #fff;
   margin-top: 10px;
   margin-left: 4px;
   text-align: center;
   font-size: 1.2em;
   text-decoration: none;   
   text-shadow: 0 1px 1px #325465;
}

div.ui-page.page-crm-addperson button.cansel-crm-contact,
div.ui-page.page-crm-addcompany button.cansel-crm-contact
{
  display:block;
  border:1px solid #b4b4b4;
  width:48%;
  float: right;
  height:3em;  
  font-weight:bold;
  color:#3e3e3e;
  text-shadow:0 1px 1px #a2a2a2;

  background-image:url(images/bg-a6b6c2-0000ff.gif);
  background-image:linear-gradient(top, #f4f4f4, #dfdfdf);
  background-image:-o-linear-gradient(top, #f4f4f4, #dfdfdf);
  background-image:-moz-linear-gradient(top, #f4f4f4, #dfdfdf);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#dfdfdf));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#dfdfdf')";
}



